CrowdStrike/output/Enrich_CrowdStrike_Device_Info_Incident_Playbook.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "workflows_Enrich_CrowdStrike_Device_Info_Incident_Playbook_name": {
      "defaultValue": "BORRAR",
      "type": "String"
    },
    "workflows_OrchestatorPart_CrowdStrike_Device_Info_Playbook_externalid": {
      "defaultValue": "BORRAR",
      "type": "String"
    }
  },
  "variables": {
    "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('workflows_Enrich_CrowdStrike_Device_Info_Incident_Playbook_name'))]",
    "var_workflows_OrchestatorPart_CrowdStrike_Device_Info_Playbook_externalid": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name ,'/providers/Microsoft.Logic/workflows/', parameters('workflows_OrchestatorPart_CrowdStrike_Device_Info_Playbook_externalid'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('workflows_Enrich_CrowdStrike_Device_Info_Incident_Playbook_name')]",
      "location": "westeurope",
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "workflows_Enrich_CrowdStrike_Device_Info_Incident_Playbook_name": {
              "defaultValue": "[parameters('workflows_Enrich_CrowdStrike_Device_Info_Incident_Playbook_name')]",
              "type": "String"
            },
            "workflows_OrchestatorPart_CrowdStrike_Device_Info_Playbook_externalid": {
              "defaultValue": "[variables('var_workflows_OrchestatorPart_CrowdStrike_Device_Info_Playbook_externalid')]",
              "type": "String"
            },
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Entidades:_obtener_hosts": {
              "runAfter": {
                "Initialize_variables_hostnames": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                "path": "/entities/host"
              }
            },
            "Initialize_variables_hostnames": {
              "runAfter": {},
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "hostnames",
                    "type": "array"
                  }
                ]
              }
            },
            "Condition_has_hosts": {
              "actions": {
                "For_each": {
                  "foreach": "@body('Entidades:_obtener_hosts')?['Hosts']",
                  "actions": {
                    "Append_to_array_variable": {
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "hostnames",
                        "value": "@items('For_each')?['hostname']"
                      }
                    }
                  },
                  "type": "Foreach"
                },
                "OrchestatorPart_CrowdStrike_Device_Info_Playbook": {
                  "runAfter": {
                    "For_each": [
                      "Succeeded"
                    ]
                  },
                  "type": "Workflow",
                  "inputs": {
                    "host": {
                      "workflow": {
                        "id": "[variables('var_workflows_OrchestatorPart_CrowdStrike_Device_Info_Playbook_externalid')]"
                      },
                      "triggerName": "manual"
                    },
                    "body": {
                      "hostnames": "@variables('hostnames')",
                      "armID": "@triggerBody()?['object']?['id']"
                    },
                    "retryPolicy": {
                      "type": "none"
                    }
                  }
                },
                "Agregar_un_comentario_al_incidente_(V3)": {
                  "runAfter": {
                    "OrchestatorPart_CrowdStrike_Device_Info_Playbook": [
                      "Succeeded"
                    ]
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                      }
                    },
                    "method": "post",
                    "body": {
                      "incidentArmId": "@triggerBody()?['object']?['id']",
                      "message": "<p class=\"editor-paragraph\">@{body('OrchestatorPart_CrowdStrike_Device_Info_Playbook')?['message']}</p>"
                    },
                    "path": "/Incidents/Comment"
                  }
                }
              },
              "runAfter": {
                "Entidades:_obtener_hosts": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {}
              },
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@length(body('Entidades:_obtener_hosts')?['Hosts'])",
                      0
                    ]
                  }
                ]
              },
              "type": "If"
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                "connectionName": "[variables('AzureSentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]"
      ]
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('AzureSentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('AzureSentinelConnectionName')]",
        "customParameterValues": {},
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
        }
      }
    }
  ]
}