CrowdStrike/output/OrchestatorPart_CrowdStrike_Block_IOC_Playbook.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "workflows_OrchestatorPart_CrowdStrike_Block_IOC_Playbook_name": {
      "defaultValue": "BORRAR",
      "type": "String"
    },
    "workflows_OrchestatorPart_CrowdStrike_Auth_Playbook_externalid": {
      "defaultValue": "BORRAR",
      "type": "String"
    }
  },
  "variables": {
    "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('workflows_OrchestatorPart_CrowdStrike_Block_IOC_Playbook_name'))]",
    "var_workflows_OrchestatorPart_CrowdStrike_Auth_Playbook_externalid": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name ,'/providers/Microsoft.Logic/workflows/', parameters('workflows_OrchestatorPart_CrowdStrike_Auth_Playbook_externalid'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('workflows_OrchestatorPart_CrowdStrike_Block_IOC_Playbook_name')]",
      "location": "westeurope",
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "workflows_OrchestatorPart_CrowdStrike_Block_IOC_Playbook_name": {
              "type": "String",
              "defaultValue": "[parameters('workflows_OrchestatorPart_CrowdStrike_Block_IOC_Playbook_name')]"
            },
            "workflows_OrchestatorPart_CrowdStrike_Auth_Playbook_externalid": {
              "type": "String",
              "defaultValue": "[variables('var_workflows_OrchestatorPart_CrowdStrike_Auth_Playbook_externalid')]"
            },
            "$connections": {
              "type": "Object",
              "defaultValue": {}
            }
          },
          "triggers": {
            "Manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "type",
                    "content"
                  ]
                }
              }
            }
          },
          "actions": {
            "OrchestatorPart_CrowdStrike_Auth_Playbook": {
              "runAfter": {
                "Initialize_variables_indicators": [
                  "Succeeded"
                ]
              },
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflow": {
                    "id": "[variables('var_workflows_OrchestatorPart_CrowdStrike_Auth_Playbook_externalid')]"
                  },
                  "triggerName": "manual"
                }
              }
            },
            "Parse_JSON": {
              "runAfter": {
                "OrchestatorPart_CrowdStrike_Auth_Playbook": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('OrchestatorPart_CrowdStrike_Auth_Playbook')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "AccessToken": {
                      "type": "string"
                    },
                    "FalconHost": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "For_each": {
              "foreach": "@triggerBody()?['content']",
              "actions": {
                "HTTP_POST_IOC_Indicators": {
                  "type": "Http",
                  "inputs": {
                    "uri": "@{body('Parse_JSON')?['FalconHost']}​/iocs/entities/indicators/v1?ignore_warnings=false\n",
                    "method": "POST",
                    "headers": {
                      "Authorization": "@{body('Parse_JSON')?['AccessToken']}",
                      "Content-Type": "application/json",
                      "Accept": "application/json"
                    },
                    "body": {
                      "comment": "Bloqueo automático desde playbook de sentinel",
                      "indicators": [
                        {
                          "action": "prevent",
                          "applied_globally": true,
                          "description": "Bloqueo de hash malicioso",
                          "type": "@triggerBody()?['type']",
                          "value": "@items('For_each')",
                          "severity": "medium",
                          "platforms": [
                            "windows",
                            "linux",
                            "mac"
                          ]
                        }
                      ]
                    }
                  },
                  "runtimeConfiguration": {
                    "contentTransfer": {
                      "transferMode": "Chunked"
                    }
                  }
                },
                "Condition": {
                  "actions": {
                    "Append_to_string_variable": {
                      "type": "AppendToStringVariable",
                      "inputs": {
                        "name": "indicators_created",
                        "value": "\nCreated indicator\n\n@{body('HTTP_POST_IOC_Indicators')}"
                      }
                    }
                  },
                  "runAfter": {
                    "HTTP_POST_IOC_Indicators": [
                      "Succeeded",
                      "Failed"
                    ]
                  },
                  "else": {
                    "actions": {
                      "Append_to_string_variable_1": {
                        "type": "AppendToStringVariable",
                        "inputs": {
                          "name": "indicators_created",
                          "value": "\nCan't create indicator\n\n@{body('HTTP_POST_IOC_Indicators')}"
                        }
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@outputs('HTTP_POST_IOC_Indicators')?['statusCode']",
                          201
                        ]
                      }
                    ]
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Parse_JSON": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Initialize_variables_indicators": {
              "runAfter": {},
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "indicators_created",
                    "type": "string"
                  }
                ]
              }
            },
            "Response_201_Created": {
              "runAfter": {
                "For_each": [
                  "Succeeded",
                  "Failed"
                ]
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 201,
                "body": {
                  "message": "@variables('indicators_created')"
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                "connectionName": "[variables('AzureSentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]"
      ]
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('AzureSentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('AzureSentinelConnectionName')]",
        "customParameterValues": {},
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
        }
      }
    }
  ]
}