CrowdStrike/output/OrchestatorPart_CrowdStrike_Launch_Antivirus_Playbook.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "workflows_OrchestatorPart_CrowdStrike_Launch_Antivirus_Playbook_name": {
      "defaultValue": "BORRAR",
      "type": "String"
    },
    "workflows_OrchestatorPart_CrowdStrike_Auth_Playbook_externalid": {
      "defaultValue": "BORRAR",
      "type": "String"
    }
  },
  "variables": {
    "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('workflows_OrchestatorPart_CrowdStrike_Launch_Antivirus_Playbook_name'))]",
    "var_workflows_OrchestatorPart_CrowdStrike_Auth_Playbook_externalid": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name ,'/providers/Microsoft.Logic/workflows/', parameters('workflows_OrchestatorPart_CrowdStrike_Auth_Playbook_externalid'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('workflows_OrchestatorPart_CrowdStrike_Launch_Antivirus_Playbook_name')]",
      "location": "westeurope",
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "workflows_OrchestatorPart_CrowdStrike_Launch_Antivirus_Playbook_name": {
              "type": "String",
              "defaultValue": "[parameters('workflows_OrchestatorPart_CrowdStrike_Launch_Antivirus_Playbook_name')]"
            },
            "workflows_OrchestatorPart_CrowdStrike_Auth_Playbook_externalid": {
              "type": "String",
              "defaultValue": "[variables('var_workflows_OrchestatorPart_CrowdStrike_Auth_Playbook_externalid')]"
            },
            "$connections": {
              "type": "Object",
              "defaultValue": {}
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hostnames": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "actions": {
            "OrchestatorPart_CrowdStrike_Auth_Playbook": {
              "runAfter": {
                "Initialize_variables_response_output": [
                  "Succeeded"
                ]
              },
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflow": {
                    "id": "[variables('var_workflows_OrchestatorPart_CrowdStrike_Auth_Playbook_externalid')]"
                  },
                  "triggerName": "manual"
                }
              }
            },
            "Parse_JSON_AUTH": {
              "runAfter": {
                "OrchestatorPart_CrowdStrike_Auth_Playbook": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('OrchestatorPart_CrowdStrike_Auth_Playbook')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "AccessToken": {
                      "type": "string"
                    },
                    "FalconHost": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "For_each": {
              "foreach": "@triggerBody()?['hostnames']",
              "actions": {
                "HTTP_GET_ID_From_Hostname": {
                  "type": "Http",
                  "inputs": {
                    "uri": "@{body('Parse_JSON_AUTH')?['FalconHost']}/devices/queries/devices/v1?filter=hostname:'@{items('For_each')}'",
                    "method": "GET",
                    "headers": {
                      "Authorization": "@{body('Parse_JSON_AUTH')?['AccessToken']}",
                      "Accept": "application/json",
                      "Content-Type": "application/json"
                    }
                  },
                  "runtimeConfiguration": {
                    "contentTransfer": {
                      "transferMode": "Chunked"
                    }
                  }
                },
                "HTTP_POST_Initialize_RTR_Session": {
                  "runAfter": {
                    "Parse_JSON_ID": [
                      "Succeeded"
                    ]
                  },
                  "type": "Http",
                  "inputs": {
                    "uri": "@{body('Parse_JSON_AUTH')?['FalconHost']}/real-time-response/entities/sessions/v1",
                    "method": "POST",
                    "headers": {
                      "Authorization": "@{body('Parse_JSON_AUTH')?['AccessToken']}",
                      "Accept": "application/json",
                      "Content-Type": "application/json"
                    },
                    "body": {
                      "device_id": "@body('Parse_JSON_ID')?['resources']?[0]",
                      "queue_offline": true
                    }
                  },
                  "runtimeConfiguration": {
                    "contentTransfer": {
                      "transferMode": "Chunked"
                    }
                  }
                },
                "HTTP_POST_Run_Script": {
                  "runAfter": {
                    "Parse_JSON_SessionID": [
                      "Succeeded"
                    ]
                  },
                  "type": "Http",
                  "inputs": {
                    "uri": "@{body('Parse_JSON_AUTH')?['FalconHost']}​/real-time-response/entities/admin-command/v1",
                    "method": "POST",
                    "headers": {
                      "Authorization": "@{body('Parse_JSON_AUTH')?['AccessToken']}",
                      "Content-Type": "application/json",
                      "Accept": "application/json"
                    },
                    "body": {
                      "base_command": "runscript",
                      "command_string": "runscript -CloudFile=\"script-def.ps1\"",
                      "persist": true,
                      "device_id": "@body('Parse_JSON_SessionID')?['resources']?[0]?['device_id']",
                      "session_id": "@body('Parse_JSON_SessionID')?['resources']?[0]['session_id']"
                    }
                  },
                  "runtimeConfiguration": {
                    "contentTransfer": {
                      "transferMode": "Chunked"
                    }
                  }
                },
                "HTTP_GET_Output_Info": {
                  "runAfter": {
                    "Parse_JSON_Run_Script": [
                      "Succeeded"
                    ]
                  },
                  "type": "Http",
                  "inputs": {
                    "uri": "@{body('Parse_JSON_AUTH')?['FalconHost']}/real-time-response/entities/command/v1?cloud_request_id=@{body('Parse_JSON_Run_Script')?['resources']?[0]?['cloud_request_id']}&sequence_id=0",
                    "method": "GET",
                    "headers": {
                      "Authorization": "@{body('Parse_JSON_AUTH')?['AccessToken']}",
                      "Content-Type": "application/json",
                      "Accept": "application/json"
                    }
                  },
                  "runtimeConfiguration": {
                    "contentTransfer": {
                      "transferMode": "Chunked"
                    }
                  }
                },
                "Parse_JSON_ID": {
                  "runAfter": {
                    "HTTP_GET_ID_From_Hostname": [
                      "Succeeded"
                    ]
                  },
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@body('HTTP_GET_ID_From_Hostname')",
                    "schema": {
                      "type": "object",
                      "properties": {
                        "resources": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "Parse_JSON_SessionID": {
                  "runAfter": {
                    "HTTP_POST_Initialize_RTR_Session": [
                      "Succeeded"
                    ]
                  },
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@body('HTTP_POST_Initialize_RTR_Session')",
                    "schema": {
                      "type": "object",
                      "properties": {
                        "resources": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "session_id": {
                                "type": "string"
                              },
                              "device_id": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "session_id",
                              "device_id"
                            ]
                          }
                        }
                      }
                    }
                  }
                },
                "Parse_JSON_Run_Script": {
                  "runAfter": {
                    "HTTP_POST_Run_Script": [
                      "Succeeded"
                    ]
                  },
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@body('HTTP_POST_Run_Script')",
                    "schema": {
                      "type": "object",
                      "properties": {
                        "meta": {
                          "type": "object",
                          "properties": {
                            "query_time": {
                              "type": "number"
                            },
                            "powered_by": {
                              "type": "string"
                            },
                            "trace_id": {
                              "type": "string"
                            }
                          }
                        },
                        "resources": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "session_id": {
                                "type": "string"
                              },
                              "cloud_request_id": {
                                "type": "string"
                              },
                              "queued_command_offline": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "session_id",
                              "cloud_request_id",
                              "queued_command_offline"
                            ]
                          }
                        },
                        "errors": {}
                      }
                    }
                  }
                },
                "Append_to_string_variable": {
                  "runAfter": {
                    "HTTP_GET_Output_Info": [
                      "Succeeded"
                    ]
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "response_output",
                    "value": "dispositivo @{items('For_each')}: @{body('HTTP_GET_Output_Info')}"
                  }
                }
              },
              "runAfter": {
                "Parse_JSON_AUTH": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Response": {
              "runAfter": {
                "For_each": [
                  "Succeeded"
                ]
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "message": "@variables('response_output')"
                }
              }
            },
            "Initialize_variables_response_output": {
              "runAfter": {},
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "response_output",
                    "type": "string"
                  }
                ]
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                "connectionName": "[variables('AzureSentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]"
      ]
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('AzureSentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('AzureSentinelConnectionName')]",
        "customParameterValues": {},
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
        }
      }
    }
  ]
}