CrowdStrike/output/OrchestatorPart_CrowdStrike_Device_Isolation_Playbook.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "workflows_OrchestatorPart_CrowdStrike_Device_Isolation_Playbook_name": {
      "defaultValue": "BORRAR",
      "type": "String"
    },
    "workflows_OrchestatorPart_CrowdStrike_Auth_Playbook_externalid": {
      "defaultValue": "BORRAR",
      "type": "String"
    }
  },
  "variables": {
    "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('workflows_OrchestatorPart_CrowdStrike_Device_Isolation_Playbook_name'))]",
    "var_workflows_OrchestatorPart_CrowdStrike_Auth_Playbook_externalid": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name ,'/providers/Microsoft.Logic/workflows/', parameters('workflows_OrchestatorPart_CrowdStrike_Auth_Playbook_externalid'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('workflows_OrchestatorPart_CrowdStrike_Device_Isolation_Playbook_name')]",
      "location": "westeurope",
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "workflows_OrchestatorPart_CrowdStrike_Device_Isolation_Playbook_name": {
              "type": "String",
              "defaultValue": "[parameters('workflows_OrchestatorPart_CrowdStrike_Device_Isolation_Playbook_name')]"
            },
            "workflows_OrchestatorPart_CrowdStrike_Auth_Playbook_externalid": {
              "type": "String",
              "defaultValue": "[variables('var_workflows_OrchestatorPart_CrowdStrike_Auth_Playbook_externalid')]"
            },
            "$connections": {
              "type": "Object",
              "defaultValue": {}
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hostnames": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "actions": {
            "Call_OrchestatorPart_CrowdStrike_Auth_Playbook": {
              "runAfter": {
                "Initialize_variables": [
                  "Succeeded"
                ]
              },
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflow": {
                    "id": "[variables('var_workflows_OrchestatorPart_CrowdStrike_Auth_Playbook_externalid')]"
                  },
                  "triggerName": "manual"
                }
              }
            },
            "For_each": {
              "foreach": "@triggerBody()?['hostnames']",
              "actions": {
                "current_hostname": {
                  "type": "Compose",
                  "inputs": "@items('For_each')"
                },
                "HTTP-GET_-_Get_device_id": {
                  "runAfter": {
                    "current_hostname": [
                      "Succeeded"
                    ]
                  },
                  "type": "Http",
                  "inputs": {
                    "uri": "@{body('Call_OrchestatorPart_CrowdStrike_Auth_Playbook')?['FalconHost']}/devices/queries/devices/v1?filter=hostname:'@{outputs('current_hostname')}'",
                    "method": "GET",
                    "headers": {
                      "Accept": "application/json",
                      "Authorization": "@{body('Call_OrchestatorPart_CrowdStrike_Auth_Playbook')?['AccessToken']}",
                      "Content-Type": "application/json"
                    }
                  },
                  "description": "This gets the device id from crowdstrike by filtering on hostname"
                },
                "HTTP-GET_-_Get_Device_Info_By_ID": {
                  "runAfter": {
                    "Parse_JSON_Get_device_id_response": [
                      "Succeeded"
                    ]
                  },
                  "type": "Http",
                  "inputs": {
                    "uri": "@{body('Call_OrchestatorPart_CrowdStrike_Auth_Playbook')?['FalconHost']}/devices/entities/devices/v2?ids=@{join(body('Parse_JSON_Get_device_id_response')?['resources'], '&ids=')}",
                    "method": "GET",
                    "headers": {
                      "Accept": "application/json",
                      "Authorization": "@{body('Call_OrchestatorPart_CrowdStrike_Auth_Playbook')?['AccessToken']}",
                      "Content-Type": "application/json"
                    }
                  },
                  "description": "This gets the device id from crowdstrike by filtering on hostname"
                },
                "For_each_Device_Info": {
                  "foreach": "@body('Parse_JSON_HTTP-GET-_Get_Decive_Info_By_ID')?['resources']",
                  "actions": {
                    "Condition": {
                      "actions": {
                        "HTTP-POST_-_IsolateDevice": {
                          "type": "Http",
                          "inputs": {
                            "uri": "@{body('Call_OrchestatorPart_CrowdStrike_Auth_Playbook')?['FalconHost']}/devices/entities/devices-actions/v2?action_name=contain",
                            "method": "POST",
                            "headers": {
                              "Accept": "application/json",
                              "Content-Type": "application/json",
                              "Authorization": "@{body('Call_OrchestatorPart_CrowdStrike_Auth_Playbook')?['AccessToken']}"
                            },
                            "body": {
                              "enabled": true,
                              "comment": "Bloqueado por SOC",
                              "ids": [
                                "@item()?['device_id']"
                              ]
                            }
                          },
                          "runtimeConfiguration": {
                            "contentTransfer": {
                              "transferMode": "Chunked"
                            }
                          }
                        },
                        "Append_to_string_variable_2": {
                          "runAfter": {
                            "HTTP-POST_-_IsolateDevice": [
                              "Succeeded"
                            ]
                          },
                          "type": "AppendToStringVariable",
                          "inputs": {
                            "name": "response_text",
                            "value": "Dispositivo con id [@{item()?['device_id']}] aislado con éxito\n"
                          }
                        },
                        "Append_to_string_variable_3": {
                          "runAfter": {
                            "HTTP-POST_-_IsolateDevice": [
                              "TimedOut",
                              "Skipped",
                              "Failed"
                            ]
                          },
                          "type": "AppendToStringVariable",
                          "inputs": {
                            "name": "response_text",
                            "value": "\nFallo al ejecutar HTTP-POST - IsolateDevice con el id [@{item()?['device_id']}]\n"
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      },
                      "expression": {
                        "and": [
                          {
                            "equals": [
                              "@item()?['hostname']",
                              "@items('For_each_Device_Info')?['hostname']"
                            ]
                          }
                        ]
                      },
                      "type": "If"
                    }
                  },
                  "runAfter": {
                    "Parse_JSON_HTTP-GET-_Get_Decive_Info_By_ID": [
                      "Succeeded"
                    ]
                  },
                  "type": "Foreach"
                },
                "Append_to_response_text": {
                  "runAfter": {
                    "HTTP-GET_-_Get_device_id": [
                      "TimedOut",
                      "Failed",
                      "Skipped"
                    ]
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "response_text",
                    "value": "Fallo al ejecutar HTTP-GET - Get device id con el hostname [@{items('For_each')}]\n"
                  }
                },
                "Parse_JSON_Get_device_id_response": {
                  "runAfter": {
                    "HTTP-GET_-_Get_device_id": [
                      "Succeeded"
                    ]
                  },
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@body('HTTP-GET_-_Get_device_id')",
                    "schema": {
                      "type": "object",
                      "properties": {
                        "errors": {
                          "type": "array"
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "pagination": {
                              "type": "object",
                              "properties": {
                                "limit": {
                                  "type": "integer"
                                },
                                "offset": {
                                  "type": "integer"
                                },
                                "total": {
                                  "type": "integer"
                                }
                              }
                            },
                            "powered_by": {
                              "type": "string"
                            },
                            "query_time": {
                              "type": "number"
                            },
                            "trace_id": {
                              "type": "string"
                            }
                          }
                        },
                        "resources": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "description": "prepare json message for the device id response"
                },
                "Parse_JSON_HTTP-GET-_Get_Decive_Info_By_ID": {
                  "runAfter": {
                    "HTTP-GET_-_Get_Device_Info_By_ID": [
                      "Succeeded"
                    ]
                  },
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@body('HTTP-GET_-_Get_Device_Info_By_ID')",
                    "schema": {
                      "type": "object",
                      "properties": {
                        "resources": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "device_id": {
                                "type": "string"
                              },
                              "agent_version": {
                                "type": "string"
                              },
                              "bios_manufacturer": {
                                "type": "string"
                              },
                              "bios_version": {
                                "type": "string"
                              },
                              "build_number": {
                                "type": "string"
                              },
                              "external_ip": {
                                "type": "string"
                              },
                              "mac_address": {
                                "type": "string"
                              },
                              "hostname": {
                                "type": "string"
                              },
                              "filesystem_containment_status": {
                                "type": "string"
                              },
                              "first_seen": {
                                "type": "string"
                              },
                              "last_login_timestamp": {
                                "type": "string"
                              },
                              "last_login_user": {
                                "type": "string"
                              },
                              "last_login_user_sid": {
                                "type": "string"
                              },
                              "last_seen": {
                                "type": "string"
                              },
                              "machine_domain": {
                                "type": "string"
                              },
                              "major_version": {
                                "type": "string"
                              },
                              "os_version": {
                                "type": "string"
                              },
                              "rtr_state": {
                                "type": "string"
                              },
                              "groups": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "provision_status": {
                                "type": "string"
                              },
                              "serial_number": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "system_manufacturer": {
                                "type": "string"
                              },
                              "kernel_version": {
                                "type": "string"
                              },
                              "os_product_name": {
                                "type": "string"
                              },
                              "chassis_type_desc": {
                                "type": "string"
                              },
                              "last_reboot": {
                                "type": "string"
                              },
                              "connection_ip": {
                                "type": "string"
                              },
                              "default_gateway_ip": {
                                "type": "string"
                              },
                              "connection_mac_address": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "Append_to_string_variable_1": {
                  "runAfter": {
                    "HTTP-GET_-_Get_Device_Info_By_ID": [
                      "Failed",
                      "Skipped",
                      "TimedOut"
                    ]
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "response_text",
                    "value": "Fallo al ejecutar HTTP - Get Device Info By ID con el id [@{join(body('Parse_JSON_Get_device_id_response')?['resources'], '&ids=')}]"
                  }
                }
              },
              "runAfter": {
                "Call_OrchestatorPart_CrowdStrike_Auth_Playbook": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Response_OK": {
              "runAfter": {
                "For_each": [
                  "Succeeded"
                ]
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "message": "@variables('response_text')"
                }
              }
            },
            "Initialize_variables": {
              "runAfter": {},
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "response_text",
                    "type": "string",
                    "value": "Ejecución de logic app Device Isolation:\n\n"
                  }
                ]
              }
            },
            "Response_ERROR": {
              "runAfter": {
                "For_each": [
                  "TimedOut",
                  "Skipped",
                  "Failed"
                ]
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 400,
                "body": {
                  "message": "@variables('response_text')"
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                "connectionName": "[variables('AzureSentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]"
      ]
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('AzureSentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('AzureSentinelConnectionName')]",
        "customParameterValues": {},
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
        }
      }
    }
  ]
}