Cliente_Automation_Sophos_Block_IOC_Playbook.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "PlaybookName": {
            "defaultValue": "Cliente_Automation_Sophos_Block_IOC_Playbook",
            "type": "string"
        },
        "keyvault_Name": {
            "defaultValue": "MSSP-Desarrollo-SOC",
            "type": "string"
        },
		"keyvault_ClientID": {
            "defaultValue": "sophos-velorcios-client-id",
            "type": "String"
        },
        "keyvault_Secret": {
            "defaultValue": "sophos-velorcios-client-secret",
            "type": "String"
        }
    },
    "variables": {
        "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]",
        "keyvault_Connection_Name": "keyvault"
    },
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "westeurope",
            "tags": {
                "hidden-SentinelTemplateName": "Crowdstrike-Authentication",
                "hidden-SentinelTemplateVersion": "1.0",
                "hidden-SentinelWorkspaceId": "/subscriptions/a7be9652-e6e6-4284-b1b2-14b4079f777d/resourceGroups/MSSP_Sentinel_Desarollo_ResourceGroup/providers/microsoft.OperationalInsights/Workspaces/mssp-sentinel-desarollo-resourcegroup"
            },
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http"
                        }
                    },
                    "actions": {
                        "Petición_de_JWT": {
                            "runAfter": {
                                "ClientSecret": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "uri": "https://id.sophos.com/api/v2/oauth2/token",
                                "method": "POST",
                                "headers": {
                                    "Content-Type": " application/x-www-form-urlencoded"
                                },
                                "body": "grant_type=client_credentials&client_id=@{variables('ClientID')}&client_secret=@{variables('ClientSecret')}&scope=token"
                            },
                            "runtimeConfiguration": {
                                "contentTransfer": {
                                    "transferMode": "Chunked"
                                }
                            }
                        },
                        "ClientID": {
                            "runAfter": {
                                "Get-ClientSecret": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ClientID",
                                        "type": "string",
                                        "value": "@{body('Get-ClientId')?['value']}"
                                    }
                                ]
                            }
                        },
                        "ClientSecret": {
                            "runAfter": {
                                "ClientID": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ClientSecret",
                                        "type": "string",
                                        "value": "@{body('Get-ClientSecret')?['value']}"
                                    }
                                ]
                            }
                        },
                        "GetTenantID": {
                            "runAfter": {
                                "Parse_JSON_JWT": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "uri": "https://api.central.sophos.com/whoami/v1",
                                "method": "GET",
                                "headers": {
                                    "Authorization": "Bearer @{body('Parse_JSON_JWT')?['access_token']}",
                                    "Accept": "application/json"
                                }
                            },
                            "runtimeConfiguration": {
                                "contentTransfer": {
                                    "transferMode": "Chunked"
                                }
                            }
                        },
                        "Parse_JSON_JWT": {
                            "runAfter": {
                                "Petición_de_JWT": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('Petición_de_JWT')",
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "access_token": {
                                            "type": "string"
                                        },
                                        "expires_in": {
                                            "type": "integer"
                                        },
                                        "token_type": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "Parse_JSON_TenantID": {
                            "runAfter": {
                                "GetTenantID": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('GetTenantID')",
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "idType": {
                                            "type": "string"
                                        },
                                        "apiHosts": {
                                            "type": "object",
                                            "properties": {
                                                "global": {
                                                    "type": "string"
                                                },
                                                "dataRegion": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "If_HASH": {
                            "actions": {
                                "For_Every_HASH_in_List": {
                                    "foreach": "@body('Parse_JSON_List')?['content']",
                                    "actions": {
                                        "HTTP_POST_HASH": {
                                            "type": "Http",
                                            "inputs": {
                                                "uri": "@{body('Parse_JSON_TenantID')?['apiHosts']?['dataRegion']}/endpoint/v1/settings/blocked-items",
                                                "method": "POST",
                                                "headers": {
                                                    "Authorization": "Bearer @{body('Parse_JSON_JWT')?['access_token']}",
                                                    "Accept": "application/json",
                                                    "X-Tenant-ID": "@{body('Parse_JSON_TenantID')?['id']}",
                                                    "Content-Type": "application/json"
                                                },
                                                "body": {
                                                    "type": "sha256",
                                                    "properties": {
                                                        "sha256": "@{items('For_Every_HASH_in_List')}"
                                                    },
                                                    "comment": "Item is a Malware"
                                                }
                                            },
                                            "runtimeConfiguration": {
                                                "contentTransfer": {
                                                    "transferMode": "Chunked"
                                                }
                                            }
                                        },
                                        "If_Bad_Request_1": {
                                            "actions": {
                                                "Set_variable": {
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "Status Code",
                                                        "value": "@outputs('HTTP_POST_HASH')?['statusCode']"
                                                    }
                                                }
                                            },
                                            "runAfter": {
                                                "HTTP_POST_HASH": [
                                                    "Succeeded",
                                                    "TimedOut",
                                                    "Skipped",
                                                    "Failed"
                                                ]
                                            },
                                            "else": {
                                                "actions": {
                                                    "Append_to_array_variable": {
                                                        "type": "AppendToArrayVariable",
                                                        "inputs": {
                                                            "name": "Bad Response Message",
                                                            "value": "@body('HTTP_POST_HASH')"
                                                        }
                                                    }
                                                }
                                            },
                                            "expression": {
                                                "and": [
                                                    {
                                                        "not": {
                                                            "equals": [
                                                                "@outputs('HTTP_POST_HASH')?['statusCode']",
                                                                201
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "not": {
                                                            "equals": [
                                                                "@outputs('HTTP_POST_HASH')?['statusCode']",
                                                                409
                                                            ]
                                                        }
                                                    }
                                                ]
                                            },
                                            "type": "If"
                                        }
                                    },
                                    "type": "Foreach"
                                }
                            },
                            "runAfter": {
                                "Bad_Response_Message": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "For_Every_IP_DOMAIN_in_LIST": {
                                        "foreach": "@body('Parse_JSON_List')?['content']",
                                        "actions": {
                                            "HTTP_POST_IP_DOMAIN": {
                                                "type": "Http",
                                                "inputs": {
                                                    "uri": "@{body('Parse_JSON_TenantID')?['apiHosts']?['dataRegion']}/endpoint/v1/settings/web-control/local-sites",
                                                    "method": "POST",
                                                    "headers": {
                                                        "Authorization": "Bearer @{body('Parse_JSON_JWT')?['access_token']}",
                                                        "Accept": "application/json",
                                                        "X-Tenant-ID": "@{body('Parse_JSON_TenantID')?['id']}",
                                                        "Content-Type": "application/json"
                                                    },
                                                    "body": {
                                                        "url": "@{items('For_Every_IP_DOMAIN_in_LIST')}",
                                                        "tags": [
                                                            "@{variables('Category')}"
                                                        ],
                                                        "comment": "Blocked by api"
                                                    }
                                                },
                                                "runtimeConfiguration": {
                                                    "contentTransfer": {
                                                        "transferMode": "Chunked"
                                                    }
                                                }
                                            },
                                            "If_Bad_Request_2": {
                                                "actions": {
                                                    "Set_variable_1": {
                                                        "type": "SetVariable",
                                                        "inputs": {
                                                            "name": "Status Code",
                                                            "value": "@outputs('HTTP_POST_IP_DOMAIN')?['statusCode']"
                                                        }
                                                    }
                                                },
                                                "runAfter": {
                                                    "HTTP_POST_IP_DOMAIN": [
                                                        "Succeeded",
                                                        "TimedOut",
                                                        "Skipped",
                                                        "Failed"
                                                    ]
                                                },
                                                "else": {
                                                    "actions": {
                                                        "Append_to_array_variable_1": {
                                                            "type": "AppendToArrayVariable",
                                                            "inputs": {
                                                                "name": "Bad Response Message",
                                                                "value": "@body('HTTP_POST_IP_DOMAIN')"
                                                            }
                                                        }
                                                    }
                                                },
                                                "expression": {
                                                    "and": [
                                                        {
                                                            "not": {
                                                                "equals": [
                                                                    "@outputs('HTTP_POST_IP_DOMAIN')?['statusCode']",
                                                                    201
                                                                ]
                                                            }
                                                        },
                                                        {
                                                            "not": {
                                                                "equals": [
                                                                    "@outputs('HTTP_POST_IP_DOMAIN')?['statusCode']",
                                                                    409
                                                                ]
                                                            }
                                                        }
                                                    ]
                                                },
                                                "type": "If"
                                            }
                                        },
                                        "type": "Foreach"
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@body('Parse_JSON_List')?['type']",
                                            "HASH"
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Parse_JSON_List": {
                            "runAfter": {},
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@triggerBody()",
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string"
                                        },
                                        "content": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "Category": {
                            "runAfter": {
                                "Parse_JSON_TenantID": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Category",
                                        "type": "string",
                                        "value": "Blocked by API"
                                    }
                                ]
                            }
                        },
                        "Status_Code": {
                            "runAfter": {
                                "Category": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Status Code",
                                        "type": "integer",
                                        "value": 200
                                    }
                                ]
                            }
                        },
                        "Response": {
                            "runAfter": {
                                "If_HASH": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "statusCode": "@variables('Status Code')",
                                "body": "@variables('Bad Response Message')"
                            }
                        },
                        "Bad_Response_Message": {
                            "runAfter": {
                                "Status_Code": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Bad Response Message",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "Get-ClientId": {
                            "runAfter": {
                                "Parse_JSON_List": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['keyvault']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/secrets/@{encodeURIComponent('parameters(keyvault_ClientID)')}/value"
                            },
                            "runtimeConfiguration": {
                                "secureData": {
                                    "properties": [
                                        "inputs",
                                        "outputs"
                                    ]
                                }
                            }
                        },
                        "Get-ClientSecret": {
                            "runAfter": {
                                "Get-ClientId": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['keyvault']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/secrets/@{encodeURIComponent('parameters(keyvault_Secret)')}/value"
                            },
                            "runtimeConfiguration": {
                                "secureData": {
                                    "properties": [
                                        "inputs",
                                        "outputs"
                                    ]
                                }
                            }
                        }
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                                "connectionName": "[variables('AzureSentinelConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "keyvault": {
                                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/', 'keyvault')]",
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('keyvault_Connection_Name'))]",
                                "connectionName": "[variables('keyvault_Connection_Name')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('keyvault_Connection_Name'))]"
            ]
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureSentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('AzureSentinelConnectionName')]",
                "customParameterValues": {},
                "parameterValueType": "Alternative",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('keyvault_Connection_Name')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "api": {
                    "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/', 'keyvault')]"
                },
                "displayName": "[variables('keyvault_Connection_Name')]",
                "parameterValueType": "Alternative",
                "AlternativeParameterValues": {
                    "vaultName": "[parameters('keyvault_Name')]"
                }
            }
        }
    ]
}