Cliente_Action_Sophos_Device_Isolation_Playbook.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "PlaybookName": {
            "defaultValue": "Cliente_Action_Sophos_Device_Isolation_Playbook",
            "type": "string"
        },
        "keyvault_Name": {
            "defaultValue": "Cliente-Desarrollo-SOC",
            "type": "string"
        },
		"keyvault_ClientID": {
            "defaultValue": "sophos-velorcios-client-id",
            "type": "string"
        },
        "keyvault_Secret": {
            "defaultValue": "sophos-velorcios-client-secret",
            "type": "string"
        }
    },
    "variables": {
        "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]",
        "keyvault_Connection_Name": "keyvault"
    },
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "westeurope",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "keyvault_ClientID": {
                            "type": "String",
                            "defaultValue": "[parameters('keyvault_ClientID')]"
                        },
                        "keyvault_Secret": {
                            "type": "String",
                            "defaultValue": "[parameters('keyvault_Secret')]"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_entity": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "path": "/entity/@{encodeURIComponent('Host')}"
                            }
                        }
                    },
                    "actions": {
                        "Petición_de_JWT": {
                            "runAfter": {
                                "ClientSecret": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "uri": "https://id.sophos.com/api/v2/oauth2/token",
                                "method": "POST",
                                "headers": {
                                    "Content-Type": " application/x-www-form-urlencoded"
                                },
                                "body": "grant_type=client_credentials&client_id=@{variables('ClientID')}&client_secret=@{variables('ClientSecret')}&scope=token"
                            },
                            "runtimeConfiguration": {
                                "contentTransfer": {
                                    "transferMode": "Chunked"
                                }
                            }
                        },
                        "ClientID": {
                            "runAfter": {
                                "Get-ClientSecret": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ClientID",
                                        "type": "string",
                                        "value": "@{body('Get-ClientId')?['value']}"
                                    }
                                ]
                            }
                        },
                        "ClientSecret": {
                            "runAfter": {
                                "ClientID": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ClientSecret",
                                        "type": "string",
                                        "value": "@{body('Get-ClientSecret')?['value']}"
                                    }
                                ]
                            }
                        },
                        "GetTenantID": {
                            "runAfter": {
                                "Parse_JSON_JWT": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "uri": "https://api.central.sophos.com/whoami/v1",
                                "method": "GET",
                                "headers": {
                                    "Authorization": "Bearer @{body('Parse_JSON_JWT')?['access_token']}",
                                    "Accept": "application/json"
                                }
                            },
                            "runtimeConfiguration": {
                                "contentTransfer": {
                                    "transferMode": "Chunked"
                                }
                            }
                        },
                        "Parse_JSON_JWT": {
                            "runAfter": {
                                "Petición_de_JWT": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('Petición_de_JWT')",
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "access_token": {
                                            "type": "string"
                                        },
                                        "expires_in": {
                                            "type": "integer"
                                        },
                                        "token_type": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "Parse_JSON_TenantID": {
                            "runAfter": {
                                "GetTenantID": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('GetTenantID')",
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "idType": {
                                            "type": "string"
                                        },
                                        "apiHosts": {
                                            "type": "object",
                                            "properties": {
                                                "global": {
                                                    "type": "string"
                                                },
                                                "dataRegion": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "GetDeviceID": {
                            "runAfter": {
                                "HostName": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "uri": "@{body('Parse_JSON_TenantID')?['apiHosts']?['dataRegion']}/endpoint/v1/endpoints?hostnameContains=@{variables('HostName')}",
                                "method": "GET",
                                "headers": {
                                    "Content-Type": "application/json",
                                    "X-Tenant-ID": "@{body('Parse_JSON_TenantID')?['id']}",
                                    "Authorization": "Bearer @{body('Parse_JSON_JWT')?['access_token']}"
                                }
                            },
                            "runtimeConfiguration": {
                                "contentTransfer": {
                                    "transferMode": "Chunked"
                                }
                            }
                        },
                        "HostName": {
                            "runAfter": {
                                "Parse_JSON_TenantID": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "HostName",
                                        "type": "string",
                                        "value": "@{triggerBody()?['Entity']?['properties']?['HostName']}"
                                    }
                                ]
                            }
                        },
                        "Parse_JSON": {
                            "runAfter": {
                                "GetDeviceID": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('GetDeviceID')",
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "items": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "hostname": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "hostname"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "For_each": {
                            "foreach": "@body('Parse_JSON')?['items']",
                            "actions": {
                                "Condition": {
                                    "actions": {
                                        "PostIsolateDevices": {
                                            "runAfter": {
                                                "Set_variable": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Http",
                                            "inputs": {
                                                "uri": "@{body('Parse_JSON_TenantID')?['apiHosts']?['dataRegion']}/endpoint/v1/endpoints/isolation",
                                                "method": "POST",
                                                "headers": {
                                                    "Content-Type": "application/json",
                                                    "X-Tenant-ID": "@{body('Parse_JSON_TenantID')?['id']}",
                                                    "Authorization": "Bearer @{body('Parse_JSON_JWT')?['access_token']}"
                                                },
                                                "body": {
                                                    "enabled": true,
                                                    "comment": "Isolating endpoints with suspicious health",
                                                    "ids": [
                                                        "@variables('Isolation Device ID')"
                                                    ]
                                                }
                                            },
                                            "runtimeConfiguration": {
                                                "contentTransfer": {
                                                    "transferMode": "Chunked"
                                                }
                                            }
                                        },
                                        "Set_variable": {
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "Isolation Device ID",
                                                "value": "@item()?['id']"
                                            }
                                        }
                                    },
                                    "else": {
                                        "actions": {}
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@item()?['hostname']",
                                                    "@variables('HostName')"
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                }
                            },
                            "runAfter": {
                                "Isolation_Device_ID": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Isolation_Device_ID": {
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Isolation Device ID",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Get-ClientId": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['keyvault']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/secrets/@{encodeURIComponent(parameters('keyvault_ClientID'))}/value"
                            },
                            "runtimeConfiguration": {
                                "secureData": {
                                    "properties": [
                                        "inputs",
                                        "outputs"
                                    ]
                                }
                            }
                        },
                        "Get-ClientSecret": {
                            "runAfter": {
                                "Get-ClientId": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['keyvault']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/secrets/@{encodeURIComponent(parameters('keyvault_Secret'))}/value"
                            },
                            "runtimeConfiguration": {
                                "secureData": {
                                    "properties": [
                                        "inputs",
                                        "outputs"
                                    ]
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                                "connectionName": "[variables('AzureSentinelConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "keyvault": {
                                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/', 'keyvault')]",
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('keyvault_Connection_Name'))]",
                                "connectionName": "[variables('keyvault_Connection_Name')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('keyvault_Connection_Name'))]"
            ]
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureSentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('AzureSentinelConnectionName')]",
                "customParameterValues": {},
                "parameterValueType": "Alternative",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('keyvault_Connection_Name')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "api": {
                    "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/', 'keyvault')]"
                },
                "displayName": "[variables('keyvault_Connection_Name')]",
                "parameterValueType": "Alternative",
                "AlternativeParameterValues": {
                    "vaultName": "[parameters('keyvault_Name')]"
                }
            }
        }
    ]
}