template_automation/examples/bad_playbooks/Sophos_new/Cliente_Action_Sophos_Device_Isolation_Alert_Playbook.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_Cliente_Action_Sophos_Device_Isolation_Alert_Playbook_name": {
            "defaultValue": "Cliente_Action_Sophos_Device_Isolation_Alert_Playbook",
            "type": "String"
        },
        "workflows_Cliente_OrchestatorPart_Sophos_Device_Isolation_Playbook_externalid": {
            "defaultValue": "/subscriptions/a7be9652-e6e6-4284-b1b2-14b4079f777d/resourceGroups/MSSP_Sentinel_Desarollo_ResourceGroup/providers/Microsoft.Logic/workflows/Cliente_OrchestatorPart_Sophos_Device_Isolation_Playbook",
            "type": "String"
        },
        "connections_azuresentinel_6_externalid": {
            "defaultValue": "/subscriptions/a7be9652-e6e6-4284-b1b2-14b4079f777d/resourceGroups/MSSP_Sentinel_Desarollo_ResourceGroup/providers/Microsoft.Web/connections/azuresentinel-6",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_Cliente_Action_Sophos_Device_Isolation_Alert_Playbook_name')]",
            "location": "westeurope",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_alert": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "path": "/subscribe"
                            }
                        }
                    },
                    "actions": {
                        "Parse_Entities": {
                            "runAfter": {},
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@triggerBody()?['Entities']",
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "Type": {
                                                "type": "string"
                                            },
                                            "HostName": {
                                                "type": "string"
                                            },
                                            "Id": {
                                                "type": "string"
                                            },
                                            "PartitionKey": {
                                                "type": "string"
                                            },
                                            "Scope": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "Filter_host_entities": {
                            "runAfter": {
                                "Parse_Entities": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Query",
                            "inputs": {
                                "from": "@body('Parse_Entities')",
                                "where": "@equals(item()?['Type'], 'host')"
                            }
                        },
                        "Select_hostnames": {
                            "runAfter": {
                                "Filter_host_entities": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Select",
                            "inputs": {
                                "from": "@body('Filter_host_entities')",
                                "select": "@item()?['HostName']"
                            }
                        },
                        "Cliente_OrchestatorPart_Sophos_Device_Isolation_Playbook": {
                            "runAfter": {
                                "Select_hostnames": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Workflow",
                            "inputs": {
                                "host": {
                                    "workflow": {
                                        "id": "[parameters('workflows_Cliente_OrchestatorPart_Sophos_Device_Isolation_Playbook_externalid')]"
                                    },
                                    "triggerName": "When_an_HTTP_request_is_received"
                                },
                                "body": {
                                    "hostnames": "@body('Select_hostnames')"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "type": "Object",
                        "value": {
                            "azuresentinel": {
                                "id": "/subscriptions/a7be9652-e6e6-4284-b1b2-14b4079f777d/providers/Microsoft.Web/locations/northcentralus/managedApis/azuresentinel",
                                "connectionId": "[parameters('connections_azuresentinel_6_externalid')]",
                                "connectionName": "azuresentinel",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    ]
}