template_automation/out/Sophos/Cliente_Action_Sophos_Launch_Antivirus_Playbook.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "workflows_Velorcios_Action_Sophos_Launch_Antivirus_Playbook_name": {
      "defaultValue": "Velorcios_Action_Sophos_Launch_Antivirus_Playbook",
      "type": "String"
    },
    "connections_azuresentinel_Velorcios_Action_Sophos_Launch_Antivirus_Playbook_externalid": {
      "defaultValue": "/subscriptions/2ba58427-900f-422f-9a83-2552a683d17f/resourceGroups/Blueteam/providers/Microsoft.Web/connections/azuresentinel-Velorcios_Action_Sophos_Launch_Antivirus_Playbook",
      "type": "String"
    },
    "connections_keyvault_velorsoc_keyvault_externalid": {
      "defaultValue": "/subscriptions/2ba58427-900f-422f-9a83-2552a683d17f/resourceGroups/Blueteam/providers/Microsoft.Web/connections/keyvault-velorsoc-keyvault",
      "type": "String"
    },
    "keyvault_Name": {
      "type": "String",
      "defaultValue": "BORRAR_keyvault_Name"
    },
    "keyvault_ClientID": {
      "type": "String",
      "defaultValue": "BORRAR_keyvault_ClientID"
    },
    "keyvault_Secret": {
      "type": "String",
      "defaultValue": "BORRAR_keyvault_Secret"
    }
  },
  "variables": {
    "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('workflows_Velorcios_Action_Sophos_Launch_Antivirus_Playbook_name'))]",
    "keyvault_Connection_Name": "[concat('keyvault-', parameters('workflows_Velorcios_Action_Sophos_Launch_Antivirus_Playbook_name'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('workflows_Velorcios_Action_Sophos_Launch_Antivirus_Playbook_name')]",
      "location": "westeurope",
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "keyvault_ClientID": {
              "value": "[parameters('keyvault_ClientID')]",
              "type": "String"
            },
            "keyvault_Secret": {
              "defaultValue": "sophos-velorcios-client-secret",
              "type": "String"
            },
            "workflows_Velorcios_Action_Sophos_Launch_Antivirus_Playbook_name": {
              "type": "String",
              "defaultValue": "BORRAR_workflows_Velorcios_Action_Sophos_Launch_Antivirus_Playbook_name"
            },
            "connections_azuresentinel_Velorcios_Action_Sophos_Launch_Antivirus_Playbook_externalid": {
              "type": "String",
              "defaultValue": "BORRAR_connections_azuresentinel_Velorcios_Action_Sophos_Launch_Antivirus_Playbook_externalid"
            },
            "connections_keyvault_velorsoc_keyvault_externalid": {
              "type": "String",
              "defaultValue": "BORRAR_connections_keyvault_velorsoc_keyvault_externalid"
            },
            "keyvault_Name": {
              "type": "String",
              "defaultValue": "BORRAR_keyvault_Name"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_entity": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "path": "/entity/@{encodeURIComponent('Host')}"
              }
            }
          },
          "actions": {
            "Petición_de_JWT": {
              "runAfter": {
                "ClientSecret": [
                  "Succeeded"
                ]
              },
              "type": "Http",
              "inputs": {
                "uri": "https://id.sophos.com/api/v2/oauth2/token",
                "method": "POST",
                "headers": {
                  "Content-Type": " application/x-www-form-urlencoded"
                },
                "body": "grant_type=client_credentials&client_id=@{parameters('keyvault_ClientID')}&client_secret=@{variables('ClientSecret')}&scope=token"
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "ClientID": {
              "runAfter": {
                "Obtener_secreto_ClientSecret": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "ClientID",
                    "type": "string",
                    "value": "@{body('Obtener_secreto_ClientID')?['value']}"
                  }
                ]
              }
            },
            "ClientSecret": {
              "runAfter": {
                "ClientID": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "ClientSecret",
                    "type": "string",
                    "value": "@{body('Obtener_secreto_ClientSecret')?['value']}"
                  }
                ]
              }
            },
            "GetTenantID": {
              "runAfter": {
                "Parse_JSON_JWT": [
                  "Succeeded"
                ]
              },
              "type": "Http",
              "inputs": {
                "uri": "https://api.central.sophos.com/whoami/v1",
                "method": "GET",
                "headers": {
                  "Authorization": "Bearer @{body('Parse_JSON_JWT')?['access_token']}",
                  "Accept": "application/json"
                }
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Parse_JSON_JWT": {
              "runAfter": {
                "Petición_de_JWT": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Petición_de_JWT')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string"
                    },
                    "expires_in": {
                      "type": "integer"
                    },
                    "token_type": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "Parse_JSON_TenantID": {
              "runAfter": {
                "GetTenantID": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('GetTenantID')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "idType": {
                      "type": "string"
                    },
                    "apiHosts": {
                      "type": "object",
                      "properties": {
                        "global": {
                          "type": "string"
                        },
                        "dataRegion": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            },
            "GetDeviceID": {
              "runAfter": {
                "Parse_JSON_TenantID": [
                  "Succeeded"
                ]
              },
              "type": "Http",
              "inputs": {
                "uri": "@{body('Parse_JSON_TenantID')?['apiHosts']?['dataRegion']}/endpoint/v1/endpoints?hostnameContains=@{triggerBody()?['Entity']?['properties']?['HostName']}",
                "method": "GET",
                "headers": {
                  "Content-Type": "application/json",
                  "X-Tenant-ID": "@{body('Parse_JSON_TenantID')?['id']}",
                  "Authorization": "Bearer @{body('Parse_JSON_JWT')?['access_token']}"
                }
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Scan_Device_ID": {
              "runAfter": {
                "Parse_JSON_GetDeviceID": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "Scan Device ID",
                    "type": "string"
                  }
                ]
              }
            },
            "Parse_JSON_GetDeviceID": {
              "runAfter": {
                "GetDeviceID": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('GetDeviceID')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "hostname": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "type",
                          "hostname"
                        ]
                      }
                    }
                  }
                }
              }
            },
            "For_each-copy": {
              "foreach": "@body('Parse_JSON_GetDeviceID')?['items']",
              "actions": {
                "Condition": {
                  "actions": {
                    "PostScanDevice": {
                      "runAfter": {
                        "Set_variable": [
                          "Succeeded"
                        ]
                      },
                      "type": "Http",
                      "inputs": {
                        "uri": "@{body('Parse_JSON_TenantID')?['apiHosts']?['dataRegion']}/endpoint/v1/endpoints/@{body('Parse_JSON_for_each')?['id']}/scans",
                        "method": "POST",
                        "headers": {
                          "Content-Type": "application/json",
                          "X-Tenant-ID": "@{body('Parse_JSON_TenantID')?['id']}",
                          "Authorization": "Bearer @{body('Parse_JSON_JWT')?['access_token']}"
                        },
                        "body": {}
                      },
                      "runtimeConfiguration": {
                        "contentTransfer": {
                          "transferMode": "Chunked"
                        }
                      }
                    },
                    "Set_variable": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "Scan Device ID",
                        "value": "@body('Parse_JSON_for_each')?['id']"
                      }
                    }
                  },
                  "runAfter": {
                    "Set_hostname_current_item": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {}
                  },
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@triggerBody()?['Entity']?['properties']?['HostName']",
                          "@variables('Hostname')"
                        ]
                      }
                    ]
                  },
                  "type": "If"
                },
                "Parse_JSON_for_each": {
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@items('For_each-copy')",
                    "schema": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "hostname": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "Set_hostname_current_item": {
                  "runAfter": {
                    "Parse_JSON_for_each": [
                      "Succeeded"
                    ]
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "Hostname",
                    "value": "@body('Parse_JSON_for_each')?['hostname']"
                  }
                }
              },
              "runAfter": {
                "Hostname": [
                  "Succeeded"
                ]
              },
              "type": "Foreach",
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 1
                }
              }
            },
            "Hostname": {
              "runAfter": {
                "Scan_Device_ID": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "Hostname",
                    "type": "string"
                  }
                ]
              }
            },
            "Obtener_secreto_ClientID": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['keyvault']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/secrets/@{encodeURIComponent(parameters('keyvault_ClientID'))}/value"
              },
              "runtimeConfiguration": {
                "secureData": {
                  "properties": [
                    "inputs",
                    "outputs"
                  ]
                }
              }
            },
            "Obtener_secreto_ClientSecret": {
              "runAfter": {
                "Obtener_secreto_ClientID": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['keyvault']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/secrets/@{encodeURIComponent(parameters('keyvault_Secret'))}/value"
              },
              "runtimeConfiguration": {
                "secureData": {
                  "properties": [
                    "inputs",
                    "outputs"
                  ]
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                "connectionName": "[variables('AzureSentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              },
              "keyvault": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/', 'keyvault')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('keyvault_Connection_Name'))]",
                "connectionName": "[variables('keyvault_Connection_Name')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('keyvault_Connection_Name'))]"
      ]
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('AzureSentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('AzureSentinelConnectionName')]",
        "customParameterValues": {},
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('keyvault_Connection_Name')]",
      "location": "[resourceGroup().location]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/', 'keyvault')]"
        },
        "displayName": "[variables('keyvault_Connection_Name')]",
        "parameterValueType": "Alternative",
        "AlternativeParameterValues": {
          "vaultName": "[parameters('keyvault_Name')]"
        }
      }
    }
  ]
}