Sophos/OrchestatorPart_Sophos_Device_Isolation_Playbook.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_OrchestatorPart_Sophos_Device_Isolation_Playbook_name": {
            "defaultValue": "OrchestatorPart_Sophos_Device_Isolation_Playbook",
            "type": "string"
        },
        "workflows_OrchestatorPart_Sophos_Auth_Playbook_externalid": {
            "defaultValue": "/subscriptions/a7be9652-e6e6-4284-b1b2-14b4079f777d/resourceGroups/MSSP_Sentinel_Desarollo_ResourceGroup/providers/Microsoft.Logic/workflows/OrchestatorPart_Sophos_Auth_Playbook",
            "type": "string"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_OrchestatorPart_Sophos_Device_Isolation_Playbook_name')]",
            "location": "westeurope",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_an_HTTP_request_is_received": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "hostnames": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "actions": {
                        "HostName": {
                            "runAfter": {
                                "Parse_OrchestatorPart_Sophos_Auth_Playbook": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "HostName",
                                        "type": "string",
                                        "value": ""
                                    }
                                ]
                            }
                        },
                        "OrchestatorPart_Sophos_Auth_Playbook": {
                            "runAfter": {
                                "Initialize_variables": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Workflow",
                            "inputs": {
                                "host": {
                                    "workflow": {
                                        "id": "[parameters('workflows_OrchestatorPart_Sophos_Auth_Playbook_externalid')]"
                                    },
                                    "triggerName": "When_an_HTTP_request_is_received"
                                }
                            }
                        },
                        "Parse_OrchestatorPart_Sophos_Auth_Playbook": {
                            "runAfter": {
                                "OrchestatorPart_Sophos_Auth_Playbook": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('OrchestatorPart_Sophos_Auth_Playbook')",
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "TenantRegion": {
                                            "type": "string"
                                        },
                                        "TenantID": {
                                            "type": "string"
                                        },
                                        "AccessToken": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "Isolation_Device_ID": {
                            "runAfter": {
                                "HostName": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Isolation Device ID",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "For_each_1": {
                            "foreach": "@triggerBody()?['hostnames']",
                            "actions": {
                                "Set_HostName": {
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "HostName",
                                        "value": "@{items('For_each_1')}"
                                    }
                                },
                                "HTTP_GET_DeviceID": {
                                    "runAfter": {
                                        "Set_HostName": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "uri": "@{body('Parse_OrchestatorPart_Sophos_Auth_Playbook')?['TenantRegion']}/endpoint/v1/endpoints?hostnameContains=@{variables('HostName')}",
                                        "method": "GET",
                                        "headers": {
                                            "Content-Type": "application/json",
                                            "X-Tenant-ID": "@{body('Parse_OrchestatorPart_Sophos_Auth_Playbook')?['TenantID']}",
                                            "Authorization": "Bearer @{body('Parse_OrchestatorPart_Sophos_Auth_Playbook')?['AccessToken']}"
                                        }
                                    },
                                    "runtimeConfiguration": {
                                        "contentTransfer": {
                                            "transferMode": "Chunked"
                                        }
                                    }
                                },
                                "Parse_JSON": {
                                    "runAfter": {
                                        "HTTP_GET_DeviceID": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('HTTP_GET_DeviceID')",
                                        "schema": {
                                            "type": "object",
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "hostname": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "hostname"
                                                        ]
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "For_each": {
                                    "foreach": "@body('Parse_JSON')?['items']",
                                    "actions": {
                                        "Condition": {
                                            "actions": {
                                                "HTTP_POST_IsolateDevices": {
                                                    "runAfter": {
                                                        "Set_Isolation_Device_ID": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Http",
                                                    "inputs": {
                                                        "uri": "@{body('Parse_OrchestatorPart_Sophos_Auth_Playbook')?['TenantRegion']}/endpoint/v1/endpoints/isolation",
                                                        "method": "POST",
                                                        "headers": {
                                                            "Content-Type": "application/json",
                                                            "X-Tenant-ID": "@{body('Parse_OrchestatorPart_Sophos_Auth_Playbook')?['TenantID']}",
                                                            "Authorization": "Bearer @{body('Parse_OrchestatorPart_Sophos_Auth_Playbook')?['AccessToken']}"
                                                        },
                                                        "body": {
                                                            "enabled": true,
                                                            "comment": "Isolating endpoints with suspicious health",
                                                            "ids": [
                                                                "@variables('Isolation Device ID')"
                                                            ]
                                                        }
                                                    },
                                                    "runtimeConfiguration": {
                                                        "contentTransfer": {
                                                            "transferMode": "Chunked"
                                                        }
                                                    }
                                                },
                                                "Set_Isolation_Device_ID": {
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "Isolation Device ID",
                                                        "value": "@item()?['id']"
                                                    }
                                                },
                                                "Append_to_string_variable_2": {
                                                    "runAfter": {
                                                        "HTTP_POST_IsolateDevices": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "AppendToStringVariable",
                                                    "inputs": {
                                                        "name": "Output message",
                                                        "value": "Se ha aislado el host @{items('For_each_1')} exitosamente"
                                                    }
                                                },
                                                "Append_to_string_variable_3": {
                                                    "runAfter": {
                                                        "HTTP_POST_IsolateDevices": [
                                                            "Failed",
                                                            "Skipped",
                                                            "TimedOut"
                                                        ]
                                                    },
                                                    "type": "AppendToStringVariable",
                                                    "inputs": {
                                                        "name": "Output message",
                                                        "value": "Fallo al ejecutar HTTP POST IsolateDevices:\n\n@{body('HTTP_POST_IsolateDevices')}\n\n"
                                                    }
                                                }
                                            },
                                            "else": {
                                                "actions": {}
                                            },
                                            "expression": {
                                                "and": [
                                                    {
                                                        "equals": [
                                                            "@item()?['hostname']",
                                                            "@variables('HostName')"
                                                        ]
                                                    }
                                                ]
                                            },
                                            "type": "If"
                                        }
                                    },
                                    "runAfter": {
                                        "Parse_JSON": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                },
                                "Append_to_string_variable_1": {
                                    "runAfter": {
                                        "HTTP_GET_DeviceID": [
                                            "Failed",
                                            "Skipped",
                                            "TimedOut"
                                        ]
                                    },
                                    "type": "AppendToStringVariable",
                                    "inputs": {
                                        "name": "Output message",
                                        "value": "Fallo al ejecutar HTTP GET DeviceID:\n\n@{body('HTTP_GET_DeviceID')}\n\n"
                                    }
                                }
                            },
                            "runAfter": {
                                "Isolation_Device_ID": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Response_200": {
                            "runAfter": {
                                "For_each_1": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "statusCode": 200,
                                "body": {
                                    "message": "@variables('Output message')"
                                }
                            }
                        },
                        "Initialize_variables": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Output message",
                                        "type": "string",
                                        "value": "Ejecución playbook Device Isolation:\n\n"
                                    }
                                ]
                            }
                        },
                        "Append_to_string_variable": {
                            "runAfter": {
                                "OrchestatorPart_Sophos_Auth_Playbook": [
                                    "TimedOut",
                                    "Skipped",
                                    "Failed"
                                ]
                            },
                            "type": "AppendToStringVariable",
                            "inputs": {
                                "name": "Output message",
                                "value": "Fallo al ejecutar el workflow OrchestatorPart Sophos Auth Playbook\n\n"
                            }
                        },
                        "Response_400": {
                            "runAfter": {
                                "For_each_1": [
                                    "Failed",
                                    "Skipped",
                                    "TimedOut"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "statusCode": 400,
                                "body": {
                                    "message": "@variables('Output message')"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {}
                    }
                }
            }
        }
    ]
}