Sophos/OrchestatorPart_Sophos_Block_IOC_Playbook.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_OrchestatorPart_Sophos_Block_IOC_Playbook_name": {
            "defaultValue": "OrchestatorPart_Sophos_Block_IOC_Playbook",
            "type": "string"
        },
        "workflows_OrchestatorPart_Sophos_Auth_Playbook_externalid": {
            "defaultValue": "/subscriptions/a7be9652-e6e6-4284-b1b2-14b4079f777d/resourceGroups/MSSP_Sentinel_Desarollo_ResourceGroup/providers/Microsoft.Logic/workflows/OrchestatorPart_Sophos_Auth_Playbook",
            "type": "string"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_OrchestatorPart_Sophos_Block_IOC_Playbook_name')]",
            "location": "westeurope",
            "tags": {
                "hidden-SentinelTemplateName": "Crowdstrike-Authentication",
                "hidden-SentinelTemplateVersion": "1.0",
                "hidden-SentinelWorkspaceId": "/subscriptions/a7be9652-e6e6-4284-b1b2-14b4079f777d/resourceGroups/MSSP_Sentinel_Desarollo_ResourceGroup/providers/microsoft.OperationalInsights/Workspaces/mssp-sentinel-desarollo-resourcegroup"
            },
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "keyvault_ClientID": {
                            "defaultValue": "sophos-velorcios-client-id",
                            "type": "String"
                        },
                        "keyvault_Secret": {
                            "defaultValue": "sophos-velorcios-client-secret",
                            "type": "String"
                        },
                        "api_block_tag": {
                            "defaultValue": "sophos-velorcios-client-secret",
                            "type": "String"
                        },
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http"
                        }
                    },
                    "actions": {
                        "If_HASH": {
                            "actions": {
                                "For_Every_HASH_in_List": {
                                    "foreach": "@body('Parse_JSON_List')?['content']",
                                    "actions": {
                                        "HTTP_POST_HASH": {
                                            "type": "Http",
                                            "inputs": {
                                                "uri": "@{body('Parse_OrchestatorPart_Sophos_Auth_Playbook')?['TenantRegion']}/endpoint/v1/settings/blocked-items",
                                                "method": "POST",
                                                "headers": {
                                                    "Authorization": "Bearer @{body('Parse_OrchestatorPart_Sophos_Auth_Playbook')?['AccessToken']}",
                                                    "Accept": "application/json",
                                                    "X-Tenant-ID": "@{body('Parse_OrchestatorPart_Sophos_Auth_Playbook')?['TenantID']}",
                                                    "Content-Type": "application/json"
                                                },
                                                "body": {
                                                    "type": "sha256",
                                                    "properties": {
                                                        "sha256": "@{items('For_Every_HASH_in_List')}"
                                                    },
                                                    "comment": "Blocked by SOC"
                                                }
                                            },
                                            "runtimeConfiguration": {
                                                "contentTransfer": {
                                                    "transferMode": "Chunked"
                                                }
                                            }
                                        },
                                        "Append_to_string_variable": {
                                            "runAfter": {
                                                "HTTP_POST_HASH": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "AppendToStringVariable",
                                            "inputs": {
                                                "name": "output message",
                                                "value": "Se ha bloqueado la entidad @{items('For_Every_HASH_in_List')} con éxito\n\n"
                                            }
                                        },
                                        "Append_to_string_variable_1": {
                                            "runAfter": {
                                                "HTTP_POST_HASH": [
                                                    "TimedOut",
                                                    "Skipped",
                                                    "Failed"
                                                ]
                                            },
                                            "type": "AppendToStringVariable",
                                            "inputs": {
                                                "name": "output message",
                                                "value": "Error al ejecutar HTTP POST HASH:\n\n@{body('HTTP_POST_HASH')}\n\n"
                                            }
                                        }
                                    },
                                    "type": "Foreach"
                                }
                            },
                            "runAfter": {
                                "Category": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "For_Every_IP_DOMAIN_in_LIST": {
                                        "foreach": "@body('Parse_JSON_List')?['content']",
                                        "actions": {
                                            "HTTP_POST_IP_DOMAIN": {
                                                "type": "Http",
                                                "inputs": {
                                                    "uri": "@{body('Parse_OrchestatorPart_Sophos_Auth_Playbook')?['TenantRegion']}/endpoint/v1/settings/web-control/local-sites",
                                                    "method": "POST",
                                                    "headers": {
                                                        "Authorization": "Bearer @{body('Parse_OrchestatorPart_Sophos_Auth_Playbook')?['AccessToken']}",
                                                        "Accept": "application/json",
                                                        "X-Tenant-ID": "@{body('Parse_OrchestatorPart_Sophos_Auth_Playbook')?['TenantID']}",
                                                        "Content-Type": "application/json"
                                                    },
                                                    "body": {
                                                        "url": "@{items('For_Every_IP_DOMAIN_in_LIST')}",
                                                        "tags": [
                                                            "@{variables('Category')}"
                                                        ],
                                                        "comment": "blocked by SOC"
                                                    }
                                                },
                                                "runtimeConfiguration": {
                                                    "contentTransfer": {
                                                        "transferMode": "Chunked"
                                                    }
                                                }
                                            },
                                            "Append_to_string_variable_2": {
                                                "runAfter": {
                                                    "HTTP_POST_IP_DOMAIN": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "AppendToStringVariable",
                                                "inputs": {
                                                    "name": "output message",
                                                    "value": "Se ha bloqueado la entidad @{items('For_Every_IP_DOMAIN_in_LIST')} con éxito\n\n"
                                                }
                                            },
                                            "Append_to_string_variable_3": {
                                                "runAfter": {
                                                    "HTTP_POST_IP_DOMAIN": [
                                                        "TimedOut",
                                                        "Skipped",
                                                        "Failed"
                                                    ]
                                                },
                                                "type": "AppendToStringVariable",
                                                "inputs": {
                                                    "name": "output message",
                                                    "value": "Fallo al ejecutar HTTP POST IP DOMAIN:\n\n@{body('HTTP_POST_IP_DOMAIN')}\n\n"
                                                }
                                            }
                                        },
                                        "type": "Foreach"
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@body('Parse_JSON_List')?['type']",
                                            "HASH"
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Parse_JSON_List": {
                            "runAfter": {
                                "Parse_OrchestatorPart_Sophos_Auth_Playbook": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@triggerBody()",
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string"
                                        },
                                        "content": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "Category": {
                            "runAfter": {
                                "Parse_JSON_List": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Category",
                                        "type": "string",
                                        "value": "Blocked by API"
                                    }
                                ]
                            }
                        },
                        "Response": {
                            "runAfter": {
                                "If_HASH": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "statusCode": 201,
                                "body": {
                                    "message": "@variables('output message')"
                                }
                            }
                        },
                        "OrchestatorPart_Sophos_Auth_Playbook": {
                            "runAfter": {
                                "Output_message": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Workflow",
                            "inputs": {
                                "host": {
                                    "workflow": {
                                        "id": "[parameters('workflows_OrchestatorPart_Sophos_Auth_Playbook_externalid')]"
                                    },
                                    "triggerName": "When_an_HTTP_request_is_received"
                                }
                            }
                        },
                        "Parse_OrchestatorPart_Sophos_Auth_Playbook": {
                            "runAfter": {
                                "OrchestatorPart_Sophos_Auth_Playbook": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('OrchestatorPart_Sophos_Auth_Playbook')",
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "TenantRegion": {
                                            "type": "string"
                                        },
                                        "TenantID": {
                                            "type": "string"
                                        },
                                        "AccessToken": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "Response_1": {
                            "runAfter": {
                                "If_HASH": [
                                    "TimedOut",
                                    "Skipped",
                                    "Failed"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "statusCode": 400,
                                "body": {
                                    "message": "@variables('output message')"
                                }
                            }
                        },
                        "Append_to_string_variable_4": {
                            "runAfter": {
                                "OrchestatorPart_Sophos_Auth_Playbook": [
                                    "TimedOut",
                                    "Skipped",
                                    "Failed"
                                ]
                            },
                            "type": "AppendToStringVariable",
                            "inputs": {
                                "name": "output message",
                                "value": "Fallo al ejecutar el workflow OrchestatorPart Sophos Auth Playbook\n\n"
                            }
                        },
                        "Output_message": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "output message",
                                        "type": "string",
                                        "value": "Ejecución playbook Block IOC:\n\n"
                                    }
                                ]
                            }
                        }
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {}
                    }
                }
            }
        }
    ]
}