template_automation/examples/bad_playbooks/Sophos/Cliente_Enrich_Sophos_Get_Device_Info_Playbook.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_Velorcios_Enrich_Sophos_Get_Device_Info_Playbook_name": {
            "defaultValue": "Velorcios_Enrich_Sophos_Get_Device_Info_Playbook",
            "type": "String"
        },
        "connections_azuresentinel_Velorcios_Enrich_Sophos_Get_Device_Info_Playbook_externalid": {
            "defaultValue": "/subscriptions/2ba58427-900f-422f-9a83-2552a683d17f/resourceGroups/Blueteam/providers/Microsoft.Web/connections/azuresentinel-Velorcios_Enrich_Sophos_Get_Device_Info_Playbook",
            "type": "String"
        },
        "connections_keyvault_velorsoc_keyvault_externalid": {
            "defaultValue": "/subscriptions/2ba58427-900f-422f-9a83-2552a683d17f/resourceGroups/Blueteam/providers/Microsoft.Web/connections/keyvault-velorsoc-keyvault",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_Velorcios_Enrich_Sophos_Get_Device_Info_Playbook_name')]",
            "location": "westeurope",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "keyvault_ClientID": {
                            "defaultValue": "sophos-velorcios-client-id",
                            "type": "String"
                        },
                        "keyvault_Secret": {
                            "defaultValue": "sophos-velorcios-client-secret",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_incident": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "HTTP_POST_Token": {
                            "runAfter": {
                                "Initialize_variables_Hostnames_and_Devices": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "uri": "https://id.sophos.com/api/v2/oauth2/token",
                                "method": "POST",
                                "headers": {
                                    "Content-Type": " application/x-www-form-urlencoded"
                                },
                                "body": "grant_type=client_credentials&client_id=@{variables('ClientID')}&client_secret=@{variables('SecretID')}&scope=token"
                            },
                            "runtimeConfiguration": {
                                "contentTransfer": {
                                    "transferMode": "Chunked"
                                }
                            }
                        },
                        "Parse_JSON_Token": {
                            "runAfter": {
                                "HTTP_POST_Token": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('HTTP_POST_Token')",
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "access_token": {
                                            "type": "string"
                                        },
                                        "expires_in": {
                                            "type": "integer"
                                        },
                                        "token_type": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "HTTP_GET_TenantID": {
                            "runAfter": {
                                "Parse_JSON_Token": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "uri": "https://api.central.sophos.com/whoami/v1",
                                "method": "GET",
                                "headers": {
                                    "Authorization": "Bearer @{body('Parse_JSON_Token')?['access_token']}",
                                    "Accept": "application/json"
                                }
                            },
                            "runtimeConfiguration": {
                                "contentTransfer": {
                                    "transferMode": "Chunked"
                                }
                            }
                        },
                        "Parse_JSON_TenantID": {
                            "runAfter": {
                                "HTTP_GET_TenantID": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('HTTP_GET_TenantID')",
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "apiHosts": {
                                            "type": "object",
                                            "properties": {
                                                "dataRegion": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "Initialize_variables_Hostnames_and_Devices": {
                            "runAfter": {
                                "Entidades:_obtener_hosts": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "hostnames",
                                        "type": "array"
                                    },
                                    {
                                        "name": "devices",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_Device_Hostname": {
                            "runAfter": {
                                "Initialize_variables_ClientID_SecretID": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Device_Hostname",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_Variable_Final_Summary": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Final Summary",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Agregar_un_comentario_al_incidente_(V3)": {
                            "runAfter": {
                                "Condition_device_not_found": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                    "message": "<p class=\"editor-paragraph\">@{variables('Final Summary')}</p>"
                                },
                                "path": "/Incidents/Comment"
                            }
                        },
                        "Entidades:_obtener_hosts": {
                            "runAfter": {
                                "Initialize_variable_Device_Hostname": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "path": "/entities/host"
                            }
                        },
                        "Initialize_variables_ClientID_SecretID": {
                            "runAfter": {
                                "Obtener_SecretID": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ClientID",
                                        "type": "string",
                                        "value": "@{body('Obtener_ClientID')?['value']}"
                                    },
                                    {
                                        "name": "SecretID",
                                        "type": "string",
                                        "value": "@{body('Obtener_SecretID')?['value']}"
                                    }
                                ]
                            }
                        },
                        "For_each_Sentinel_Host": {
                            "foreach": "@body('Entidades:_obtener_hosts')?['Hosts']",
                            "actions": {
                                "Parse_JSON_Current_Device": {
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@items('For_each_Sentinel_Host')",
                                        "schema": {
                                            "type": "object",
                                            "properties": {
                                                "hostName": {
                                                    "type": "string"
                                                },
                                                "friendlyName": {
                                                    "type": "string"
                                                },
                                                "Type": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "HTTP_GET_Devices_From_Hostname": {
                                    "runAfter": {
                                        "Append_to_array_variable": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "uri": "@{body('Parse_JSON_TenantID')?['apiHosts']?['dataRegion']}/endpoint/v1/endpoints?hostnameContains=@{body('Parse_JSON_Current_Device')?['hostName']}",
                                        "method": "GET",
                                        "headers": {
                                            "X-Tenant-ID": "@{body('Parse_JSON_TenantID')?['id']}",
                                            "Authorization": "Bearer @{body('Parse_JSON_Token')?['access_token']}",
                                            "Accept": "application/json"
                                        }
                                    },
                                    "runtimeConfiguration": {
                                        "contentTransfer": {
                                            "transferMode": "Chunked"
                                        }
                                    }
                                },
                                "Append_to_array_variable": {
                                    "runAfter": {
                                        "Parse_JSON_Current_Device": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "AppendToArrayVariable",
                                    "inputs": {
                                        "name": "hostnames",
                                        "value": "@body('Parse_JSON_Current_Device')?['hostName']"
                                    }
                                },
                                "Parse_JSON_All_Devices": {
                                    "runAfter": {
                                        "HTTP_GET_Devices_From_Hostname": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('HTTP_GET_Devices_From_Hostname')",
                                        "schema": {
                                            "type": "object",
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "type": {
                                                                "type": "string"
                                                            },
                                                            "tenant": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            },
                                                            "hostname": {
                                                                "type": "string"
                                                            },
                                                            "health": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "overall": {
                                                                        "type": "string"
                                                                    },
                                                                    "threats": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "status": {
                                                                                "type": "string"
                                                                            }
                                                                        }
                                                                    },
                                                                    "services": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "status": {
                                                                                "type": "string"
                                                                            },
                                                                            "serviceDetails": {
                                                                                "type": "array",
                                                                                "items": {
                                                                                    "type": "object",
                                                                                    "properties": {
                                                                                        "name": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "status": {
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "required": [
                                                                                        "name",
                                                                                        "status"
                                                                                    ]
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            "os": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "isServer": {
                                                                        "type": "boolean"
                                                                    },
                                                                    "platform": {
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "type": "string"
                                                                    },
                                                                    "majorVersion": {
                                                                        "type": "integer"
                                                                    },
                                                                    "minorVersion": {
                                                                        "type": "integer"
                                                                    },
                                                                    "build": {
                                                                        "type": "integer"
                                                                    }
                                                                }
                                                            },
                                                            "ipv4Addresses": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "ipv6Addresses": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "macAddresses": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "mdrManaged": {
                                                                "type": "boolean"
                                                            },
                                                            "associatedPerson": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "name": {
                                                                        "type": "string"
                                                                    },
                                                                    "viaLogin": {
                                                                        "type": "string"
                                                                    },
                                                                    "id": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            },
                                                            "tamperProtectionSupported": {
                                                                "type": "boolean"
                                                            },
                                                            "tamperProtectionEnabled": {
                                                                "type": "boolean"
                                                            },
                                                            "assignedProducts": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "code": {
                                                                            "type": "string"
                                                                        },
                                                                        "version": {
                                                                            "type": "string"
                                                                        },
                                                                        "status": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "code",
                                                                        "version",
                                                                        "status"
                                                                    ]
                                                                }
                                                            },
                                                            "packages": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "protection": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "assignedId": {
                                                                                "type": "string"
                                                                            },
                                                                            "name": {
                                                                                "type": "string"
                                                                            },
                                                                            "status": {
                                                                                "type": "string"
                                                                            },
                                                                            "available": {
                                                                                "type": "array",
                                                                                "items": {
                                                                                    "type": "object",
                                                                                    "properties": {
                                                                                        "id": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "name": {
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "required": [
                                                                                        "id",
                                                                                        "name"
                                                                                    ]
                                                                                }
                                                                            }
                                                                        }
                                                                    },
                                                                    "ztna": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "assignedId": {
                                                                                "type": "string"
                                                                            },
                                                                            "name": {
                                                                                "type": "string"
                                                                            },
                                                                            "status": {
                                                                                "type": "string"
                                                                            },
                                                                            "available": {
                                                                                "type": "array",
                                                                                "items": {
                                                                                    "type": "object",
                                                                                    "properties": {
                                                                                        "id": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "name": {
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "required": [
                                                                                        "id",
                                                                                        "name"
                                                                                    ]
                                                                                }
                                                                            }
                                                                        }
                                                                    },
                                                                    "encryption": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "assignedId": {
                                                                                "type": "string"
                                                                            },
                                                                            "name": {
                                                                                "type": "string"
                                                                            },
                                                                            "status": {
                                                                                "type": "string"
                                                                            },
                                                                            "available": {
                                                                                "type": "array",
                                                                                "items": {
                                                                                    "type": "object",
                                                                                    "properties": {
                                                                                        "id": {
                                                                                            "type": "string"
                                                                                        },
                                                                                        "name": {
                                                                                            "type": "string"
                                                                                        }
                                                                                    },
                                                                                    "required": [
                                                                                        "id",
                                                                                        "name"
                                                                                    ]
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            "lastSeenAt": {
                                                                "type": "string"
                                                            },
                                                            "encryption": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "volumes": {
                                                                        "type": "array",
                                                                        "items": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "volumeId": {
                                                                                    "type": "string"
                                                                                },
                                                                                "status": {
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "volumeId",
                                                                                "status"
                                                                            ]
                                                                        }
                                                                    },
                                                                    "overallStatus": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            },
                                                            "lockdown": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "status": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            },
                                                            "online": {
                                                                "type": "boolean"
                                                            },
                                                            "isolation": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "status": {
                                                                        "type": "string"
                                                                    },
                                                                    "adminIsolated": {
                                                                        "type": "boolean"
                                                                    },
                                                                    "selfIsolated": {
                                                                        "type": "boolean"
                                                                    }
                                                                }
                                                            },
                                                            "modules": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "name": {
                                                                            "type": "string"
                                                                        },
                                                                        "version": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "name",
                                                                        "version"
                                                                    ]
                                                                }
                                                            }
                                                        },
                                                        "required": []
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "Set_variable_Devices": {
                                    "runAfter": {
                                        "Compose": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "devices",
                                        "value": "@outputs('Compose')"
                                    }
                                },
                                "Compose": {
                                    "runAfter": {
                                        "Parse_JSON_All_Devices": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Compose",
                                    "inputs": "@union(variables('devices'), body('Parse_JSON_All_Devices')?['items'])"
                                }
                            },
                            "runAfter": {
                                "Parse_JSON_TenantID": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach",
                            "runtimeConfiguration": {
                                "concurrency": {
                                    "repetitions": 20
                                }
                            }
                        },
                        "Filter_array": {
                            "runAfter": {
                                "For_each_Sentinel_Host": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Query",
                            "inputs": {
                                "from": "@variables('devices')",
                                "where": "@contains(variables('hostnames'), item()?['hostname'])"
                            }
                        },
                        "Condition_device_not_found": {
                            "actions": {
                                "For_each_2": {
                                    "foreach": "@body('Filter_array')",
                                    "actions": {
                                        "Parse_JSON_Current_Item": {
                                            "type": "ParseJson",
                                            "inputs": {
                                                "content": "@items('For_each_2')",
                                                "schema": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "type": "string"
                                                        },
                                                        "hostname": {
                                                            "type": "string"
                                                        },
                                                        "health": {
                                                            "type": "object",
                                                            "properties": {
                                                                "overall": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        },
                                                        "os": {
                                                            "type": "object",
                                                            "properties": {
                                                                "isServer": {
                                                                    "type": "boolean"
                                                                },
                                                                "platform": {
                                                                    "type": "string"
                                                                },
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "majorVersion": {
                                                                    "type": "integer"
                                                                },
                                                                "minorVersion": {
                                                                    "type": "integer"
                                                                },
                                                                "build": {
                                                                    "type": "integer"
                                                                }
                                                            }
                                                        },
                                                        "ipv4Addresses": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "ipv6Addresses": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "macAddresses": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "mdrManaged": {
                                                            "type": "boolean"
                                                        },
                                                        "associatedPerson": {
                                                            "type": "object",
                                                            "properties": {
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "viaLogin": {
                                                                    "type": "string"
                                                                },
                                                                "id": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        },
                                                        "tamperProtectionEnabled": {
                                                            "type": "boolean"
                                                        },
                                                        "lastSeenAt": {
                                                            "type": "string"
                                                        },
                                                        "encryption": {
                                                            "type": "object",
                                                            "properties": {
                                                                "volumes": {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "volumeId": {
                                                                                "type": "string"
                                                                            },
                                                                            "status": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "volumeId",
                                                                            "status"
                                                                        ]
                                                                    }
                                                                },
                                                                "overallStatus": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        },
                                                        "lockdown": {
                                                            "type": "object",
                                                            "properties": {
                                                                "status": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        },
                                                        "online": {
                                                            "type": "boolean"
                                                        },
                                                        "isolation": {
                                                            "type": "object",
                                                            "properties": {
                                                                "status": {
                                                                    "type": "string"
                                                                },
                                                                "adminIsolated": {
                                                                    "type": "boolean"
                                                                },
                                                                "selfIsolated": {
                                                                    "type": "boolean"
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "Append_to_Final_Summary": {
                                            "runAfter": {
                                                "Parse_JSON_Current_Item": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "AppendToStringVariable",
                                            "inputs": {
                                                "name": "Final Summary",
                                                "value": "<h2>INFORMACIN ASOCIADA AL DISPOSITIVO @{body('Parse_JSON_Current_Item')?['hostname']}:</h2>\n<b>id:</b> @{body('Parse_JSON_Current_Item')?['id']}\n<b>tipo:</b> @{body('Parse_JSON_Current_Item')?['type']}\n<b>hostname:</b> @{body('Parse_JSON_Current_Item')?['hostname']}\n<b>Estado general de salud:</b> @{body('Parse_JSON_Current_Item')?['health']?['overall']}\n\n<h3>SISTEMA OPERATIVO (OS):</h3>\n<b>Es servidor:</b> @{body('Parse_JSON_Current_Item')?['os']?['isServer']}\n<b>Plataforma:</b> @{body('Parse_JSON_Current_Item')?['os']?['platform']}\n<b>Nombre:</b> @{body('Parse_JSON_Current_Item')?['os']?['name']}\n<b>Versin principal:</b> @{body('Parse_JSON_Current_Item')?['os']?['majorVersion']}\n<b>Direcciones IPv4:</b> @{join(coalesce(body('Parse_JSON_Current_Item')?['ipv4Addresses'], createArray()), ', ')}\n<b>Direcciones IPv6:</b> @{join(coalesce(body('Parse_JSON_Current_Item')?['ipv6Addresses'], createArray()), ', ')}\n<b>Direcciones MAC:</b> @{join(coalesce(body('Parse_JSON_Current_Item')?['macAddresses'], createArray()), ', ')}\n\n<h3>PERSONA ASOCIADA:</h3>\n<b>ID:</b> @{body('Parse_JSON_Current_Item')?['associatedPerson']?['id']}\n<b>Nombre:</b> @{body('Parse_JSON_Current_Item')?['associatedPerson']?['name']}\n<b>Login:</b> @{body('Parse_JSON_Current_Item')?['associatedPerson']?['viaLogin']}\n\n<h3>PROTECCIN Y FECHAS:</h3>\n<b>Tamper Protection habilitado:</b> @{body('Parse_JSON_Current_Item')?['tamperProtectionEnabled']}\n<b>ltima conexin:</b> @{body('Parse_JSON_Current_Item')?['lastSeenAt']}\n\n<h3>CIFRADO:</h3>\n<b>Volmenes:</b> @{join(coalesce(body('Parse_JSON_Current_Item')?['encryption']?['volumes'], createArray()), ', ')}\n<b>Estado general:</b> @{body('Parse_JSON_Current_Item')?['encryption']?['overallStatus']}\n\n<h3>BLOQUEO (LOCKDOWN):</h3>\n<b>Estado:</b> @{body('Parse_JSON_Current_Item')?['lockdown']}\n\n<h3>CONECTIVIDAD:</h3>\n<b>Online:</b> @{body('Parse_JSON_Current_Item')?['online']}\n\n<h3>AISLAMIENTO:</h3>\n<b>Estado:</b> @{body('Parse_JSON_Current_Item')?['isolation']}\n<b>Aislado por admin:</b> @{body('Parse_JSON_Current_Item')?['isolation']?['adminIsolated']}\n<b>Autoaislado:</b> @{body('Parse_JSON_Current_Item')?['isolation']?['selfIsolated']}"
                                            }
                                        }
                                    },
                                    "type": "Foreach",
                                    "runtimeConfiguration": {
                                        "concurrency": {
                                            "repetitions": 1
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Filter_array": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "Append_to_string_variable": {
                                        "type": "AppendToStringVariable",
                                        "inputs": {
                                            "name": "Final Summary",
                                            "value": "<h2>Dispositivos  no encontrados</h2>"
                                        }
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "not": {
                                            "equals": [
                                                "@length(body('Filter_array'))",
                                                0
                                            ]
                                        }
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Obtener_ClientID": {
                            "runAfter": {
                                "Initialize_Variable_Final_Summary": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['keyvault']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/secrets/@{encodeURIComponent(parameters('keyvault_ClientID'))}/value"
                            },
                            "runtimeConfiguration": {
                                "secureData": {
                                    "properties": [
                                        "inputs",
                                        "outputs"
                                    ]
                                }
                            }
                        },
                        "Obtener_SecretID": {
                            "runAfter": {
                                "Obtener_ClientID": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['keyvault']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/secrets/@{encodeURIComponent(parameters('keyvault_Secret'))}/value"
                            },
                            "runtimeConfiguration": {
                                "secureData": {
                                    "properties": [
                                        "inputs",
                                        "outputs"
                                    ]
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[parameters('connections_azuresentinel_Velorcios_Enrich_Sophos_Get_Device_Info_Playbook_externalid')]",
                                "connectionName": "[concat('azuresentinel-', parameters('workflows_Velorcios_Enrich_Sophos_Get_Device_Info_Playbook_name'))]",
                                "id": "/subscriptions/2ba58427-900f-422f-9a83-2552a683d17f/providers/Microsoft.Web/locations/westeurope/managedApis/azuresentinel",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "keyvault": {
                                "id": "/subscriptions/2ba58427-900f-422f-9a83-2552a683d17f/providers/Microsoft.Web/locations/westeurope/managedApis/keyvault",
                                "connectionId": "[parameters('connections_keyvault_velorsoc_keyvault_externalid')]",
                                "connectionName": "keyvault-velorsoc-keyvault",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    ]
}