out/Action_Sophos_Block_IP_Alert_Playbook.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "workflows_Action_Sophos_Block_IP_Alert_Playbook_name": {
      "defaultValue": "Action_Sophos_Block_IP_Alert_Playbook",
      "type": "String"
    },
    "workflows_OrchestatorPart_Sophos_Block_IOC_Playbook_externalid": {
      "defaultValue": "/subscriptions/a7be9652-e6e6-4284-b1b2-14b4079f777d/resourceGroups/MSSP_Sentinel_Desarollo_ResourceGroup/providers/Microsoft.Logic/workflows/OrchestatorPart_Sophos_Block_IOC_Playbook",
      "type": "String"
    }
  },
  "variables": {
    "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('workflows_Action_Sophos_Block_IP_Alert_Playbook_name'))]",
    "var_workflows_OrchestatorPart_Sophos_Block_IOC_Playbook_externalid": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name ,'/providers/Microsoft.Logic/workflows/', parameters('workflows_OrchestatorPart_Sophos_Block_IOC_Playbook_externalid'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('workflows_Action_Sophos_Block_IP_Alert_Playbook_name')]",
      "location": "westeurope",
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "workflows_Action_Sophos_Block_IP_Alert_Playbook_name": {
              "type": "String",
              "defaultValue": "[parameters('workflows_Action_Sophos_Block_IP_Alert_Playbook_name')]"
            },
            "workflows_OrchestatorPart_Sophos_Block_IOC_Playbook_externalid": {
              "type": "String",
              "defaultValue": "[variables('var_workflows_OrchestatorPart_Sophos_Block_IOC_Playbook_externalid')]"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_alert": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "path": "/subscribe"
              }
            }
          },
          "actions": {
            "Entidades:_obtener_IP": {
              "runAfter": {
                "Initialize_variables": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "body": "@triggerBody()?['Entities']",
                "path": "/entities/ip"
              }
            },
            "Sophos_Block_IOC": {
              "runAfter": {
                "For_each": [
                  "Succeeded"
                ]
              },
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflow": {
                    "id": "[variables('var_workflows_OrchestatorPart_Sophos_Block_IOC_Playbook_externalid')]"
                  },
                  "triggerName": "manual"
                },
                "body": {
                  "type": "IP",
                  "content": "@variables('ips')"
                }
              }
            },
            "For_each": {
              "foreach": "@body('Parse_JSON_IPs')?['Ips']",
              "actions": {
                "Append_to_array_variable": {
                  "runAfter": {
                    "Parse_JSON_Current_Item": [
                      "Succeeded"
                    ]
                  },
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "ips",
                    "value": "@body('Parse_JSON_Current_Item')?['address']"
                  }
                },
                "Parse_JSON_Current_Item": {
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@items('For_each')",
                    "schema": {
                      "type": "object",
                      "properties": {
                        "address": {
                          "type": "string"
                        },
                        "friendlyName": {
                          "type": "string"
                        },
                        "Type": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "Parse_JSON_IPs": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Initialize_variables": {
              "runAfter": {},
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "ips",
                    "type": "array"
                  }
                ]
              }
            },
            "Parse_JSON_IPs": {
              "runAfter": {
                "Entidades:_obtener_IP": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Entidades:_obtener_IP')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "Ips": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string"
                          },
                          "friendlyName": {
                            "type": "string"
                          },
                          "Type": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "address",
                          "friendlyName",
                          "Type"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                "connectionName": "[variables('AzureSentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]"
      ]
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('AzureSentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('AzureSentinelConnectionName')]",
        "customParameterValues": {},
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
        }
      }
    }
  ]
}