AD/OrchestatorPart_AD_Block_User_Playbook.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_OrchestatorPart_AD_Block_User_Playbook_name": {
            "defaultValue": "OrchestatorPart_AD_Block_User_Playbook",
            "type": "String"
        },
        "workflows_OrchestatorPart_AD_Auth_Playbook_externalid": {
            "defaultValue": "/subscriptions/a7be9652-e6e6-4284-b1b2-14b4079f777d/resourceGroups/MSSP_Sentinel_Desarollo_ResourceGroup/providers/Microsoft.Logic/workflows/OrchestatorPart_AD_Auth_Playbook",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_OrchestatorPart_AD_Block_User_Playbook_name')]",
            "location": "westeurope",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "users": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "actions": {
                        "OrchestatorPart_AD_Auth_Playbook": {
                            "runAfter": {
                                "Initialize_variables_status_OK": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Workflow",
                            "inputs": {
                                "host": {
                                    "workflow": {
                                        "id": "[parameters('workflows_OrchestatorPart_AD_Auth_Playbook_externalid')]"
                                    },
                                    "triggerName": "Manual"
                                }
                            }
                        },
                        "Parse_JSON_token": {
                            "runAfter": {
                                "OrchestatorPart_AD_Auth_Playbook": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('OrchestatorPart_AD_Auth_Playbook')",
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "AccessToken": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "HTTP_POST_Run_Runbook": {
                            "runAfter": {
                                "Parse_JSON_token": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "uri": "https://2ec893b1-8843-42c6-a27d-efdc08f782ea.webhook.we.azure-automation.net/webhooks?token=QLiiFHp53%2bqUw5SOFf0mFu2nInUmkHp1Yb95%2fsFuBE0%3d",
                                "method": "POST",
                                "body": {
                                    "users": "@triggerBody()?['users']"
                                }
                            },
                            "runtimeConfiguration": {
                                "contentTransfer": {
                                    "transferMode": "Chunked"
                                }
                            }
                        },
                        "Initialize_variables_status_OK": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Status_OK",
                                        "type": "boolean",
                                        "value": false
                                    }
                                ]
                            }
                        },
                        "Response": {
                            "runAfter": {
                                "OrchestatorPart_AD_Auth_Playbook": [
                                    "Failed",
                                    "TimedOut"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "statusCode": "@outputs('OrchestatorPart_AD_Auth_Playbook')?['statusCode']",
                                "body": "@body('OrchestatorPart_AD_Auth_Playbook')"
                            }
                        },
                        "HTTP_GET_Job_Output": {
                            "runAfter": {
                                "Until": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "uri": "https://management.azure.com/subscriptions/a7be9652-e6e6-4284-b1b2-14b4079f777d/resourceGroups/MSSP_Orchestator_Runbooks_ResourceGroup/providers/Microsoft.OrchestatorPart/automationAccounts/MSSP-Runbooks-OrchestatorPart/jobs/@{first(body('Parse_JSON_POST_Runbook')?['JobIds'])}/output?api-version=2024-10-23",
                                "method": "GET",
                                "headers": {
                                    "authorization": "@{body('Parse_JSON_token')?['AccessToken']}"
                                }
                            },
                            "runtimeConfiguration": {
                                "contentTransfer": {
                                    "transferMode": "Chunked"
                                }
                            }
                        },
                        "Response_1": {
                            "runAfter": {
                                "HTTP_GET_Job_Output": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "statusCode": 200,
                                "body": {
                                    "message": "@variables('Status_OK')"
                                }
                            }
                        },
                        "Until": {
                            "actions": {
                                "Delay_30s": {
                                    "type": "Wait",
                                    "inputs": {
                                        "interval": {
                                            "count": 30,
                                            "unit": "Second"
                                        }
                                    }
                                },
                                "HTTP_GET_Job_ID_Status": {
                                    "runAfter": {
                                        "Delay_30s": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "uri": "https://management.azure.com/subscriptions/a7be9652-e6e6-4284-b1b2-14b4079f777d/resourceGroups/MSSP_Orchestator_Runbooks_ResourceGroup/providers/Microsoft.OrchestatorPart/automationAccounts/MSSP-Runbooks-OrchestatorPart/jobs/@{first(body('Parse_JSON_POST_Runbook')?['JobIds'])}?api-version=2024-10-23",
                                        "method": "GET",
                                        "headers": {
                                            "Authorization": "@{body('Parse_JSON_token')?['AccessToken']}"
                                        },
                                        "retryPolicy": {
                                            "type": "none"
                                        }
                                    },
                                    "runtimeConfiguration": {
                                        "contentTransfer": {
                                            "transferMode": "Chunked"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Parse_JSON_POST_Runbook": [
                                    "Succeeded"
                                ]
                            },
                            "expression": "@or(equals(body('HTTP_GET_Job_ID_Status')?['properties']?['status'], 'Completed'), equals(body('HTTP_GET_Job_ID_Status')?['properties']?['status'], 'Failed'))",
                            "limit": {
                                "count": 4,
                                "timeout": "PT2M"
                            },
                            "type": "Until"
                        },
                        "Parse_JSON_POST_Runbook": {
                            "runAfter": {
                                "HTTP_POST_Run_Runbook": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('HTTP_POST_Run_Runbook')",
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "JobIds": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {}
                    }
                }
            }
        }
    ]
}