template_automation/out/CrowdStrike/Cliente_Action_CrowdStrike_Block_Incident_Hashes_Playbook.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "workflows_PRUEBA_Action_Crowdstrike_Block_incident_Hash_name": {
      "defaultValue": "PRUEBA_Action_Crowdstrike_Block_incident_Hash",
      "type": "String"
    },
    "workflows_PRUEBA_Automation_Block_IOC_externalid": {
      "defaultValue": "/subscriptions/a7be9652-e6e6-4284-b1b2-14b4079f777d/resourceGroups/MSSP_Sentinel_Desarollo_ResourceGroup/providers/Microsoft.Logic/workflows/PRUEBA_Automation_Block_IOC",
      "type": "String"
    },
    "connections_azuresentinel_PRUEBA_Action_Crowdstrike_Block_incident_Hash_externalid": {
      "defaultValue": "/subscriptions/a7be9652-e6e6-4284-b1b2-14b4079f777d/resourceGroups/MSSP_Sentinel_Desarollo_ResourceGroup/providers/Microsoft.Web/connections/azuresentinel-PRUEBA_Action_Crowdstrike_Block_incident_Hash",
      "type": "String"
    },
    "connections_MSSPDev_Deshabilitar_Reglas_ApiConnection_externalid": {
      "defaultValue": "/subscriptions/a7be9652-e6e6-4284-b1b2-14b4079f777d/resourceGroups/MSSP_Sentinel_Desarollo_ResourceGroup/providers/Microsoft.Web/connections/MSSPDev_Deshabilitar_Reglas_ApiConnection",
      "type": "String"
    }
  },
  "variables": {
    "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('workflows_PRUEBA_Action_Crowdstrike_Block_incident_Hash_name'))]",
    "var_workflows_PRUEBA_Automation_Block_IOC_externalid": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name ,'/providers/Microsoft.Logic/workflows/', parameters('workflows_PRUEBA_Automation_Block_IOC_externalid'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('workflows_PRUEBA_Action_Crowdstrike_Block_incident_Hash_name')]",
      "location": "westeurope",
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "workflows_PRUEBA_Action_Crowdstrike_Block_incident_Hash_name": {
              "type": "String",
              "defaultValue": "[parameters('workflows_PRUEBA_Action_Crowdstrike_Block_incident_Hash_name')]"
            },
            "workflows_PRUEBA_Automation_Block_IOC_externalid": {
              "type": "String",
              "defaultValue": "[variables('var_workflows_PRUEBA_Automation_Block_IOC_externalid')]"
            },
            "connections_azuresentinel_PRUEBA_Action_Crowdstrike_Block_incident_Hash_externalid": {
              "type": "String",
              "defaultValue": "[parameters('connections_azuresentinel_PRUEBA_Action_Crowdstrike_Block_incident_Hash_externalid')]"
            },
            "connections_MSSPDev_Deshabilitar_Reglas_ApiConnection_externalid": {
              "type": "String",
              "defaultValue": "[parameters('connections_MSSPDev_Deshabilitar_Reglas_ApiConnection_externalid')]"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Initialize_variables": {
              "runAfter": {},
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "hashes",
                    "type": "array"
                  }
                ]
              }
            },
            "For_each": {
              "foreach": "@body('Entidades:_obtener_FileHashes')?['Filehashes']",
              "actions": {
                "Parse_JSON": {
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@items('For_each')",
                    "schema": {
                      "type": "object",
                      "properties": {
                        "Name": {
                          "type": "string"
                        },
                        "Algorithm": {
                          "type": "string"
                        },
                        "Value": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "Append_to_array_variable": {
                  "runAfter": {
                    "Parse_JSON": [
                      "Succeeded"
                    ]
                  },
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "hashes",
                    "value": "@body('Parse_JSON')?['Value']"
                  }
                }
              },
              "runAfter": {
                "Entidades:_obtener_FileHashes": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Entidades:_obtener_FileHashes": {
              "runAfter": {
                "Initialize_variables": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                  }
                },
                "method": "post",
                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                "path": "/entities/filehash"
              }
            },
            "PRUEBA_Automation_Block_IOC": {
              "runAfter": {
                "For_each": [
                  "Succeeded"
                ]
              },
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflow": {
                    "id": "[variables('var_workflows_PRUEBA_Automation_Block_IOC_externalid')]"
                  },
                  "triggerName": "Manual"
                },
                "body": {
                  "type": "sha256",
                  "content": "@variables('hashes')"
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                "connectionName": "[variables('AzureSentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              },
              "azuresentinel-1": {
                "id": "/subscriptions/a7be9652-e6e6-4284-b1b2-14b4079f777d/providers/Microsoft.Web/locations/westeurope/managedApis/azuresentinel",
                "connectionId": "[parameters('connections_MSSPDev_Deshabilitar_Reglas_ApiConnection_externalid')]",
                "connectionName": "MSSPDev_Deshabilitar_Reglas_ApiConnection",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]"
      ]
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('AzureSentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('AzureSentinelConnectionName')]",
        "customParameterValues": {},
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
        }
      }
    }
  ]
}