template_automation/out/CrowdStrike/Cliente_OrchestatorPart_CrowdStrike_Block_IOC_Playbook.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "workflows_PRUEBA_Automation_Block_IOC_name": {
      "defaultValue": "PRUEBA_Automation_Block_IOC",
      "type": "String"
    },
    "workflows_PRUEBA_Automation_CrowdStrike_Auth_Playbook_externalid": {
      "defaultValue": "/subscriptions/a7be9652-e6e6-4284-b1b2-14b4079f777d/resourceGroups/MSSP_Sentinel_Desarollo_ResourceGroup/providers/Microsoft.Logic/workflows/PRUEBA_Automation_CrowdStrike_Auth_Playbook",
      "type": "String"
    },
    "PlaybookName": {
      "type": "String",
      "defaultValue": "[concat(parameters('client_Name'), '_OrchestatorPart_CrowdStrike_Block_IOC_Playbook')]"
    },
    "Auth_Playbook_Name": {
      "type": "String",
      "defaultValue": "[concat(parameters('client_Name'), '_OrchestatorPart_CrowdStrike_Auth_Playbook')]"
    }
  },
  "variables": {
    "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('workflows_PRUEBA_Automation_Block_IOC_name'))]",
    "var_workflows_PRUEBA_Automation_CrowdStrike_Auth_Playbook_externalid": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name ,'/providers/Microsoft.Logic/workflows/', parameters('workflows_PRUEBA_Automation_CrowdStrike_Auth_Playbook_externalid'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('workflows_PRUEBA_Automation_Block_IOC_name')]",
      "location": "westeurope",
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string"
                    },
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "type",
                    "content"
                  ]
                }
              }
            }
          },
          "actions": {
            "PRUEBA_Automation_CrowdStrike_Auth_Playbook": {
              "runAfter": {
                "Initialize_variables_indicators": [
                  "Succeeded"
                ]
              },
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflow": {
                    "id": "[variables('var_workflows_PRUEBA_Automation_CrowdStrike_Auth_Playbook_externalid')]"
                  },
                  "triggerName": "manual"
                }
              }
            },
            "Parse_JSON": {
              "runAfter": {
                "PRUEBA_Automation_CrowdStrike_Auth_Playbook": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('PRUEBA_Automation_CrowdStrike_Auth_Playbook')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "AccessToken": {
                      "type": "string"
                    },
                    "FalconHost": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "For_each": {
              "foreach": "@triggerBody()?['content']",
              "actions": {
                "Append_to_array_variable_1": {
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "indicators",
                    "value": {
                      "action": "prevent",
                      "applied_globally": true,
                      "description": "Bloqueo de hash malicioso",
                      "type": "@triggerBody()?['type']",
                      "value": "@items('For_each')",
                      "severity": "medium",
                      "platforms": [
                        "windows",
                        "linux",
                        "mac"
                      ]
                    }
                  }
                }
              },
              "runAfter": {
                "Parse_JSON": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "HTTP_POST_IOC_Indicators": {
              "runAfter": {
                "For_each": [
                  "Succeeded"
                ]
              },
              "type": "Http",
              "inputs": {
                "uri": "@{body('Parse_JSON')?['FalconHost']}​/iocs/entities/indicators/v1?ignore_warnings=false\n",
                "method": "POST",
                "headers": {
                  "Authorization": "@{body('Parse_JSON')?['AccessToken']}",
                  "Content-Type": "application/json",
                  "Accept": "application/json"
                },
                "body": {
                  "comment": "Bloqueo automático desde playbook de sentinel",
                  "indicators": "@variables('indicators')"
                }
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Initialize_variables_indicators": {
              "runAfter": {},
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "indicators",
                    "type": "array"
                  }
                ]
              }
            },
            "Response_201_Created": {
              "runAfter": {
                "HTTP_POST_IOC_Indicators": [
                  "Succeeded"
                ]
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 201,
                "body": {
                  "message": "Created",
                  "indicators": "@variables('indicators')"
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                "connectionName": "[variables('AzureSentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]"
      ]
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('AzureSentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('AzureSentinelConnectionName')]",
        "customParameterValues": {},
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
        }
      }
    }
  ]
}