CrowdStrike/Action_CrowdStrike_Device_Isolation_Alert_Playbook.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_Action_CrowdStrike_Device_Isolation_Alert_Playbook_name": {
            "defaultValue": "Action_CrowdStrike_Device_Isolation_Alert_Playbook",
            "type": "String"
        },
        "workflows_OrchestatorPart_CrowdStrike_Device_Isolation_Playbook_externalid": {
            "defaultValue": "/subscriptions/a7be9652-e6e6-4284-b1b2-14b4079f777d/resourceGroups/MSSP_Sentinel_Desarollo_ResourceGroup/providers/Microsoft.Logic/workflows/OrchestatorPart_CrowdStrike_Device_Isolation_Playbook",
            "type": "String"
        },
        "connections_MSSPDev_Deshabilitar_Reglas_ApiConnection_externalid": {
            "defaultValue": "/subscriptions/a7be9652-e6e6-4284-b1b2-14b4079f777d/resourceGroups/MSSP_Sentinel_Desarollo_ResourceGroup/providers/Microsoft.Web/connections/MSSPDev_Deshabilitar_Reglas_ApiConnection",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_Action_CrowdStrike_Device_Isolation_Alert_Playbook_name')]",
            "location": "westeurope",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_alert": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "path": "/subscribe"
                            }
                        }
                    },
                    "actions": {
                        "OrchestatorPart_CrowdStrike_Device_Isolation_Playbook": {
                            "runAfter": {
                                "For_each": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Workflow",
                            "inputs": {
                                "host": {
                                    "workflow": {
                                        "id": "[parameters('workflows_OrchestatorPart_CrowdStrike_Device_Isolation_Playbook_externalid')]"
                                    },
                                    "triggerName": "manual"
                                },
                                "body": {
                                    "hostnames": "@variables('hostnames')"
                                }
                            }
                        },
                        "For_each": {
                            "foreach": "@body('Entidades:_obtener_hosts')?['Hosts']",
                            "actions": {
                                "Append_to_array_variable": {
                                    "type": "AppendToArrayVariable",
                                    "inputs": {
                                        "name": "hostnames",
                                        "value": "@items('For_each')?['hostname']"
                                    }
                                }
                            },
                            "runAfter": {
                                "Entidades:_obtener_hosts": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Entidades:_obtener_hosts": {
                            "runAfter": {
                                "Initialize_variables": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": "@triggerBody()?['Entities']",
                                "path": "/entities/host"
                            }
                        },
                        "Initialize_variables": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "hostnames",
                                        "type": "array"
                                    }
                                ]
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "id": "/subscriptions/a7be9652-e6e6-4284-b1b2-14b4079f777d/providers/Microsoft.Web/locations/westeurope/managedApis/azuresentinel",
                                "connectionId": "[parameters('connections_MSSPDev_Deshabilitar_Reglas_ApiConnection_externalid')]",
                                "connectionName": "MSSPDev_Deshabilitar_Reglas_ApiConnection",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    ]
}