CrowdStrike/Action_Crowdstrike_Block_Hash_Incident_Playbook.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_Action_Crowdstrike_Block_Hash_Incident_Playbook_name": {
            "defaultValue": "Action_Crowdstrike_Block_Hash_Incident_Playbook",
            "type": "string"
        },
        "workflows_OrchestatorPart_CrowdStrike_Block_IOC_Playbook_externalid": {
            "defaultValue": "/subscriptions/a7be9652-e6e6-4284-b1b2-14b4079f777d/resourceGroups/MSSP_Sentinel_Desarollo_ResourceGroup/providers/Microsoft.Logic/workflows/OrchestatorPart_Block_IOC_Playbook",
            "type": "string"
        },
        "connections_azuresentinel_PRUEBA_Action_Crowdstrike_Block_incident_Hash_externalid": {
            "defaultValue": "/subscriptions/a7be9652-e6e6-4284-b1b2-14b4079f777d/resourceGroups/MSSP_Sentinel_Desarollo_ResourceGroup/providers/Microsoft.Web/connections/azuresentinel-PRUEBA_Action_Crowdstrike_Block_incident_Hash",
            "type": "string"
        },
        "connections_MSSPDev_Deshabilitar_Reglas_ApiConnection_externalid": {
            "defaultValue": "/subscriptions/a7be9652-e6e6-4284-b1b2-14b4079f777d/resourceGroups/MSSP_Sentinel_Desarollo_ResourceGroup/providers/Microsoft.Web/connections/MSSPDev_Deshabilitar_Reglas_ApiConnection",
            "type": "string"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_Action_Crowdstrike_Block_Hash_Incident_Playbook_name')]",
            "location": "westeurope",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_incident": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "Initialize_variables": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "hashes",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "For_each": {
                            "foreach": "@body('Entidades:_obtener_FileHashes')?['Filehashes']",
                            "actions": {
                                "Parse_JSON": {
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@items('For_each')",
                                        "schema": {
                                            "type": "object",
                                            "properties": {
                                                "Name": {
                                                    "type": "string"
                                                },
                                                "Algorithm": {
                                                    "type": "string"
                                                },
                                                "Value": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "Append_to_array_variable": {
                                    "runAfter": {
                                        "Parse_JSON": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "AppendToArrayVariable",
                                    "inputs": {
                                        "name": "hashes",
                                        "value": "@body('Parse_JSON')?['Value']"
                                    }
                                }
                            },
                            "runAfter": {
                                "Entidades:_obtener_FileHashes": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Entidades:_obtener_FileHashes": {
                            "runAfter": {
                                "Initialize_variables": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "path": "/entities/filehash"
                            }
                        },
                        "OrchestatorPart_Block_IOC_Playbook": {
                            "runAfter": {
                                "For_each": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Workflow",
                            "inputs": {
                                "host": {
                                    "workflow": {
                                        "id": "[parameters('workflows_MSSP_OrchestatorPart_CrowdStrike_Block_IOC_Playbook_externalid')]"
                                    },
                                    "triggerName": "Manual"
                                },
                                "body": {
                                    "type": "sha256",
                                    "content": "@variables('hashes')"
                                }
                            }
                        },
                        "Agregar_un_comentario_al_incidente_(V3)": {
                            "runAfter": {
                                "OrchestatorPart_Block_IOC_Playbook": [
                                    "Succeeded",
                                    "Failed"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                    "message": "<p class=\"editor-paragraph\">@{body('OrchestatorPart_Block_IOC_Playbook')?['message']}</p>"
                                },
                                "path": "/Incidents/Comment",
                                "retryPolicy": {
                                    "type": "none"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "id": "/subscriptions/a7be9652-e6e6-4284-b1b2-14b4079f777d/providers/Microsoft.Web/locations/westeurope/managedApis/azuresentinel",
                                "connectionId": "[parameters('connections_azuresentinel_PRUEBA_Action_Crowdstrike_Block_incident_Hash_externalid')]",
                                "connectionName": "[concat('azuresentinel-', parameters('workflows_Action_Crowdstrike_Block_Hash_Incident_Playbook_name'))]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    ]
}