CrowdStrike/Cliente_Action_CrowdStrike_Device_Isolation_Playbook
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "PlaybookName": {
            "defaultValue": "Cliente_Action_CrowdStrike_Device_Isolation_Playbook",
            "type": "String"
        },
        "Auth_Playbook_Name": {
            "defaultValue": "Cliente_Automation_CrowdStrike_Auth_Playbook",
            "type": "String"
        }
    },
    "variables": {"AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]"},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "westeurope",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_entity": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "path": "/entity/@{encodeURIComponent('Host')}"
                            }
                        }
                    },
                    "actions": {
                        "Initialize_Host_Name": {
                            "runAfter": {
                                "Call_Automation_CrowdStrike_Auth_Playbook": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "HostName",
                                        "type": "string",
                                        "value": "@{triggerBody()?['Entity']?['properties']?['HostName']}"
                                    }
                                ]
                            }
                        },
                        "Call_Automation_CrowdStrike_Auth_Playbook": {
                            "runAfter": {},
                            "type": "Workflow",
                            "inputs": {
                                "host": {
                                    "workflow": {
                                        "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name ,'/providers/Microsoft.Logic/workflows/', parameters('Auth_Playbook_Name'))]"
                                    },
                                    "triggerName": "manual"
                                }
                            }
                        },
                        "HTTP-GET_-_Get_device_id": {
                            "runAfter": {
                                "Initialize_Host_Name": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "uri": "@{body('Call_Automation_CrowdStrike_Auth_Playbook')?['FalconHost']}/devices/queries/devices/v1?filter=hostname:'@{variables('HostName')}'",
                                "method": "GET",
                                "headers": {
                                    "Accept": "application/json",
                                    "Authorization": "@{body('Call_Automation_CrowdStrike_Auth_Playbook')?['AccessToken']}",
                                    "Content-Type": "application/json"
                                }
                            },
                            "description": "This gets the device id from crowdstrike by filtering on hostname"
                        },
                        "Parse_JSON_Get_device_id_response": {
                            "runAfter": {
                                "HTTP-GET_-_Get_device_id": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('HTTP-GET_-_Get_device_id')",
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "errors": {
                                            "type": "array"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "pagination": {
                                                    "type": "object",
                                                    "properties": {
                                                        "limit": {
                                                            "type": "integer"
                                                        },
                                                        "offset": {
                                                            "type": "integer"
                                                        },
                                                        "total": {
                                                            "type": "integer"
                                                        }
                                                    }
                                                },
                                                "powered_by": {
                                                    "type": "string"
                                                },
                                                "query_time": {
                                                    "type": "number"
                                                },
                                                "trace_id": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "resources": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            },
                            "description": "prepare json message for the device id response"
                        },
                        "HTTP-GET_-_Get_Device_Info_By_ID": {
                            "runAfter": {
                                "Parse_JSON_Get_device_id_response": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "uri": "@{body('Call_Automation_CrowdStrike_Auth_Playbook')?['FalconHost']}/devices/entities/devices/v2?ids=@{join(body('Parse_JSON_Get_device_id_response')?['resources'], '&ids=')}",
                                "method": "GET",
                                "headers": {
                                    "Accept": "application/json",
                                    "Authorization": "@{body('Call_Automation_CrowdStrike_Auth_Playbook')?['AccessToken']}",
                                    "Content-Type": "application/json"
                                }
                            },
                            "description": "This gets the device id from crowdstrike by filtering on hostname"
                        },
                        "Parse_JSON_HTTP-GET-_Get_Decive_Info_By_ID": {
                            "runAfter": {
                                "HTTP-GET_-_Get_Device_Info_By_ID": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('HTTP-GET_-_Get_Device_Info_By_ID')",
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "resources": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "device_id": {
                                                        "type": "string"
                                                    },
                                                    "agent_version": {
                                                        "type": "string"
                                                    },
                                                    "bios_manufacturer": {
                                                        "type": "string"
                                                    },
                                                    "bios_version": {
                                                        "type": "string"
                                                    },
                                                    "build_number": {
                                                        "type": "string"
                                                    },
                                                    "external_ip": {
                                                        "type": "string"
                                                    },
                                                    "mac_address": {
                                                        "type": "string"
                                                    },
                                                    "hostname": {
                                                        "type": "string"
                                                    },
                                                    "filesystem_containment_status": {
                                                        "type": "string"
                                                    },
                                                    "first_seen": {
                                                        "type": "string"
                                                    },
                                                    "last_login_timestamp": {
                                                        "type": "string"
                                                    },
                                                    "last_login_user": {
                                                        "type": "string"
                                                    },
                                                    "last_login_user_sid": {
                                                        "type": "string"
                                                    },
                                                    "last_seen": {
                                                        "type": "string"
                                                    },
                                                    "machine_domain": {
                                                        "type": "string"
                                                    },
                                                    "major_version": {
                                                        "type": "string"
                                                    },
                                                    "os_version": {
                                                        "type": "string"
                                                    },
                                                    "rtr_state": {
                                                        "type": "string"
                                                    },
                                                    "groups": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "provision_status": {
                                                        "type": "string"
                                                    },
                                                    "serial_number": {
                                                        "type": "string"
                                                    },
                                                    "status": {
                                                        "type": "string"
                                                    },
                                                    "system_manufacturer": {
                                                        "type": "string"
                                                    },
                                                    "kernel_version": {
                                                        "type": "string"
                                                    },
                                                    "os_product_name": {
                                                        "type": "string"
                                                    },
                                                    "chassis_type_desc": {
                                                        "type": "string"
                                                    },
                                                    "last_reboot": {
                                                        "type": "string"
                                                    },
                                                    "connection_ip": {
                                                        "type": "string"
                                                    },
                                                    "default_gateway_ip": {
                                                        "type": "string"
                                                    },
                                                    "connection_mac_address": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "For_each_Device_Info": {
                            "foreach": "@body('Parse_JSON_HTTP-GET-_Get_Decive_Info_By_ID')?['resources']",
                            "actions": {
                                "Condition": {
                                    "actions": {
                                        "HTTP-POST_-_IsolateDevice": {
                                            "type": "Http",
                                            "inputs": {
                                                "uri": "@{body('Call_Automation_CrowdStrike_Auth_Playbook')?['FalconHost']}/devices/entities/devices-actions/v2?action_name=contain",
                                                "method": "POST",
                                                "headers": {
                                                    "Accept": "application/json",
                                                    "Content-Type": "application/json",
                                                    "Authorization": "@{body('Call_Automation_CrowdStrike_Auth_Playbook')?['AccessToken']}"
                                                },
                                                "body": {
                                                    "enabled": true,
                                                    "comment": "Bloqueado por SOC",
                                                    "ids": [
                                                        "@items('For_each_Device_Info')?['device_id']\r\n"
                                                    ]
                                                }
                                            },
                                            "runtimeConfiguration": {
                                                "contentTransfer": {
                                                    "transferMode": "Chunked"
                                                }
                                            }
                                        }
                                    },
                                    "else": {
                                        "actions": {}
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@variables('HostName')",
                                                    "@items('For_each_Device_Info')?['hostname']"
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                }
                            },
                            "runAfter": {
                                "Parse_JSON_HTTP-GET-_Get_Decive_Info_By_ID": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                                "connectionName": "[variables('AzureSentinelConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]"
            ]
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureSentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('AzureSentinelConnectionName')]",
                "customParameterValues": {},
                "parameterValueType": "Alternative",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                }
            }
        }
    ]
}