CrowdStrike/Cliente_Enrich_CrowdStrike_Device_Info_Playbook.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "PlaybookName": {
            "defaultValue": "PRUEBA_Enrich_CrowdStike_Device_Info",
            "type": "string"
        },
        "Auth_Playbook_Name": {
            "defaultValue": "Cliente_Automation_CrowdStrike_Auth_Playbook",
            "type": "string"
        }
    },
    "variables": {"AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]"},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "westeurope",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_incident": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "PRUEBA_Automation_CrowdStrike_Auth_Playbook": {
                            "runAfter": {
                                "For_each_Host": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Workflow",
                            "inputs": {
                                "host": {
                                    "workflow": {
                                        "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name ,'/providers/Microsoft.Logic/workflows/', parameters('Auth_Playbook_Name'))]"
                                    },
                                    "triggerName": "manual"
                                }
                            }
                        },
                        "Parse_JSON_Token": {
                            "runAfter": {
                                "PRUEBA_Automation_CrowdStrike_Auth_Playbook": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('PRUEBA_Automation_CrowdStrike_Auth_Playbook')",
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "AccessToken": {
                                            "type": "string"
                                        },
                                        "FalconHost": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "Entidades:_obtener_hosts": {
                            "runAfter": {
                                "Initialize_variables_IDs": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "path": "/entities/host"
                            }
                        },
                        "For_each_Host": {
                            "foreach": "@body('Entidades:_obtener_hosts')?['Hosts']",
                            "actions": {
                                "Parse_JSON_Current_Item": {
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@items('For_each_Host')",
                                        "schema": {
                                            "type": "object",
                                            "properties": {
                                                "hostName": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "Condition": {
                                    "actions": {
                                        "Append_to_string_variable": {
                                            "type": "AppendToStringVariable",
                                            "inputs": {
                                                "name": "Hostnames",
                                                "value": "hostname:'@{body('Parse_JSON_Current_Item')?['hostName']}'"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Append_to_array_variable": [
                                            "Succeeded"
                                        ]
                                    },
                                    "else": {
                                        "actions": {
                                            "Append_to_string_variable_1": {
                                                "type": "AppendToStringVariable",
                                                "inputs": {
                                                    "name": "Hostnames",
                                                    "value": ",hostname:'@{body('Parse_JSON_Current_Item')?['hostName']}'"
                                                }
                                            }
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@items('For_each_Host')",
                                                    "@body('Entidades:_obtener_hosts')?['Hosts'][0]"
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                },
                                "Append_to_array_variable": {
                                    "runAfter": {
                                        "Parse_JSON_Current_Item": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "AppendToArrayVariable",
                                    "inputs": {
                                        "name": "hostnames array",
                                        "value": "@body('Parse_JSON_Current_Item')?['hostName']"
                                    }
                                }
                            },
                            "runAfter": {
                                "Entidades:_obtener_hosts": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach",
                            "runtimeConfiguration": {
                                "concurrency": {
                                    "repetitions": 1
                                }
                            }
                        },
                        "Initialize_variables_Hostnames": {
                            "runAfter": {
                                "Initialize_variables_FinalSummary": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Hostnames",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "HTTP_GET_IDs": {
                            "runAfter": {
                                "Parse_JSON_Token": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "uri": "@{body('Parse_JSON_Token')?['FalconHost']}/devices/queries/devices/v1?filter=@{variables('Hostnames')}",
                                "method": "GET",
                                "headers": {
                                    "Authorization": "@{body('Parse_JSON_Token')?['AccessToken']}",
                                    "Content-Type": "application/json",
                                    "Accept": "application/json"
                                }
                            },
                            "runtimeConfiguration": {
                                "contentTransfer": {
                                    "transferMode": "Chunked"
                                }
                            }
                        },
                        "Parse_JSON_Devices_IDs": {
                            "runAfter": {
                                "HTTP_GET_IDs": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('HTTP_GET_IDs')",
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "resources": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "Initialize_variables_IDs": {
                            "runAfter": {
                                "Initialize_variables_Hostnames": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "IDs",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "For_each_Device": {
                            "foreach": "@body('Filter_array')",
                            "actions": {
                                "Append_to_string_variable_2": {
                                    "type": "AppendToStringVariable",
                                    "inputs": {
                                        "name": "FinalSummary",
                                        "value": "<h2>INFORMACIÓN ASOCIADA AL DISPOSITIVO @{ items('For_each_Device')['hostname'] }:</h2>\n<b>ID del dispositivo:</b> @{ items('For_each_Device')['device_id'] }<br>\n<b>Versión del agente:</b> @{ items('For_each_Device')['agent_version'] }<br>\n<b>Estado general:</b> @{ items('For_each_Device')['status'] }<br>\n<b>Grupos:</b> @{ join(coalesce(items('For_each_Device')['groups'], createArray()), ', ') }<br>\n\n<h3>HARDWARE Y BIOS:</h3>\n<b>Bios fabricante:</b> @{ items('For_each_Device')['bios_manufacturer'] }<br>\n<b>Bios versión:</b> @{ items('For_each_Device')['bios_version'] }<br>\n<b>Build número:</b> @{ items('For_each_Device')['build_number'] }<br>\n<b>Fabricante del sistema:</b> @{ items('For_each_Device')['system_manufacturer'] }<br>\n<b>Tipo de chasis:</b> @{ items('For_each_Device')['chassis_type_desc'] }<br>\n<b>Kernel:</b> @{ items('For_each_Device')['kernel_version'] }<br>\n<b>Último reinicio:</b> @{ items('For_each_Device')['last_reboot'] }<br>\n\n<h3>SISTEMA OPERATIVO (OS):</h3>\n<b>Nombre:</b> @{ items('For_each_Device')['os_product_name'] }<br>\n<b>Versión OS:</b> @{ items('For_each_Device')['os_version'] }<br>\n<b>Versión principal:</b> @{ items('For_each_Device')['major_version'] }<br>\n\n<h3>RED Y CONECTIVIDAD:</h3>\n<b>IP de conexión:</b> @{ items('For_each_Device')['connection_ip'] }<br>\n<b>Gateway por defecto:</b> @{ items('For_each_Device')['default_gateway_ip'] }<br>\n<b>MAC de conexión:</b> @{ items('For_each_Device')['connection_mac_address'] }<br>\n<b>MAC principal:</b> @{ items('For_each_Device')['mac_address'] }<br>\n<b>IP externa:</b> @{ items('For_each_Device')['external_ip'] }<br>\n\n<h3>LOGIN Y USUARIO:</h3>\n<b>Último login usuario:</b> @{ items('For_each_Device')['last_login_user'] }<br>\n<b>Último login SID:</b> @{ items('For_each_Device')['last_login_user_sid'] }<br>\n<b>Último login timestamp:</b> @{ items('For_each_Device')['last_login_timestamp'] }<br>\n<b>Primera vez visto:</b> @{ items('For_each_Device')['first_seen'] }<br>\n<b>Último visto:</b> @{ items('For_each_Device')['last_seen'] }<br>\n\n<h3>CONTENCIÓN Y SEGURIDAD:</h3>\n<b>Estado de filesystem containment:</b> @{ items('For_each_Device')['filesystem_containment_status'] }<br>\n<b>Estado RTR:</b> @{ items('For_each_Device')['rtr_state'] }<br>\n<b>Estado de provisión:</b> @{ items('For_each_Device')['provision_status'] }<br>\n"
                                    }
                                }
                            },
                            "runAfter": {
                                "Filter_array": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach",
                            "runtimeConfiguration": {
                                "concurrency": {
                                    "repetitions": 1
                                }
                            }
                        },
                        "Initialize_variables_FinalSummary": {
                            "runAfter": {
                                "Initialize_variables_Device_Info": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "FinalSummary",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_variables_Device_Info": {
                            "runAfter": {
                                "Initialize_variables": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "DeviceInfo",
                                        "type": "object"
                                    }
                                ]
                            }
                        },
                        "Agregar_un_comentario_al_incidente_(V3)": {
                            "runAfter": {
                                "For_each_Device": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                    "message": "<p class=\"editor-paragraph\">@{variables('FinalSummary')}</p>"
                                },
                                "path": "/Incidents/Comment"
                            }
                        },
                        "HTTP_GET_Device_Information": {
                            "runAfter": {
                                "Parse_JSON_Devices_IDs": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "uri": "@{body('Parse_JSON_Token')?['FalconHost']}/devices/entities/devices/v2?ids=@{join(body('Parse_JSON_Devices_IDs')?['resources'], '&ids=')}\n ",
                                "method": "GET",
                                "headers": {
                                    "Authorization": "@{body('Parse_JSON_Token')?['AccessToken']}",
                                    "Accept": "application/json",
                                    "Content-Type": "application/json"
                                }
                            },
                            "runtimeConfiguration": {
                                "contentTransfer": {
                                    "transferMode": "Chunked"
                                }
                            }
                        },
                        "Parse_JSON_Devices_Info": {
                            "runAfter": {
                                "HTTP_GET_Device_Information": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('HTTP_GET_Device_Information')",
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "resources": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "device_id": {
                                                        "type": "string"
                                                    },
                                                    "agent_version": {
                                                        "type": "string"
                                                    },
                                                    "bios_manufacturer": {
                                                        "type": "string"
                                                    },
                                                    "bios_version": {
                                                        "type": "string"
                                                    },
                                                    "build_number": {
                                                        "type": "string"
                                                    },
                                                    "external_ip": {
                                                        "type": "string"
                                                    },
                                                    "mac_address": {
                                                        "type": "string"
                                                    },
                                                    "hostname": {
                                                        "type": "string"
                                                    },
                                                    "filesystem_containment_status": {
                                                        "type": "string"
                                                    },
                                                    "first_seen": {
                                                        "type": "string"
                                                    },
                                                    "last_login_timestamp": {
                                                        "type": "string"
                                                    },
                                                    "last_login_user": {
                                                        "type": "string"
                                                    },
                                                    "last_login_user_sid": {
                                                        "type": "string"
                                                    },
                                                    "last_seen": {
                                                        "type": "string"
                                                    },
                                                    "machine_domain": {
                                                        "type": "string"
                                                    },
                                                    "major_version": {
                                                        "type": "string"
                                                    },
                                                    "os_version": {
                                                        "type": "string"
                                                    },
                                                    "rtr_state": {
                                                        "type": "string"
                                                    },
                                                    "groups": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "provision_status": {
                                                        "type": "string"
                                                    },
                                                    "serial_number": {
                                                        "type": "string"
                                                    },
                                                    "status": {
                                                        "type": "string"
                                                    },
                                                    "system_manufacturer": {
                                                        "type": "string"
                                                    },
                                                    "kernel_version": {
                                                        "type": "string"
                                                    },
                                                    "os_product_name": {
                                                        "type": "string"
                                                    },
                                                    "chassis_type_desc": {
                                                        "type": "string"
                                                    },
                                                    "last_reboot": {
                                                        "type": "string"
                                                    },
                                                    "connection_ip": {
                                                        "type": "string"
                                                    },
                                                    "default_gateway_ip": {
                                                        "type": "string"
                                                    },
                                                    "connection_mac_address": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "Filter_array": {
                            "runAfter": {
                                "Parse_JSON_Devices_Info": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Query",
                            "inputs": {
                                "from": "@body('Parse_JSON_Devices_Info')?['resources']",
                                "where": "@contains(variables('hostnames array'), item()['hostname'])"
                            }
                        },
                        "Initialize_variables": {
                            "runAfter": {
                                "For_each": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "hostnames array",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "For_each": {
                            "foreach": "@triggerBody()?['object']?['properties']?['Alerts']",
                            "actions": {
                                "Set_variable": {
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "fadfa",
                                        "value": "@item()?['properties']?['additionalData']?['Custom Details']"
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_variables_1": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Initialize_variables_1": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "fadfa",
                                        "type": "string"
                                    }
                                ]
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                                "connectionName": "[variables('AzureSentinelConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]"
            ]
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureSentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('AzureSentinelConnectionName')]",
                "customParameterValues": {},
                "parameterValueType": "Alternative",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                }
            }
        }
    ]
}