CrowdStrike/Enrich_CrowdStrike_Recent_Alerts_Playbook.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_Enrich_CrowdStrike_Recent_Alerts_Playbook_name": {
            "defaultValue": "Enrich_CrowdStrike_Recent_Alerts_Playbook",
            "type": "String"
        },
        "workflows_OrchestatorPart_CrowdStrike_Auth_Playbook_externalid": {
            "defaultValue": "/subscriptions/a7be9652-e6e6-4284-b1b2-14b4079f777d/resourceGroups/MSSP_Sentinel_Desarollo_ResourceGroup/providers/Microsoft.Logic/workflows/OrchestatorPart_CrowdStrike_Auth_Playbook",
            "type": "String"
        },
        "connections_azuresentinel_Enrich_CrowdStrike_Recent_Alerts_Playbook_externalid": {
            "defaultValue": "/subscriptions/a7be9652-e6e6-4284-b1b2-14b4079f777d/resourceGroups/MSSP_Sentinel_Desarollo_ResourceGroup/providers/Microsoft.Web/connections/azuresentinel-Enrich_CrowdStrike_Recent_Alerts_Playbook",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_Enrich_CrowdStrike_Recent_Alerts_Playbook_name')]",
            "location": "westeurope",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_incident": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "Entidades:_obtener_hosts": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "path": "/entities/host"
                            }
                        },
                        "Call_OrchestatorPart_CrowdStrike_Auth_Playbook": {
                            "runAfter": {
                                "For_each": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Workflow",
                            "inputs": {
                                "host": {
                                    "workflow": {
                                        "id": "[parameters('workflows_OrchestatorPart_CrowdStrike_Auth_Playbook_externalid')]"
                                    },
                                    "triggerName": "manual"
                                }
                            }
                        },
                        "HTTP-GET_-_Get_device_id": {
                            "runAfter": {
                                "Call_OrchestatorPart_CrowdStrike_Auth_Playbook": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "uri": "@{body('Call_OrchestatorPart_CrowdStrike_Auth_Playbook')?['FalconHost']}/devices/queries/devices/v1?filter=@{concat('hostname:''', join(variables('HostnamesArray'), ''',hostname:'''), '''')}",
                                "method": "GET",
                                "headers": {
                                    "Accept": "application/json",
                                    "Authorization": "@{body('Call_OrchestatorPart_CrowdStrike_Auth_Playbook')?['AccessToken']}",
                                    "Content-Type": "application/json"
                                }
                            },
                            "description": "This gets the device id from crowdstrike by filtering on hostname"
                        },
                        "For_each": {
                            "foreach": "@body('Entidades:_obtener_hosts')?['Hosts']",
                            "actions": {
                                "Append_to_HostnamesArray": {
                                    "type": "AppendToArrayVariable",
                                    "inputs": {
                                        "name": "HostnamesArray",
                                        "value": "@items('For_each')?['hostName']"
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_HostnamesArray": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Initialize_HostnamesArray": {
                            "runAfter": {
                                "Entidades:_obtener_hosts": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "HostnamesArray",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "HTTP-GET_-_Get_Device_Info_By_ID": {
                            "runAfter": {
                                "HTTP-GET_-_Get_device_id": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "uri": "@{body('Call_OrchestatorPart_CrowdStrike_Auth_Playbook')?['FalconHost']}/devices/entities/devices/v2?ids=@{join(body('HTTP-GET_-_Get_device_id')?['resources'], '&ids=')}",
                                "method": "GET",
                                "headers": {
                                    "Accept": "application/json",
                                    "Authorization": "@{body('Call_OrchestatorPart_CrowdStrike_Auth_Playbook')?['AccessToken']}",
                                    "Content-Type": "application/json"
                                }
                            },
                            "description": "This gets the device id from crowdstrike by filtering on hostname"
                        },
                        "Parse_JSON_HTTP-GET_-_Get_Device_Info_By_ID": {
                            "runAfter": {
                                "HTTP-GET_-_Get_Device_Info_By_ID": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('HTTP-GET_-_Get_Device_Info_By_ID')",
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "resources": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "device_id": {
                                                        "type": "string"
                                                    },
                                                    "agent_version": {
                                                        "type": "string"
                                                    },
                                                    "bios_manufacturer": {
                                                        "type": "string"
                                                    },
                                                    "bios_version": {
                                                        "type": "string"
                                                    },
                                                    "build_number": {
                                                        "type": "string"
                                                    },
                                                    "external_ip": {
                                                        "type": "string"
                                                    },
                                                    "mac_address": {
                                                        "type": "string"
                                                    },
                                                    "hostname": {
                                                        "type": "string"
                                                    },
                                                    "filesystem_containment_status": {
                                                        "type": "string"
                                                    },
                                                    "first_seen": {
                                                        "type": "string"
                                                    },
                                                    "last_login_timestamp": {
                                                        "type": "string"
                                                    },
                                                    "last_login_user": {
                                                        "type": "string"
                                                    },
                                                    "last_login_user_sid": {
                                                        "type": "string"
                                                    },
                                                    "last_seen": {
                                                        "type": "string"
                                                    },
                                                    "machine_domain": {
                                                        "type": "string"
                                                    },
                                                    "major_version": {
                                                        "type": "string"
                                                    },
                                                    "os_version": {
                                                        "type": "string"
                                                    },
                                                    "rtr_state": {
                                                        "type": "string"
                                                    },
                                                    "groups": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "provision_status": {
                                                        "type": "string"
                                                    },
                                                    "serial_number": {
                                                        "type": "string"
                                                    },
                                                    "status": {
                                                        "type": "string"
                                                    },
                                                    "system_manufacturer": {
                                                        "type": "string"
                                                    },
                                                    "kernel_version": {
                                                        "type": "string"
                                                    },
                                                    "os_product_name": {
                                                        "type": "string"
                                                    },
                                                    "chassis_type_desc": {
                                                        "type": "string"
                                                    },
                                                    "last_reboot": {
                                                        "type": "string"
                                                    },
                                                    "connection_ip": {
                                                        "type": "string"
                                                    },
                                                    "default_gateway_ip": {
                                                        "type": "string"
                                                    },
                                                    "connection_mac_address": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "Filter_array": {
                            "runAfter": {
                                "Parse_JSON_HTTP-GET_-_Get_Device_Info_By_ID": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Query",
                            "inputs": {
                                "from": "@body('Parse_JSON_HTTP-GET_-_Get_Device_Info_By_ID')?['resources']",
                                "where": "@contains(variables('HostnamesArray'), item()?['hostname'])"
                            }
                        },
                        "HTTP-GET_-_Get_Alert_Complete_Info": {
                            "runAfter": {
                                "HTTP-GET_-_Get_Device_Alerts_by_Agent_id": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "uri": "@{body('Call_OrchestatorPart_CrowdStrike_Auth_Playbook')?['FalconHost']}/alerts/entities/alerts/v2?include_hidden=true",
                                "method": "POST",
                                "headers": {
                                    "Accept": "application/json",
                                    "Authorization": "@{body('Call_OrchestatorPart_CrowdStrike_Auth_Playbook')?['AccessToken']}",
                                    "Content-Type": "application/json"
                                },
                                "body": {
                                    "composite_ids": "@body('HTTP-GET_-_Get_Device_Alerts_by_Agent_id')?['resources']"
                                }
                            },
                            "description": "This gets the device id from crowdstrike by filtering on hostname"
                        },
                        "Initialize_Host_IDs_Array": {
                            "runAfter": {
                                "Filter_array": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "HostIDsArray",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "For_each_Device_ID": {
                            "foreach": "@body('Filter_array')",
                            "actions": {
                                "Append_to_Host_IDs_Array": {
                                    "type": "AppendToArrayVariable",
                                    "inputs": {
                                        "name": "HostIDsArray",
                                        "value": "@items('For_each_Device_ID')?['device_id']"
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_Host_IDs_Array": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "HTTP-GET_-_Get_Device_Alerts_by_Agent_id": {
                            "runAfter": {
                                "For_each_Device_ID": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "uri": "@{body('Call_OrchestatorPart_CrowdStrike_Auth_Playbook')?['FalconHost']}/alerts/queries/alerts/v2?include_hidden=true&filter=@{concat('agent_id:''', join(variables('HostIDsArray'), ''',agent_id:'''), '''')}%2Bcreated_timestamp:>'@{addHours(utcNow(), -168)\r\n}'",
                                "method": "GET",
                                "headers": {
                                    "Accept": "application/json",
                                    "Authorization": "@{body('Call_OrchestatorPart_CrowdStrike_Auth_Playbook')?['AccessToken']}",
                                    "Content-Type": "application/json"
                                }
                            },
                            "description": "This gets the device id from crowdstrike by filtering on hostname"
                        },
                        "Initialize_Comment_Text": {
                            "runAfter": {
                                "Create_HTML_table_1": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "CommentText",
                                        "type": "string",
                                        "value": "<style>\n    table {\n        border-collapse: collapse;\n        width: 100%;\n        font-family: Arial;\n        font-size: 13px;\n        table-layout: auto; /* <--- Lo importante */\n    }\n    th, td {\n        border: 1px solid #ddd;\n        padding: 8px;\n        text-align: left;\n        vertical-align: top;\n        word-wrap: break-word;\n    }\n    th {\n        background-color:  #5d5d5d;\n        color: white;\n    }\n</style>\n@{body('Create_HTML_table_1')}"
                                    }
                                ]
                            }
                        },
                        "Parse_JSON_HTTP-GET_-_Get_Alert_Complete_Info": {
                            "runAfter": {
                                "HTTP-GET_-_Get_Alert_Complete_Info": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('HTTP-GET_-_Get_Alert_Complete_Info')",
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "query_time": {
                                                    "type": "number"
                                                },
                                                "writes": {
                                                    "type": "object",
                                                    "properties": {
                                                        "resources_affected": {
                                                            "type": "integer"
                                                        }
                                                    }
                                                },
                                                "powered_by": {
                                                    "type": "string"
                                                },
                                                "trace_id": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "resources": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "agent_id": {
                                                        "type": "string"
                                                    },
                                                    "aggregate_id": {
                                                        "type": "string"
                                                    },
                                                    "alleged_filetype": {
                                                        "type": "string"
                                                    },
                                                    "associated_files": {
                                                        "type": "array"
                                                    },
                                                    "cid": {
                                                        "type": "string"
                                                    },
                                                    "cloud_indicator": {
                                                        "type": "string"
                                                    },
                                                    "cmdline": {
                                                        "type": "string"
                                                    },
                                                    "composite_id": {
                                                        "type": "string"
                                                    },
                                                    "confidence": {
                                                        "type": "integer"
                                                    },
                                                    "context_timestamp": {
                                                        "type": "string"
                                                    },
                                                    "control_graph_id": {
                                                        "type": "string"
                                                    },
                                                    "crawled_timestamp": {
                                                        "type": "string"
                                                    },
                                                    "created_timestamp": {
                                                        "type": "string"
                                                    },
                                                    "data_domains": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "description": {
                                                        "type": "string"
                                                    },
                                                    "device": {
                                                        "type": "object",
                                                        "properties": {
                                                            "agent_load_flags": {
                                                                "type": "string"
                                                            },
                                                            "agent_local_time": {
                                                                "type": "string"
                                                            },
                                                            "agent_version": {
                                                                "type": "string"
                                                            },
                                                            "bios_manufacturer": {
                                                                "type": "string"
                                                            },
                                                            "bios_version": {
                                                                "type": "string"
                                                            },
                                                            "cid": {
                                                                "type": "string"
                                                            },
                                                            "config_id_base": {
                                                                "type": "string"
                                                            },
                                                            "config_id_build": {
                                                                "type": "string"
                                                            },
                                                            "config_id_platform": {
                                                                "type": "string"
                                                            },
                                                            "device_id": {
                                                                "type": "string"
                                                            },
                                                            "external_ip": {
                                                                "type": "string"
                                                            },
                                                            "first_seen": {
                                                                "type": "string"
                                                            },
                                                            "groups": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "hostinfo": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "active_directory_dn_display": {
                                                                        "type": "array",
                                                                        "items": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "domain": {
                                                                        "type": "string"
                                                                    }
                                                                }
                                                            },
                                                            "hostname": {
                                                                "type": "string"
                                                            },
                                                            "last_seen": {
                                                                "type": "string"
                                                            },
                                                            "local_ip": {
                                                                "type": "string"
                                                            },
                                                            "mac_address": {
                                                                "type": "string"
                                                            },
                                                            "machine_domain": {
                                                                "type": "string"
                                                            },
                                                            "major_version": {
                                                                "type": "string"
                                                            },
                                                            "minor_version": {
                                                                "type": "string"
                                                            },
                                                            "modified_timestamp": {
                                                                "type": "string"
                                                            },
                                                            "os_version": {
                                                                "type": "string"
                                                            },
                                                            "ou": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "platform_id": {
                                                                "type": "string"
                                                            },
                                                            "platform_name": {
                                                                "type": "string"
                                                            },
                                                            "product_type": {
                                                                "type": "string"
                                                            },
                                                            "product_type_desc": {
                                                                "type": "string"
                                                            },
                                                            "site_name": {
                                                                "type": "string"
                                                            },
                                                            "status": {
                                                                "type": "string"
                                                            },
                                                            "system_manufacturer": {
                                                                "type": "string"
                                                            },
                                                            "system_product_name": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "display_name": {
                                                        "type": "string"
                                                    },
                                                    "email_sent": {
                                                        "type": "boolean"
                                                    },
                                                    "event_correlation_id": {
                                                        "type": "string"
                                                    },
                                                    "falcon_host_link": {
                                                        "type": "string"
                                                    },
                                                    "filename": {
                                                        "type": "string"
                                                    },
                                                    "filepath": {
                                                        "type": "string"
                                                    },
                                                    "global_prevalence": {
                                                        "type": "string"
                                                    },
                                                    "grandparent_details": {
                                                        "type": "object",
                                                        "properties": {
                                                            "cmdline": {
                                                                "type": "string"
                                                            },
                                                            "filename": {
                                                                "type": "string"
                                                            },
                                                            "filepath": {
                                                                "type": "string"
                                                            },
                                                            "local_process_id": {
                                                                "type": "string"
                                                            },
                                                            "md5": {
                                                                "type": "string"
                                                            },
                                                            "process_graph_id": {
                                                                "type": "string"
                                                            },
                                                            "process_id": {
                                                                "type": "string"
                                                            },
                                                            "sha256": {
                                                                "type": "string"
                                                            },
                                                            "timestamp": {
                                                                "type": "string"
                                                            },
                                                            "user_graph_id": {
                                                                "type": "string"
                                                            },
                                                            "user_id": {
                                                                "type": "string"
                                                            },
                                                            "user_name": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "host_names": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "indicator_id": {
                                                        "type": "string"
                                                    },
                                                    "ioc_context": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "ioc_description": {
                                                                    "type": "string"
                                                                },
                                                                "ioc_source": {
                                                                    "type": "string"
                                                                },
                                                                "ioc_type": {
                                                                    "type": "string"
                                                                },
                                                                "ioc_value": {
                                                                    "type": "string"
                                                                },
                                                                "md5": {
                                                                    "type": "string"
                                                                },
                                                                "sha256": {
                                                                    "type": "string"
                                                                },
                                                                "type": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "ioc_description": {
                                                        "type": "string"
                                                    },
                                                    "ioc_source": {
                                                        "type": "string"
                                                    },
                                                    "ioc_type": {
                                                        "type": "string"
                                                    },
                                                    "ioc_value": {
                                                        "type": "string"
                                                    },
                                                    "local_prevalence": {
                                                        "type": "string"
                                                    },
                                                    "local_process_id": {
                                                        "type": "string"
                                                    },
                                                    "logon_domain": {
                                                        "type": "string"
                                                    },
                                                    "md5": {
                                                        "type": "string"
                                                    },
                                                    "mitre_attack": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "pattern_id": {
                                                                    "type": "integer"
                                                                },
                                                                "tactic_id": {
                                                                    "type": "string"
                                                                },
                                                                "technique_id": {
                                                                    "type": "string"
                                                                },
                                                                "tactic": {
                                                                    "type": "string"
                                                                },
                                                                "technique": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "objective": {
                                                        "type": "string"
                                                    },
                                                    "parent_details": {
                                                        "type": "object",
                                                        "properties": {
                                                            "cmdline": {
                                                                "type": "string"
                                                            },
                                                            "filename": {
                                                                "type": "string"
                                                            },
                                                            "filepath": {
                                                                "type": "string"
                                                            },
                                                            "local_process_id": {
                                                                "type": "string"
                                                            },
                                                            "md5": {
                                                                "type": "string"
                                                            },
                                                            "process_graph_id": {
                                                                "type": "string"
                                                            },
                                                            "process_id": {
                                                                "type": "string"
                                                            },
                                                            "sha256": {
                                                                "type": "string"
                                                            },
                                                            "timestamp": {
                                                                "type": "string"
                                                            },
                                                            "user_graph_id": {
                                                                "type": "string"
                                                            },
                                                            "user_id": {
                                                                "type": "string"
                                                            },
                                                            "user_name": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "parent_process_id": {
                                                        "type": "string"
                                                    },
                                                    "pattern_disposition": {
                                                        "type": "integer"
                                                    },
                                                    "pattern_disposition_description": {
                                                        "type": "string"
                                                    },
                                                    "pattern_disposition_details": {
                                                        "type": "object",
                                                        "properties": {
                                                            "blocking_unsupported_or_disabled": {
                                                                "type": "boolean"
                                                            },
                                                            "bootup_safeguard_enabled": {
                                                                "type": "boolean"
                                                            },
                                                            "containment_file_system": {
                                                                "type": "boolean"
                                                            },
                                                            "critical_process_disabled": {
                                                                "type": "boolean"
                                                            },
                                                            "detect": {
                                                                "type": "boolean"
                                                            },
                                                            "fs_operation_blocked": {
                                                                "type": "boolean"
                                                            },
                                                            "handle_operation_downgraded": {
                                                                "type": "boolean"
                                                            },
                                                            "inddet_mask": {
                                                                "type": "boolean"
                                                            },
                                                            "indicator": {
                                                                "type": "boolean"
                                                            },
                                                            "kill_action_failed": {
                                                                "type": "boolean"
                                                            },
                                                            "kill_parent": {
                                                                "type": "boolean"
                                                            },
                                                            "kill_process": {
                                                                "type": "boolean"
                                                            },
                                                            "kill_subprocess": {
                                                                "type": "boolean"
                                                            },
                                                            "mfa_required": {
                                                                "type": "boolean"
                                                            },
                                                            "operation_blocked": {
                                                                "type": "boolean"
                                                            },
                                                            "policy_disabled": {
                                                                "type": "boolean"
                                                            },
                                                            "prevention_provisioning_enabled": {
                                                                "type": "boolean"
                                                            },
                                                            "process_blocked": {
                                                                "type": "boolean"
                                                            },
                                                            "quarantine_file": {
                                                                "type": "boolean"
                                                            },
                                                            "quarantine_machine": {
                                                                "type": "boolean"
                                                            },
                                                            "registry_operation_blocked": {
                                                                "type": "boolean"
                                                            },
                                                            "response_action_already_applied": {
                                                                "type": "boolean"
                                                            },
                                                            "response_action_failed": {
                                                                "type": "boolean"
                                                            },
                                                            "response_action_triggered": {
                                                                "type": "boolean"
                                                            },
                                                            "rooting": {
                                                                "type": "boolean"
                                                            },
                                                            "sensor_only": {
                                                                "type": "boolean"
                                                            },
                                                            "suspend_parent": {
                                                                "type": "boolean"
                                                            },
                                                            "suspend_process": {
                                                                "type": "boolean"
                                                            }
                                                        }
                                                    },
                                                    "pattern_id": {
                                                        "type": "integer"
                                                    },
                                                    "platform": {
                                                        "type": "string"
                                                    },
                                                    "poly_id": {
                                                        "type": "string"
                                                    },
                                                    "priority_details": {
                                                        "type": "object",
                                                        "properties": {
                                                            "raw_value": {
                                                                "type": "integer"
                                                            }
                                                        }
                                                    },
                                                    "priority_explanation": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "priority_value": {
                                                        "type": "integer"
                                                    },
                                                    "process_end_time": {
                                                        "type": "string"
                                                    },
                                                    "process_id": {
                                                        "type": "string"
                                                    },
                                                    "process_start_time": {
                                                        "type": "string"
                                                    },
                                                    "product": {
                                                        "type": "string"
                                                    },
                                                    "scenario": {
                                                        "type": "string"
                                                    },
                                                    "seconds_to_resolved": {
                                                        "type": "integer"
                                                    },
                                                    "seconds_to_triaged": {
                                                        "type": "integer"
                                                    },
                                                    "severity": {
                                                        "type": "integer"
                                                    },
                                                    "severity_name": {
                                                        "type": "string"
                                                    },
                                                    "sha1": {
                                                        "type": "string"
                                                    },
                                                    "sha256": {
                                                        "type": "string"
                                                    },
                                                    "show_in_ui": {
                                                        "type": "boolean"
                                                    },
                                                    "source_hosts": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "source_products": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "source_vendors": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "status": {
                                                        "type": "string"
                                                    },
                                                    "tactic": {
                                                        "type": "string"
                                                    },
                                                    "tactic_id": {
                                                        "type": "string"
                                                    },
                                                    "technique": {
                                                        "type": "string"
                                                    },
                                                    "technique_id": {
                                                        "type": "string"
                                                    },
                                                    "template_instance_id": {
                                                        "type": "string"
                                                    },
                                                    "timestamp": {
                                                        "type": "string"
                                                    },
                                                    "tree_id": {
                                                        "type": "string"
                                                    },
                                                    "tree_root": {
                                                        "type": "string"
                                                    },
                                                    "triggering_process_graph_id": {
                                                        "type": "string"
                                                    },
                                                    "type": {
                                                        "type": "string"
                                                    },
                                                    "updated_timestamp": {
                                                        "type": "string"
                                                    },
                                                    "user_id": {
                                                        "type": "string"
                                                    },
                                                    "user_name": {
                                                        "type": "string"
                                                    },
                                                    "user_principal": {
                                                        "type": "string"
                                                    },
                                                    "rule_group_id": {
                                                        "type": "string"
                                                    },
                                                    "rule_group_name": {
                                                        "type": "string"
                                                    },
                                                    "rule_instance_created_by": {
                                                        "type": "string"
                                                    },
                                                    "rule_instance_id": {
                                                        "type": "string"
                                                    },
                                                    "rule_instance_name": {
                                                        "type": "string"
                                                    },
                                                    "rule_instance_version": {
                                                        "type": "string"
                                                    },
                                                    "template_instance_version": {
                                                        "type": "string"
                                                    },
                                                    "files_written": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "filename": {
                                                                    "type": "string"
                                                                },
                                                                "filepath": {
                                                                    "type": "string"
                                                                },
                                                                "timestamp": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "is_closed": {
                                                        "type": "boolean"
                                                    },
                                                    "lead_id": {
                                                        "type": "string"
                                                    },
                                                    "lead_type": {
                                                        "type": "string"
                                                    },
                                                    "score": {
                                                        "type": "integer"
                                                    },
                                                    "signal_end_timestamp": {
                                                        "type": "string"
                                                    },
                                                    "signal_start_timestamp": {
                                                        "type": "string"
                                                    },
                                                    "signal_updated_timestamp": {
                                                        "type": "string"
                                                    },
                                                    "threatgraph_indicators": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "description": {
                                                                    "type": "string"
                                                                },
                                                                "display_name": {
                                                                    "type": "string"
                                                                },
                                                                "host_id": {
                                                                    "type": "string"
                                                                },
                                                                "hostname": {
                                                                    "type": "string"
                                                                },
                                                                "indicator_id": {
                                                                    "type": "string"
                                                                },
                                                                "indicator_type": {
                                                                    "type": "string"
                                                                },
                                                                "pattern_disposition": {
                                                                    "type": "integer"
                                                                },
                                                                "pattern_id": {
                                                                    "type": "integer"
                                                                },
                                                                "process_id": {
                                                                    "type": "string"
                                                                },
                                                                "severity": {
                                                                    "type": "integer"
                                                                },
                                                                "signal_association_timestamp": {
                                                                    "type": "string"
                                                                },
                                                                "template_instance_id": {
                                                                    "type": "integer"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "child_process_ids": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "external": {
                                                        "type": "boolean"
                                                    },
                                                    "network_accesses": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "access_timestamp": {
                                                                    "type": "string"
                                                                },
                                                                "access_type": {
                                                                    "type": "integer"
                                                                },
                                                                "connection_direction": {
                                                                    "type": "string"
                                                                },
                                                                "isIPV6": {
                                                                    "type": "boolean"
                                                                },
                                                                "local_address": {
                                                                    "type": "string"
                                                                },
                                                                "local_port": {
                                                                    "type": "string"
                                                                },
                                                                "protocol": {
                                                                    "type": "string"
                                                                },
                                                                "remote_address": {
                                                                    "type": "string"
                                                                },
                                                                "remote_port": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "files_accessed": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "filename": {
                                                                    "type": "string"
                                                                },
                                                                "filepath": {
                                                                    "type": "string"
                                                                },
                                                                "timestamp": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "author": {
                                                        "type": "string"
                                                    },
                                                    "end_time": {
                                                        "type": "string"
                                                    },
                                                    "end_time_epoch": {
                                                        "type": "integer"
                                                    },
                                                    "entities": {
                                                        "type": "object",
                                                        "properties": {
                                                            "agent_ids": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "agent_ids_source": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "file_name": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "image_file_name": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "process": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "sha256": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "user_sid": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "user_sid_source": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "username": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "username_source": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "entity_values": {
                                                        "type": "object",
                                                        "properties": {
                                                            "agent_ids": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "sha256s": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "user_sids": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "users": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "incident": {
                                                        "type": "object",
                                                        "properties": {
                                                            "created_time": {
                                                                "type": "string"
                                                            },
                                                            "end_time": {
                                                                "type": "string"
                                                            },
                                                            "highest_score": {
                                                                "type": "string"
                                                            },
                                                            "host_ids": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "score": {
                                                                "type": "string"
                                                            },
                                                            "start_time": {
                                                                "type": "string"
                                                            },
                                                            "state": {
                                                                "type": "string"
                                                            },
                                                            "type": {
                                                                "type": "string"
                                                            },
                                                            "version": {
                                                                "type": "integer"
                                                            }
                                                        }
                                                    },
                                                    "no_signal": {
                                                        "type": "boolean"
                                                    },
                                                    "references": {
                                                        "type": "object",
                                                        "properties": {
                                                            "indicator_alert_ids": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "indicator_detection_ids": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "indicator_vertex_ids": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "source_vertex_id": {
                                                                "type": "string"
                                                            },
                                                            "source_vertex_type": {
                                                                "type": "string"
                                                            },
                                                            "xdr_indicator_ids": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "xdr_source_event_id": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "source_event_model": {
                                                        "type": "string"
                                                    },
                                                    "start_time": {
                                                        "type": "string"
                                                    },
                                                    "start_time_epoch": {
                                                        "type": "integer"
                                                    },
                                                    "tactic_ids": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "tactics": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "technique_ids": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "techniques": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "xdr_detection_id": {
                                                        "type": "string"
                                                    },
                                                    "xdr_pattern_id": {
                                                        "type": "integer"
                                                    },
                                                    "xdr_rule_id": {
                                                        "type": "integer"
                                                    },
                                                    "xdr_type": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "Compose": {
                            "runAfter": {
                                "Initialize_Comment_Text": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "@variables('CommentText')"
                        },
                        "Create_HTML_table_1": {
                            "runAfter": {
                                "Initialize_AuxArray": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Table",
                            "inputs": {
                                "from": "@variables('AuxArray')",
                                "format": "HTML",
                                "columns": [
                                    {
                                        "header": "Severity",
                                        "value": "@{item()?['severity']}"
                                    },
                                    {
                                        "header": "Created",
                                        "value": "@{item()?['created_timestamp']}"
                                    },
                                    {
                                        "header": "Title",
                                        "value": "@{item()?['filename']}"
                                    },
                                    {
                                        "header": "Hostname",
                                        "value": "@{item()?['device']?['hostname']}"
                                    },
                                    {
                                        "header": "Username",
                                        "value": "@{item()?['user_name']}"
                                    },
                                    {
                                        "header": "Status",
                                        "value": "@{item()?['status']}"
                                    },
                                    {
                                        "header": "Comment",
                                        "value": "@{coalesce(item()?['comment'], '----')}"
                                    }
                                ]
                            }
                        },
                        "Initialize_AuxArray": {
                            "runAfter": {
                                "Parse_JSON_HTTP-GET_-_Get_Alert_Complete_Info": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "AuxArray",
                                        "type": "array",
                                        "value": "@body('Parse_JSON_HTTP-GET_-_Get_Alert_Complete_Info')?['resources']"
                                    }
                                ]
                            }
                        },
                        "Agregar_un_comentario_al_incidente_(V3)": {
                            "runAfter": {
                                "Compose": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                    "message": "<p class=\"editor-paragraph\"><u><b><strong class=\"editor-text-bold editor-text-underline\" style=\"font-size: 20px;\">Informacin de los ltimos 7 das</strong></b></u></p><p class=\"editor-paragraph\">@{variables('CommentText')}</p>"
                                },
                                "path": "/Incidents/Comment"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[parameters('connections_azuresentinel_Enrich_CrowdStrike_Recent_Alerts_Playbook_externalid')]",
                                "connectionName": "[concat('azuresentinel-', parameters('workflows_Enrich_CrowdStrike_Recent_Alerts_Playbook_name'))]",
                                "id": "/subscriptions/a7be9652-e6e6-4284-b1b2-14b4079f777d/providers/Microsoft.Web/locations/westeurope/managedApis/azuresentinel",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    ]
}