CrowdStrike/OrchestatorPart_Crowdstrike_Sync_Incidents_Playbook.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_OrchestatorPart_Crowdstrike_Sync_Incidents_Playbook_name": {
            "defaultValue": "OrchestatorPart_Crowdstrike_Sync_Incidents_Playbook",
            "type": "String"
        },
        "workflows_OrchestatorPart_CrowdStrike_Auth_Playbook_externalid": {
            "defaultValue": "/subscriptions/a7be9652-e6e6-4284-b1b2-14b4079f777d/resourceGroups/MSSP_Sentinel_Desarollo_ResourceGroup/providers/Microsoft.Logic/workflows/OrchestatorPart_CrowdStrike_Auth_Playbook",
            "type": "String"
        },
        "connections_azuresentinel_OrchestatorPart_Crowdstrike_Sync_Incidents_Playbook_externalid": {
            "defaultValue": "/subscriptions/a7be9652-e6e6-4284-b1b2-14b4079f777d/resourceGroups/MSSP_Sentinel_Desarollo_ResourceGroup/providers/Microsoft.Web/connections/azuresentinel-OrchestatorPart_Crowdstrike_Sync_Incidents_Playbook",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_OrchestatorPart_Crowdstrike_Sync_Incidents_Playbook_name')]",
            "location": "westeurope",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "workflows_OrchestatorPart_Crowdstrike_Sync_Incidents_Playbook_name": {
                            "defaultValue": "[parameters('workflows_OrchestatorPart_Crowdstrike_Sync_Incidents_Playbook_name')]",
                            "type": "String"
                        },
                        "workflows_OrchestatorPart_CrowdStrike_Auth_Playbook_externalid": {
                            "defaultValue": "[parameters('workflows_OrchestatorPart_CrowdStrike_Auth_Playbook_externalid')]",
                            "type": "String"
                        },
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_incident": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "Initialize_variables_Status": {
                            "runAfter": {
                                "Initialize_variables_CompositeID_array": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "status",
                                        "type": "string",
                                        "value": "@{if(  equals(triggerBody()?['object']?['properties']?['status'], 'Active'),  'in_progress',  triggerBody()?['object']?['properties']?['status'])}"
                                    }
                                ]
                            }
                        },
                        "Initialize_variables_CompositeID_array": {
                            "runAfter": {
                                "Initialize_variables_classification": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "CompositeID_array",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "OrchestatorPart_CrowdStrike_Auth_Playbook": {
                            "runAfter": {
                                "Initialize_variables_Status": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Workflow",
                            "inputs": {
                                "host": {
                                    "workflow": {
                                        "id": "[parameters('workflows_OrchestatorPart_CrowdStrike_Auth_Playbook_externalid')]"
                                    },
                                    "triggerName": "manual"
                                }
                            }
                        },
                        "For_each_alert": {
                            "foreach": "@triggerBody()?['object']?['properties']?['Alerts']",
                            "actions": {
                                "Parse_JSON_Aggregated_Data": {
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@json(items('For_each_alert')?['properties']?['additionalData']?['Custom Details'])",
                                        "schema": {
                                            "type": "object",
                                            "properties": {
                                                "CompositedID": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "Append_to_array_variable": {
                                    "runAfter": {
                                        "Parse_JSON_Aggregated_Data": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "AppendToArrayVariable",
                                    "inputs": {
                                        "name": "CompositeID_array",
                                        "value": "@body('Parse_JSON_Aggregated_Data')?['CompositedID']?[0]"
                                    }
                                }
                            },
                            "runAfter": {
                                "OrchestatorPart_CrowdStrike_Auth_Playbook": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "HTTP_PATCH_Alert_Status": {
                            "runAfter": {
                                "Condition_status_is_closed": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "uri": "@{body('OrchestatorPart_CrowdStrike_Auth_Playbook')?['FalconHost']}/alerts/entities/alerts/v3",
                                "method": "PATCH",
                                "headers": {
                                    "Authorization": "@{body('OrchestatorPart_CrowdStrike_Auth_Playbook')?['AccessToken']}",
                                    "Accept": "application/json",
                                    "Content-Type": "application/json"
                                },
                                "body": {
                                    "action_parameters": [
                                        {
                                            "name": "update_status",
                                            "value": "@variables('status')"
                                        },
                                        {
                                            "name": "add_tag",
                                            "value": "Modificado desde sentinel"
                                        }
                                    ],
                                    "composite_ids": "@variables('CompositeID_array')"
                                }
                            },
                            "runtimeConfiguration": {
                                "contentTransfer": {
                                    "transferMode": "Chunked"
                                }
                            }
                        },
                        "Initialize_variables_classification": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "classification",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Condition_status_is_closed": {
                            "actions": {
                                "Switch_clasification": {
                                    "cases": {
                                        "Case_BenignPositive": {
                                            "case": "BenignPositive",
                                            "actions": {
                                                "Set_variable_classification": {
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "classification",
                                                        "value": "false_positive"
                                                    }
                                                }
                                            }
                                        },
                                        "Case_FalsePositive": {
                                            "case": "FalsePositive",
                                            "actions": {
                                                "Set_variable_2_classification": {
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "classification",
                                                        "value": "false_positive"
                                                    }
                                                }
                                            }
                                        },
                                        "Case_TruePositive": {
                                            "case": "TruePositive",
                                            "actions": {
                                                "Set_variable_3_classification": {
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "classification",
                                                        "value": "true_positive"
                                                    }
                                                }
                                            }
                                        },
                                        "Case_Undetermined": {
                                            "case": "Undetermined",
                                            "actions": {
                                                "Set_variable_4_classification": {
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "classification",
                                                        "value": "ignored"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "default": {
                                        "actions": {}
                                    },
                                    "expression": "@triggerBody()?['object']?['properties']?['classification']",
                                    "type": "Switch"
                                },
                                "Condition_classification_comment_found": {
                                    "actions": {
                                        "HTTP_PATCH_add_comment_and_classification": {
                                            "type": "Http",
                                            "inputs": {
                                                "uri": "@{body('OrchestatorPart_CrowdStrike_Auth_Playbook')?['FalconHost']}/alerts/entities/alerts/v3",
                                                "method": "PATCH",
                                                "headers": {
                                                    "Authorization": "@{body('OrchestatorPart_CrowdStrike_Auth_Playbook')?['AccessToken']}",
                                                    "Accept": "application/json",
                                                    "Content-Type": "application/json"
                                                },
                                                "body": {
                                                    "action_parameters": [
                                                        {
                                                            "name": "add_tag",
                                                            "value": "@{variables('classification')}"
                                                        },
                                                        {
                                                            "name": "append_comment",
                                                            "value": "@{triggerBody()?['object']?['properties']?['classificationComment']}"
                                                        }
                                                    ],
                                                    "composite_ids": "@variables('CompositeID_array')"
                                                }
                                            },
                                            "runtimeConfiguration": {
                                                "contentTransfer": {
                                                    "transferMode": "Chunked"
                                                }
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Switch_clasification": [
                                            "Succeeded"
                                        ]
                                    },
                                    "else": {
                                        "actions": {
                                            "HTTP_PATCH_add_classification": {
                                                "type": "Http",
                                                "inputs": {
                                                    "uri": "@{body('OrchestatorPart_CrowdStrike_Auth_Playbook')?['FalconHost']}/alerts/entities/alerts/v3",
                                                    "method": "PATCH",
                                                    "headers": {
                                                        "authorization": "@{body('OrchestatorPart_CrowdStrike_Auth_Playbook')?['AccessToken']}",
                                                        "Accept": "application/json",
                                                        "Content-Type": "application/json"
                                                    },
                                                    "body": {
                                                        "action_parameters": [
                                                            {
                                                                "name": "add_tag",
                                                                "value": "@{variables('classification')}"
                                                            }
                                                        ],
                                                        "composite_ids": "@variables('CompositeID_array')"
                                                    }
                                                },
                                                "runtimeConfiguration": {
                                                    "contentTransfer": {
                                                        "transferMode": "Chunked"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "greater": [
                                                    "@length(triggerBody()?['object']?['properties']?['classificationComment'])",
                                                    0
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                }
                            },
                            "runAfter": {
                                "For_each_alert": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {}
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@variables('status')",
                                            "Closed"
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "id": "/subscriptions/a7be9652-e6e6-4284-b1b2-14b4079f777d/providers/Microsoft.Web/locations/westeurope/managedApis/azuresentinel",
                                "connectionId": "[parameters('connections_azuresentinel_OrchestatorPart_Crowdstrike_Sync_Incidents_Playbook_externalid')]",
                                "connectionName": "[concat('azuresentinel-', parameters('workflows_OrchestatorPart_Crowdstrike_Sync_Incidents_Playbook_name'))]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    ]
}