CrowdStrike/OrchestatorPart_CrowdStrike_Block_IOC_Playbook _Playbook.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_OrchestatorPart_CrowdStrike_Block_IOC_Playbook_name": {
            "defaultValue": "OrchestatorPart_CrowdStrike_Block_IOC_Playbook",
            "type": "String"
        },
        "workflows_OrchestatorPart_CrowdStrike_Auth_Playbook_externalid": {
            "defaultValue": "/subscriptions/a7be9652-e6e6-4284-b1b2-14b4079f777d/resourceGroups/MSSP_Sentinel_Desarollo_ResourceGroup/providers/Microsoft.Logic/workflows/OrchestatorPart_CrowdStrike_Auth_Playbook",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_OrchestatorPart_CrowdStrike_Block_IOC_Playbook_name')]",
            "location": "westeurope",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "workflows_OrchestatorPart_CrowdStrike_Block_IOC_Playbook_name": {
                            "defaultValue": "[parameters('workflows_OrchestatorPart_CrowdStrike_Block_IOC_Playbook_name')]",
                            "type": "String"
                        },
                        "workflows_OrchestatorPart_CrowdStrike_Auth_Playbook_externalid": {
                            "defaultValue": "[parameters('workflows_OrchestatorPart_CrowdStrike_Auth_Playbook_externalid')]",
                            "type": "String"
                        },
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string"
                                        },
                                        "content": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "required": [
                                        "type",
                                        "content"
                                    ]
                                }
                            }
                        }
                    },
                    "actions": {
                        "OrchestatorPart_CrowdStrike_Auth_Playbook": {
                            "runAfter": {
                                "Initialize_variables_indicators": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Workflow",
                            "inputs": {
                                "host": {
                                    "workflow": {
                                        "id": "[parameters('workflows_OrchestatorPart_CrowdStrike_Auth_Playbook_externalid')]"
                                    },
                                    "triggerName": "manual"
                                }
                            }
                        },
                        "Parse_JSON": {
                            "runAfter": {
                                "OrchestatorPart_CrowdStrike_Auth_Playbook": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('OrchestatorPart_CrowdStrike_Auth_Playbook')",
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "AccessToken": {
                                            "type": "string"
                                        },
                                        "FalconHost": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "For_each_Indicator": {
                            "foreach": "@triggerBody()?['content']",
                            "actions": {
                                "HTTP_POST_IOC_Indicators": {
                                    "type": "Http",
                                    "inputs": {
                                        "uri": "@{body('Parse_JSON')?['FalconHost']}​/iocs/entities/indicators/v1?ignore_warnings=false\n",
                                        "method": "POST",
                                        "headers": {
                                            "Authorization": "@{body('Parse_JSON')?['AccessToken']}",
                                            "Content-Type": "application/json",
                                            "Accept": "application/json"
                                        },
                                        "body": {
                                            "comment": "Bloqueo automático desde playbook de sentinel",
                                            "indicators": [
                                                {
                                                    "action": "prevent",
                                                    "applied_globally": true,
                                                    "description": "Bloqueo de hash malicioso",
                                                    "type": "@triggerBody()?['type']",
                                                    "value": "@items('For_each_Indicator')",
                                                    "severity": "medium",
                                                    "platforms": [
                                                        "windows",
                                                        "linux",
                                                        "mac"
                                                    ]
                                                }
                                            ]
                                        }
                                    },
                                    "runtimeConfiguration": {
                                        "contentTransfer": {
                                            "transferMode": "Chunked"
                                        }
                                    }
                                },
                                "Append_to_string_variable": {
                                    "runAfter": {
                                        "HTTP_POST_IOC_Indicators": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "AppendToStringVariable",
                                    "inputs": {
                                        "name": "indicators_created",
                                        "value": "Se ha creado el indicador de compromiso\n\n@{body('HTTP_POST_IOC_Indicators')}\n\n"
                                    }
                                }
                            },
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Initialize_variables_indicators": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "indicators_created",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Response": {
                            "runAfter": {
                                "For_each_Indicator": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "statusCode": 201,
                                "body": {
                                    "message": "@variables('indicators_created')"
                                }
                            }
                        },
                        "Response_1": {
                            "runAfter": {
                                "For_each_Indicator": [
                                    "TimedOut",
                                    "Failed",
                                    "Skipped"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "statusCode": 400,
                                "body": {
                                    "message": "[concat('❌ Playbook ''', parameters('workflows_OrchestatorPart_CrowdStrike_Block_IOC_Playbook_name'), ' '' falló.\nMotivo: Fallo en POST IOC Indicators.\nAcción requerida: Revisión manual')]"
                                }
                            }
                        },
                        "Response_2": {
                            "runAfter": {
                                "OrchestatorPart_CrowdStrike_Auth_Playbook": [
                                    "Failed",
                                    "TimedOut",
                                    "Skipped"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "statusCode": 400,
                                "body": {
                                    "message": "[concat('❌ Playbook ''', parameters('workflows_OrchestatorPart_CrowdStrike_Block_IOC_Playbook_name'), ' '' falló.\nMotivo: Fallo en auth.\nAcción requerida: Revisión manual')]"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {}
                    }
                }
            }
        }
    ]
}