CrowdStrike/OrchestatorPart_CrowdStrike_Device_Isolation_Playbook.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_OrchestatorPart_CrowdStrike_Device_Isolation_Playbook_name": {
            "defaultValue": "OrchestatorPart_CrowdStrike_Device_Isolation_Playbook",
            "type": "String"
        },
        "workflows_OrchestatorPart_CrowdStrike_Auth_Playbook_externalid": {
            "defaultValue": "/subscriptions/a7be9652-e6e6-4284-b1b2-14b4079f777d/resourceGroups/MSSP_Sentinel_Desarollo_ResourceGroup/providers/Microsoft.Logic/workflows/OrchestatorPart_CrowdStrike_Auth_Playbook",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_OrchestatorPart_CrowdStrike_Device_Isolation_Playbook_name')]",
            "location": "westeurope",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "hostnames": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "actions": {
                        "Call_OrchestatorPart_CrowdStrike_Auth_Playbook": {
                            "runAfter": {},
                            "type": "Workflow",
                            "inputs": {
                                "host": {
                                    "workflow": {
                                        "id": "[parameters('workflows_OrchestatorPart_CrowdStrike_Auth_Playbook_externalid')]"
                                    },
                                    "triggerName": "manual"
                                }
                            }
                        },
                        "For_each": {
                            "foreach": "@triggerBody()?['hostnames']",
                            "actions": {
                                "HTTP-GET_-_Get_device_id": {
                                    "runAfter": {
                                        "current_hostname": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "uri": "@{body('Call_OrchestatorPart_CrowdStrike_Auth_Playbook')?['FalconHost']}/devices/queries/devices/v1?filter=hostname:'@{outputs('current_hostname')}'",
                                        "method": "GET",
                                        "headers": {
                                            "Accept": "application/json",
                                            "Authorization": "@{body('Call_OrchestatorPart_CrowdStrike_Auth_Playbook')?['AccessToken']}",
                                            "Content-Type": "application/json"
                                        }
                                    },
                                    "description": "This gets the device id from crowdstrike by filtering on hostname"
                                },
                                "Parse_JSON_Get_device_id_response": {
                                    "runAfter": {
                                        "HTTP-GET_-_Get_device_id": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('HTTP-GET_-_Get_device_id')",
                                        "schema": {
                                            "type": "object",
                                            "properties": {
                                                "errors": {
                                                    "type": "array"
                                                },
                                                "meta": {
                                                    "type": "object",
                                                    "properties": {
                                                        "pagination": {
                                                            "type": "object",
                                                            "properties": {
                                                                "limit": {
                                                                    "type": "integer"
                                                                },
                                                                "offset": {
                                                                    "type": "integer"
                                                                },
                                                                "total": {
                                                                    "type": "integer"
                                                                }
                                                            }
                                                        },
                                                        "powered_by": {
                                                            "type": "string"
                                                        },
                                                        "query_time": {
                                                            "type": "number"
                                                        },
                                                        "trace_id": {
                                                            "type": "string"
                                                        }
                                                    }
                                                },
                                                "resources": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "description": "prepare json message for the device id response"
                                },
                                "HTTP-GET_-_Get_Device_Info_By_ID": {
                                    "runAfter": {
                                        "Parse_JSON_Get_device_id_response": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "uri": "@{body('Call_OrchestatorPart_CrowdStrike_Auth_Playbook')?['FalconHost']}/devices/entities/devices/v2?ids=@{join(body('Parse_JSON_Get_device_id_response')?['resources'], '&ids=')}",
                                        "method": "GET",
                                        "headers": {
                                            "Accept": "application/json",
                                            "Authorization": "@{body('Call_OrchestatorPart_CrowdStrike_Auth_Playbook')?['AccessToken']}",
                                            "Content-Type": "application/json"
                                        }
                                    },
                                    "description": "This gets the device id from crowdstrike by filtering on hostname"
                                },
                                "Parse_JSON_HTTP-GET-_Get_Decive_Info_By_ID": {
                                    "runAfter": {
                                        "HTTP-GET_-_Get_Device_Info_By_ID": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('HTTP-GET_-_Get_Device_Info_By_ID')",
                                        "schema": {
                                            "type": "object",
                                            "properties": {
                                                "resources": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "device_id": {
                                                                "type": "string"
                                                            },
                                                            "agent_version": {
                                                                "type": "string"
                                                            },
                                                            "bios_manufacturer": {
                                                                "type": "string"
                                                            },
                                                            "bios_version": {
                                                                "type": "string"
                                                            },
                                                            "build_number": {
                                                                "type": "string"
                                                            },
                                                            "external_ip": {
                                                                "type": "string"
                                                            },
                                                            "mac_address": {
                                                                "type": "string"
                                                            },
                                                            "hostname": {
                                                                "type": "string"
                                                            },
                                                            "filesystem_containment_status": {
                                                                "type": "string"
                                                            },
                                                            "first_seen": {
                                                                "type": "string"
                                                            },
                                                            "last_login_timestamp": {
                                                                "type": "string"
                                                            },
                                                            "last_login_user": {
                                                                "type": "string"
                                                            },
                                                            "last_login_user_sid": {
                                                                "type": "string"
                                                            },
                                                            "last_seen": {
                                                                "type": "string"
                                                            },
                                                            "machine_domain": {
                                                                "type": "string"
                                                            },
                                                            "major_version": {
                                                                "type": "string"
                                                            },
                                                            "os_version": {
                                                                "type": "string"
                                                            },
                                                            "rtr_state": {
                                                                "type": "string"
                                                            },
                                                            "groups": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "provision_status": {
                                                                "type": "string"
                                                            },
                                                            "serial_number": {
                                                                "type": "string"
                                                            },
                                                            "status": {
                                                                "type": "string"
                                                            },
                                                            "system_manufacturer": {
                                                                "type": "string"
                                                            },
                                                            "kernel_version": {
                                                                "type": "string"
                                                            },
                                                            "os_product_name": {
                                                                "type": "string"
                                                            },
                                                            "chassis_type_desc": {
                                                                "type": "string"
                                                            },
                                                            "last_reboot": {
                                                                "type": "string"
                                                            },
                                                            "connection_ip": {
                                                                "type": "string"
                                                            },
                                                            "default_gateway_ip": {
                                                                "type": "string"
                                                            },
                                                            "connection_mac_address": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "For_each_Device_Info": {
                                    "foreach": "@body('Parse_JSON_HTTP-GET-_Get_Decive_Info_By_ID')?['resources']",
                                    "actions": {
                                        "Condition": {
                                            "actions": {
                                                "HTTP-POST_-_IsolateDevice": {
                                                    "type": "Http",
                                                    "inputs": {
                                                        "uri": "@{body('Call_OrchestatorPart_CrowdStrike_Auth_Playbook')?['FalconHost']}/devices/entities/devices-actions/v2?action_name=contain",
                                                        "method": "POST",
                                                        "headers": {
                                                            "Accept": "application/json",
                                                            "Content-Type": "application/json",
                                                            "Authorization": "@{body('Call_OrchestatorPart_CrowdStrike_Auth_Playbook')?['AccessToken']}"
                                                        },
                                                        "body": {
                                                            "enabled": true,
                                                            "comment": "Bloqueado por SOC",
                                                            "ids": [
                                                                "@items('For_each_Device_Info')?['device_id']\r\n"
                                                            ]
                                                        }
                                                    },
                                                    "runtimeConfiguration": {
                                                        "contentTransfer": {
                                                            "transferMode": "Chunked"
                                                        }
                                                    }
                                                }
                                            },
                                            "else": {
                                                "actions": {}
                                            },
                                            "expression": {
                                                "and": [
                                                    {
                                                        "equals": [
                                                            "@outputs('current_hostname')",
                                                            "@items('For_each_Device_Info')?['hostname']"
                                                        ]
                                                    }
                                                ]
                                            },
                                            "type": "If"
                                        }
                                    },
                                    "runAfter": {
                                        "Parse_JSON_HTTP-GET-_Get_Decive_Info_By_ID": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                },
                                "current_hostname": {
                                    "type": "Compose",
                                    "inputs": "@items('For_each')"
                                }
                            },
                            "runAfter": {
                                "Call_OrchestatorPart_CrowdStrike_Auth_Playbook": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Response": {
                            "runAfter": {
                                "For_each": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "statusCode": 200,
                                "body": {
                                    "message": "devices isolated succesfully"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {}
                    }
                }
            }
        }
    ]
}