template_automation/out/OrchestatorPart_Sophos_Get_Recent_Alert_Info_Playbook.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "workflows_OrchestatorPart_Sophos_Get_Recent_Alert_Info_Playbook_name": {
      "defaultValue": "OrchestatorPart_Sophos_Get_Recent_Alert_Info_Playbook",
      "type": "String"
    },
    "workflows_OrchestatorPart_Sophos_Auth_Playbook_externalid": {
      "defaultValue": "/subscriptions/a7be9652-e6e6-4284-b1b2-14b4079f777d/resourceGroups/MSSP_Sentinel_Desarollo_ResourceGroup/providers/Microsoft.Logic/workflows/OrchestatorPart_Sophos_Auth_Playbook",
      "type": "String"
    }
  },
  "variables": {
    "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('workflows_OrchestatorPart_Sophos_Get_Recent_Alert_Info_Playbook_name'))]",
    "var_workflows_OrchestatorPart_Sophos_Auth_Playbook_externalid": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name ,'/providers/Microsoft.Logic/workflows/', parameters('workflows_OrchestatorPart_Sophos_Auth_Playbook_externalid'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('workflows_OrchestatorPart_Sophos_Get_Recent_Alert_Info_Playbook_name')]",
      "location": "westeurope",
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "workflows_OrchestatorPart_Sophos_Get_Recent_Alert_Info_Playbook_name": {
              "type": "String",
              "defaultValue": "[parameters('workflows_OrchestatorPart_Sophos_Get_Recent_Alert_Info_Playbook_name')]"
            },
            "workflows_OrchestatorPart_Sophos_Auth_Playbook_externalid": {
              "type": "String",
              "defaultValue": "[variables('var_workflows_OrchestatorPart_Sophos_Auth_Playbook_externalid')]"
            }
          },
          "triggers": {
            "When_an_HTTP_request_is_received": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hostnames": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "armID": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "actions": {
            "For_each_Hostanme_in_Entity": {
              "foreach": "@triggerBody()?['hostnames']",
              "actions": {
                "For_each_Alert_in_Get_All_Alerts": {
                  "foreach": "@body('Parse_JSON_Get_All_Alerts')?['items']",
                  "actions": {
                    "Condition": {
                      "actions": {
                        "Append_to_Summary": {
                          "type": "AppendToStringVariable",
                          "inputs": {
                            "name": "Summary",
                            "value": "\n<h2>INFORMACIÓN DE LA ALERTA @{body('Parse_JSON_Current_Alert')?['description']}:</h2>\n<b>ID:</b> @{body('Parse_JSON_Current_Alert')?['id']}<br>\n<b>Categoría:</b> @{body('Parse_JSON_Current_Alert')?['category']}<br>\n<b>Descripción:</b> @{body('Parse_JSON_Current_Alert')?['description']}<br>\n<b>Producto:</b> @{body('Parse_JSON_Current_Alert')?['product']}<br>\n<b>Tipo:</b> @{body('Parse_JSON_Current_Alert')?['type']}<br>\n<b>Severidad:</b> @{body('Parse_JSON_Current_Alert')?['severity']}<br>\n<b>Fecha y hora (raisedAt):</b> @{body('Parse_JSON_Current_Alert')?['raisedAt']}<br>\n<b>Acciones permitidas:</b> @{body('Parse_JSON_Current_Alert')?['allowedActions']}<br>\n<b>GroupKey:</b> @{body('Parse_JSON_Current_Alert')?['groupKey']}<br>\n\n<h3>AGENTE GESTIONADO (managedAgent):</h3>\n<b>ID:</b> @{body('Parse_JSON_Current_Alert')?['managedAgent']?['id']}<br>\n<b>Tipo:</b> @{body('Parse_JSON_Current_Alert')?['type']}<br>\n<b>Nombre:</b> @{body('Parse_JSON_Current_Alert')?['person']?['name']}<br>\n\n<h3>PERSONA ASOCIADA:</h3>\n<b>ID:</b>  @{body('Parse_JSON_Current_Alert')?['person']?['id']}<br>\n<b>Nombre:</b> @{body('Parse_JSON_Current_Alert')?['person']?['name']}<br>\n\n<h3>TENANT (SOPHOS):</h3>\n<b>ID:</b> @{body('Parse_JSON_Current_Alert')?['tenant']?['id']}<br>\n<b>Nombre:</b> @{body('Parse_JSON_Current_Alert')?['tenant']?['name']}<br>\n<b>Región de datos:</b> @{body('Parse_JSON_Current_Alert')?['tenant']?['dataRegion']}<br>"
                          }
                        }
                      },
                      "runAfter": {
                        "Parse_JSON_Current_Alert": [
                          "Succeeded"
                        ]
                      },
                      "else": {
                        "actions": {}
                      },
                      "expression": {
                        "and": [
                          {
                            "equals": [
                              "@body('Parse_JSON_Current_Alert')?['managedAgent']?['name']",
                              "@items('For_each_Hostanme_in_Entity')"
                            ]
                          }
                        ]
                      },
                      "type": "If"
                    },
                    "Parse_JSON_Current_Alert": {
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@items('For_each_Alert_in_Get_All_Alerts')",
                        "schema": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "allowedActions": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "category": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            },
                            "groupKey": {
                              "type": "string"
                            },
                            "managedAgent": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                }
                              }
                            },
                            "person": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                }
                              }
                            },
                            "product": {
                              "type": "string"
                            },
                            "raisedAt": {
                              "type": "string"
                            },
                            "severity": {
                              "type": "string"
                            },
                            "tenant": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "dataRegion": {
                                  "type": "string"
                                }
                              }
                            },
                            "type": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  },
                  "type": "Foreach",
                  "runtimeConfiguration": {
                    "concurrency": {
                      "repetitions": 1
                    }
                  }
                }
              },
              "runAfter": {
                "Summary": [
                  "Succeeded"
                ]
              },
              "type": "Foreach",
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 1
                }
              }
            },
            "HTTP_GET_All_Alerts": {
              "runAfter": {
                "Parse_OrchestatorPart_Sophos_Auth_Playbook": [
                  "Succeeded"
                ]
              },
              "type": "Http",
              "inputs": {
                "uri": "@{body('Parse_OrchestatorPart_Sophos_Auth_Playbook')?['TenantRegion']}/common/v1/alerts?from=@{formatDateTime(addHours(utcNow(), -24), 'yyyy-MM-ddTHH:mm:ss.000Z')\r\n}&to=@{formatDateTime(utcNow(), 'yyyy-MM-ddTHH:mm:ss.000Z')\r\n}&sort=raisedAt:desc",
                "method": "GET",
                "headers": {
                  "X-Tenant-ID": "@{body('Parse_OrchestatorPart_Sophos_Auth_Playbook')?['TenantID']}",
                  "Authorization": "Bearer @{body('Parse_OrchestatorPart_Sophos_Auth_Playbook')?['AccessToken']}",
                  "Accept": "application/json"
                }
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Parse_JSON_Get_All_Alerts": {
              "runAfter": {
                "HTTP_GET_All_Alerts": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('HTTP_GET_All_Alerts')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "allowedActions": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "category": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "groupKey": {
                            "type": "string"
                          },
                          "managedAgent": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            }
                          },
                          "person": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            }
                          },
                          "product": {
                            "type": "string"
                          },
                          "raisedAt": {
                            "type": "string"
                          },
                          "severity": {
                            "type": "string"
                          },
                          "tenant": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "dataRegion": {
                                "type": "string"
                              }
                            }
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "allowedActions",
                          "category",
                          "description",
                          "groupKey",
                          "managedAgent",
                          "person",
                          "product",
                          "raisedAt",
                          "severity",
                          "tenant",
                          "type"
                        ]
                      }
                    },
                    "pages": {
                      "type": "object",
                      "properties": {
                        "size": {
                          "type": "integer"
                        },
                        "maxSize": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            },
            "Summary": {
              "runAfter": {
                "Parse_JSON_Get_All_Alerts": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "Summary",
                    "type": "string"
                  }
                ]
              }
            },
            "Condition_1": {
              "actions": {
                "Agregar_un_comentario_al_incidente_(V3)-copy": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                      }
                    },
                    "method": "post",
                    "body": {
                      "incidentArmId": "@triggerBody()?['armID']",
                      "message": "<p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">No hay información en las últimas 24h</strong></b></p>"
                    },
                    "path": "/Incidents/Comment"
                  }
                }
              },
              "runAfter": {
                "For_each_Hostanme_in_Entity": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Agregar_un_comentario_al_incidente_(V3)": {
                    "type": "ApiConnection",
                    "inputs": {
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                      },
                      "method": "post",
                      "body": {
                        "incidentArmId": "@triggerBody()?['armID']",
                        "message": "<p class=\"editor-paragraph\">@{variables('Summary')}</p><br>"
                      },
                      "path": "/Incidents/Comment"
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@length(variables('Summary'))",
                      0
                    ]
                  }
                ]
              },
              "type": "If"
            },
            "OrchestatorPart_Sophos_Auth_Playbook": {
              "runAfter": {},
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflow": {
                    "id": "[variables('var_workflows_OrchestatorPart_Sophos_Auth_Playbook_externalid')]"
                  },
                  "triggerName": "When_an_HTTP_request_is_received"
                }
              }
            },
            "Parse_OrchestatorPart_Sophos_Auth_Playbook": {
              "runAfter": {
                "OrchestatorPart_Sophos_Auth_Playbook": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('OrchestatorPart_Sophos_Auth_Playbook')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "TenantRegion": {
                      "type": "string"
                    },
                    "TenantID": {
                      "type": "string"
                    },
                    "AccessToken": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "Response": {
              "runAfter": {
                "Condition_1": [
                  "Succeeded"
                ]
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "message": "comment posted"
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                "connectionName": "[variables('AzureSentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]"
      ]
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('AzureSentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('AzureSentinelConnectionName')]",
        "customParameterValues": {},
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
        }
      }
    }
  ]
}