Plantillas AD/output/OrchestatorPart_AD_Change_Password_Playbook.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "workflows_OrchestatorPart_AD_Change_Password_Playbook_name": {
      "defaultValue": "BORRAR",
      "type": "String"
    },
    "workflows_OrchestatorPart_AD_Auth_Playbook_externalid": {
      "defaultValue": "BORRAR",
      "type": "String"
    }
  },
  "variables": {
    "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('workflows_OrchestatorPart_AD_Change_Password_Playbook_name'))]",
    "var_workflows_OrchestatorPart_AD_Auth_Playbook_externalid": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name ,'/providers/Microsoft.Logic/workflows/', parameters('workflows_OrchestatorPart_AD_Auth_Playbook_externalid'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('workflows_OrchestatorPart_AD_Change_Password_Playbook_name')]",
      "location": "westeurope",
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "workflows_OrchestatorPart_AD_Change_Password_Playbook_name": {
              "type": "String",
              "defaultValue": "[parameters('workflows_OrchestatorPart_AD_Change_Password_Playbook_name')]"
            },
            "workflows_OrchestatorPart_AD_Auth_Playbook_externalid": {
              "type": "String",
              "defaultValue": "[variables('var_workflows_OrchestatorPart_AD_Auth_Playbook_externalid')]"
            },
            "$connections": {
              "type": "Object",
              "defaultValue": {}
            }
          },
          "triggers": {
            "Manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "actions": {
            "OrchestatorPart_AD_Auth_Playbook": {
              "runAfter": {},
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflow": {
                    "id": "[variables('var_workflows_OrchestatorPart_AD_Auth_Playbook_externalid')]"
                  },
                  "triggerName": "Manual"
                }
              }
            },
            "Parse_JSON_Auth_token": {
              "runAfter": {
                "OrchestatorPart_AD_Auth_Playbook": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('OrchestatorPart_AD_Auth_Playbook')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "Access_token": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "Response_Error_auth": {
              "runAfter": {
                "OrchestatorPart_AD_Auth_Playbook": [
                  "TimedOut",
                  "Failed"
                ]
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 400,
                "body": "@body('OrchestatorPart_AD_Auth_Playbook')"
              }
            },
            "HTTP_runbook_Post": {
              "runAfter": {
                "Parse_JSON_Auth_token": [
                  "Succeeded"
                ]
              },
              "type": "Http",
              "inputs": {
                "uri": "https://2ec893b1-8843-42c6-a27d-efdc08f782ea.webhook.we.azure-automation.net/webhooks?token=JpjxBMMsMxVRWS56W6TzAiw33JnTI3anSZQkZRYI6Dw%3d",
                "method": "POST",
                "headers": {
                  "Content-Type": "application/json"
                },
                "body": {
                  "users": "@triggerBody()?['users']"
                }
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Parse_JSON_Jobid": {
              "runAfter": {
                "HTTP_runbook_Post": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('HTTP_runbook_Post')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "JobID": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "Response_1": {
              "runAfter": {
                "HTTP_runbook_Post": [
                  "TimedOut",
                  "Failed"
                ]
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 400
              }
            },
            "HTTP_Get_jobid_status_output": {
              "runAfter": {
                "Until": [
                  "Succeeded"
                ]
              },
              "type": "Http",
              "inputs": {
                "uri": "https://management.azure.com/subscriptions/a7be9652-e6e6-4284-b1b2-14b4079f777d/resourceGroups/MSSP_Orchestator_Runbooks_ResourceGroup/providers/Microsoft.OrchestatorPart/automationAccounts/MSSP-Runbooks-OrchestatorPart/jobs/@{first(body('Parse_JSON_Jobid')?['JobID'])}/output??api-version=2024-10-23",
                "method": "GET",
                "headers": {
                  "Authentication": "@{body('Parse_JSON_Auth_token')?['Access_token']}"
                }
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Response_2": {
              "runAfter": {
                "HTTP_Get_jobid_status_output": [
                  "Succeeded"
                ]
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 200,
                "body": "@body('HTTP_Get_jobid_status_output')"
              }
            },
            "Until": {
              "actions": {
                "Delay_30s": {
                  "type": "Wait",
                  "inputs": {
                    "interval": {
                      "count": 30,
                      "unit": "Second"
                    }
                  }
                },
                "HTTP_GET_Job_ID_Status": {
                  "runAfter": {
                    "Delay_30s": [
                      "Succeeded"
                    ]
                  },
                  "type": "Http",
                  "inputs": {
                    "uri": "https://management.azure.com/subscriptions/a7be9652-e6e6-4284-b1b2-14b4079f777d/resourceGroups/MSSP_Orchestator_Runbooks_ResourceGroup/providers/Microsoft.OrchestatorPart/automationAccounts/MSSP-Runbooks-OrchestatorPart/jobs/@{first(body('Parse_JSON_Jobid')?['JobID'])}?api-version=2024-10-23",
                    "method": "GET",
                    "headers": {
                      "Authentication": "@{body('Parse_JSON_Auth_token')?['Access_token']}"
                    }
                  },
                  "runtimeConfiguration": {
                    "contentTransfer": {
                      "transferMode": "Chunked"
                    }
                  }
                }
              },
              "runAfter": {
                "Parse_JSON_Jobid": [
                  "Succeeded"
                ]
              },
              "expression": "@equals(outputs('HTTP_GET_Job_ID_Status')?['statusCode'], 200)",
              "limit": {
                "count": 10,
                "timeout": "PT5M"
              },
              "type": "Until"
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                "connectionName": "[variables('AzureSentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]"
      ]
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('AzureSentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('AzureSentinelConnectionName')]",
        "customParameterValues": {},
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
        }
      }
    }
  ]
}