API_parser_usernames/Client_Action_API_Parser_Incident_Playbook.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_incident_API_Parser_name": {
            "defaultValue": "incident_API_Parser",
            "type": "String"
        },
        "workflows_API_parser_externalid": {
            "defaultValue": "/subscriptions/a7be9652-e6e6-4284-b1b2-14b4079f777d/resourceGroups/MSSP_Sentinel_Desarollo_ResourceGroup/providers/Microsoft.Logic/workflows/API_parser",
            "type": "String"
        },
        "connections_azuresentinel_incident_API_Parser_externalid": {
            "defaultValue": "/subscriptions/a7be9652-e6e6-4284-b1b2-14b4079f777d/resourceGroups/MSSP_Sentinel_Desarollo_ResourceGroup/providers/Microsoft.Web/connections/azuresentinel-incident_API_Parser",
            "type": "String"
        },
        "connections_azuresentinel_5_externalid": {
            "defaultValue": "/subscriptions/a7be9652-e6e6-4284-b1b2-14b4079f777d/resourceGroups/MSSP_Sentinel_Desarollo_ResourceGroup/providers/Microsoft.Web/connections/azuresentinel-5",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_incident_API_Parser_name')]",
            "location": "westeurope",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_incident": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "Initialize_Usernames": {
                            "runAfter": {
                                "Entidades:_obtener_cuentas": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Usernames",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "Entidades:_obtener_cuentas": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel-3']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "path": "/entities/account"
                            }
                        },
                        "For_each_username_in_alert_body-copy": {
                            "foreach": "@body('Entidades:_obtener_cuentas')?['Accounts']",
                            "actions": {
                                "Append_to_array_variable": {
                                    "runAfter": {
                                        "Parse_JSON": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "AppendToArrayVariable",
                                    "inputs": {
                                        "name": "Usernames",
                                        "value": "@body('Parse_JSON')?['Name']"
                                    }
                                },
                                "Parse_JSON": {
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@items('For_each_username_in_alert_body-copy')",
                                        "schema": {
                                            "type": "object",
                                            "properties": {
                                                "accountName": {
                                                    "type": "string"
                                                },
                                                "isDomainJoined": {
                                                    "type": "boolean"
                                                },
                                                "friendlyName": {
                                                    "type": "string"
                                                },
                                                "Type": {
                                                    "type": "string"
                                                },
                                                "Name": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_Usernames": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "API_parser": {
                            "runAfter": {
                                "For_each_username_in_alert_body-copy": [
                                    "Succeeded"
                                ]
                            },
                            "limit": {
                                "timeout": "PT5M"
                            },
                            "type": "Workflow",
                            "inputs": {
                                "host": {
                                    "workflow": {
                                        "id": "[parameters('workflows_API_parser_externalid')]"
                                    },
                                    "triggerName": "Manual"
                                },
                                "body": "@variables('Usernames')"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "id": "/subscriptions/a7be9652-e6e6-4284-b1b2-14b4079f777d/providers/Microsoft.Web/locations/westeurope/managedApis/azuresentinel",
                                "connectionId": "[parameters('connections_azuresentinel_incident_API_Parser_externalid')]",
                                "connectionName": "[concat('azuresentinel-', parameters('workflows_incident_API_Parser_name'))]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "azuresentinel-3": {
                                "id": "/subscriptions/a7be9652-e6e6-4284-b1b2-14b4079f777d/providers/Microsoft.Web/locations/westeurope/managedApis/azuresentinel",
                                "connectionId": "[parameters('connections_azuresentinel_5_externalid')]",
                                "connectionName": "azuresentinel-5",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    ]
}