API_parser_usernames/Cliente_Action_API_Parser_Alert_Playbook.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_API_parser_2_name": {
            "defaultValue": "API_parser_2",
            "type": "string"
        },
        "workflows_API_parser_externalid": {
            "defaultValue": "/subscriptions/a7be9652-e6e6-4284-b1b2-14b4079f777d/resourceGroups/MSSP_Sentinel_Desarollo_ResourceGroup/providers/Microsoft.Logic/workflows/API_parser",
            "type": "string"
        },
        "connections_azuresentinel_API_parser_2_externalid": {
            "defaultValue": "/subscriptions/a7be9652-e6e6-4284-b1b2-14b4079f777d/resourceGroups/MSSP_Sentinel_Desarollo_ResourceGroup/providers/Microsoft.Web/connections/azuresentinel-API_parser_2",
            "type": "string"
        },
        "connections_azuresentinel_4_externalid": {
            "defaultValue": "/subscriptions/a7be9652-e6e6-4284-b1b2-14b4079f777d/resourceGroups/MSSP_Sentinel_Desarollo_ResourceGroup/providers/Microsoft.Web/connections/azuresentinel-4",
            "type": "string"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_API_parser_2_name')]",
            "location": "westeurope",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_alert": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "path": "/subscribe"
                            }
                        }
                    },
                    "actions": {
                        "API_parser": {
                            "runAfter": {
                                "For_each_username_in_alert_body": [
                                    "Succeeded"
                                ]
                            },
                            "limit": {
                                "timeout": "PT5M"
                            },
                            "type": "Workflow",
                            "inputs": {
                                "host": {
                                    "workflow": {
                                        "id": "[parameters('workflows_API_parser_externalid')]"
                                    },
                                    "triggerName": "Manual"
                                },
                                "body": "@variables('Usernames')"
                            }
                        },
                        "For_each_username_in_alert_body": {
                            "foreach": "@body('Entidades:_obtener_cuentas')?['Accounts']",
                            "actions": {
                                "Append_to_array_variable": {
                                    "runAfter": {
                                        "Parse_JSON": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "AppendToArrayVariable",
                                    "inputs": {
                                        "name": "Usernames",
                                        "value": "@body('Parse_JSON')?['Name']"
                                    }
                                },
                                "Parse_JSON": {
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@items('For_each_username_in_alert_body')",
                                        "schema": {
                                            "type": "object",
                                            "properties": {
                                                "$id": {
                                                    "type": "string"
                                                },
                                                "Name": {
                                                    "type": "string"
                                                },
                                                "IsDomainJoined": {
                                                    "type": "boolean"
                                                },
                                                "Id": {
                                                    "type": "string"
                                                },
                                                "PartitionKey": {
                                                    "type": "string"
                                                },
                                                "Scope": {
                                                    "type": "string"
                                                },
                                                "Type": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Usernames": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Usernames": {
                            "runAfter": {
                                "Entidades:_obtener_cuentas": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Usernames",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "Entidades:_obtener_cuentas": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": "@triggerBody()?['Entities']",
                                "path": "/entities/account"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "id": "/subscriptions/a7be9652-e6e6-4284-b1b2-14b4079f777d/providers/Microsoft.Web/locations/westeurope/managedApis/azuresentinel",
                                "connectionId": "[parameters('connections_azuresentinel_API_parser_2_externalid')]",
                                "connectionName": "[concat('azuresentinel-', parameters('workflows_API_parser_2_name'))]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "azuresentinel-1": {
                                "id": "/subscriptions/a7be9652-e6e6-4284-b1b2-14b4079f777d/providers/Microsoft.Web/locations/westeurope/managedApis/azuresentinel",
                                "connectionId": "[parameters('connections_azuresentinel_4_externalid')]",
                                "connectionName": "azuresentinel-4",
                                "connectionProperties": {}
                            }
                        }
                    }
                }
            }
        }
    ]
}