Sophos/output/Action_Sophos_Device_Isolation_Incident_Playbook.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "workflows_Action_Sophos_Device_Isolation_Incident_Playbook_name": {
      "defaultValue": "BORRAR",
      "type": "string"
    },
    "workflows_OrchestatorPart_Sophos_Device_Isolation_Playbook_externalid": {
      "defaultValue": "BORRAR",
      "type": "string"
    }
  },
  "variables": {
    "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('workflows_Action_Sophos_Device_Isolation_Incident_Playbook_name'))]",
    "var_workflows_OrchestatorPart_Sophos_Device_Isolation_Playbook_externalid": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name ,'/providers/Microsoft.Logic/workflows/', parameters('workflows_OrchestatorPart_Sophos_Device_Isolation_Playbook_externalid'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('workflows_Action_Sophos_Device_Isolation_Incident_Playbook_name')]",
      "location": "westeurope",
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "workflows_Action_Sophos_Device_Isolation_Incident_Playbook_name": {
              "type": "String",
              "defaultValue": "[parameters('workflows_Action_Sophos_Device_Isolation_Incident_Playbook_name')]"
            },
            "workflows_OrchestatorPart_Sophos_Device_Isolation_Playbook_externalid": {
              "type": "String",
              "defaultValue": "[variables('var_workflows_OrchestatorPart_Sophos_Device_Isolation_Playbook_externalid')]"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@listCallbackUrl()"
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Parse_relatedEntities": {
              "runAfter": {},
              "type": "ParseJson",
              "inputs": {
                "content": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "kind": {
                        "type": "string"
                      },
                      "properties": {
                        "type": "object",
                        "properties": {
                          "hostName": {
                            "type": "string"
                          },
                          "friendlyName": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "Filter_host_entities": {
              "runAfter": {
                "Parse_relatedEntities": [
                  "Succeeded"
                ]
              },
              "type": "Query",
              "inputs": {
                "from": "@body('Parse_relatedEntities')",
                "where": "@equals(item()?['kind'], 'Host')"
              }
            },
            "Select_hostnames": {
              "runAfter": {
                "Filter_host_entities": [
                  "Succeeded"
                ]
              },
              "type": "Select",
              "inputs": {
                "from": "@body('Filter_host_entities')",
                "select": "@item()?['properties']?['hostName']"
              }
            },
            "Entidades:_obtener_hosts": {
              "runAfter": {
                "Select_hostnames": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "body": "@body('Select_hostnames')",
                "path": "/entities/host"
              }
            },
            "OrchestatorPart_Sophos_Device_Isolation_Playbook": {
              "runAfter": {
                "Entidades:_obtener_hosts": [
                  "Succeeded"
                ]
              },
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflow": {
                    "id": "[variables('var_workflows_OrchestatorPart_Sophos_Device_Isolation_Playbook_externalid')]"
                  },
                  "triggerName": "When_an_HTTP_request_is_received"
                },
                "body": {
                  "hostnames": "@body('Select_hostnames')"
                }
              }
            },
            "Agregar_un_comentario_al_incidente_(V3)": {
              "runAfter": {
                "OrchestatorPart_Sophos_Device_Isolation_Playbook": [
                  "Succeeded",
                  "TimedOut",
                  "Skipped",
                  "Failed"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "body": {
                  "incidentArmId": "@triggerBody()?['object']?['id']",
                  "message": "<p class=\"editor-paragraph\">@{body('OrchestatorPart_Sophos_Device_Isolation_Playbook')?['message']}</p>"
                },
                "path": "/Incidents/Comment"
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "type": "Object",
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                "connectionName": "[variables('AzureSentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]"
      ]
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('AzureSentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('AzureSentinelConnectionName')]",
        "customParameterValues": {},
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
        }
      }
    }
  ]
}