Sophos/output/Enrich_Sophos_Get_Recent_Alert_Info_Incident_Playbook.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "workflows_Enrich_Sophos_Get_Recent_Alert_Info_Incident_Playbook_name": {
      "defaultValue": "BORRAR",
      "type": "String"
    },
    "workflows_OrchestatorPart_Sophos_Get_Recent_Alert_Info_Playbook_externalid": {
      "defaultValue": "BORRAR",
      "type": "String"
    }
  },
  "variables": {
    "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('workflows_Enrich_Sophos_Get_Recent_Alert_Info_Incident_Playbook_name'))]",
    "var_workflows_OrchestatorPart_Sophos_Get_Recent_Alert_Info_Playbook_externalid": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name ,'/providers/Microsoft.Logic/workflows/', parameters('workflows_OrchestatorPart_Sophos_Get_Recent_Alert_Info_Playbook_externalid'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('workflows_Enrich_Sophos_Get_Recent_Alert_Info_Incident_Playbook_name')]",
      "location": "westeurope",
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "workflows_Enrich_Sophos_Get_Recent_Alert_Info_Incident_Playbook_name": {
              "type": "String",
              "defaultValue": "[parameters('workflows_Enrich_Sophos_Get_Recent_Alert_Info_Incident_Playbook_name')]"
            },
            "workflows_OrchestatorPart_Sophos_Get_Recent_Alert_Info_Playbook_externalid": {
              "type": "String",
              "defaultValue": "[variables('var_workflows_OrchestatorPart_Sophos_Get_Recent_Alert_Info_Playbook_externalid')]"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "OrchestatorPart_Sophos_Get_Recent_Alert_Info_Playbook": {
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflow": {
                    "id": "/subscriptions/2ba58427-900f-422f-9a83-2552a683d17f/resourceGroups/Blueteam/providers/Microsoft.Logic/workflows/velor_test_OrchestatorPart_Sophos_Get_Recent_Alert_Info_Playbook"
                  },
                  "triggerName": "When_an_HTTP_request_is_received"
                },
                "body": {
                  "hostnames": "@variables('hostnames')",
                  "armID": "@triggerBody()?['object']?['id']"
                }
              },
              "runAfter": {
                "For_each": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_variables_hostnames": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "hostnames",
                    "type": "array"
                  }
                ]
              },
              "runAfter": {}
            },
            "For_each": {
              "type": "Foreach",
              "foreach": "@body('Entidades:_obtener_hosts')?['Hosts']",
              "actions": {
                "Append_to_array_variable": {
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "hostnames",
                    "value": "@items('For_each')?['hostname']"
                  }
                }
              },
              "runAfter": {
                "Entidades:_obtener_hosts": [
                  "SUCCEEDED"
                ]
              }
            },
            "Entidades:_obtener_hosts": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                "path": "/entities/host"
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                "connectionName": "[variables('AzureSentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]"
      ]
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('AzureSentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('AzureSentinelConnectionName')]",
        "customParameterValues": {},
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
        }
      }
    }
  ]
}