AD/output/Enrich_AD_Host_Info_Incident_Playbook.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "workflows_Enrich_AD_Host_Info_Incident_Playbook_name": {
      "defaultValue": "BORRAR",
      "type": "String"
    },
    "workflows_OrchestatorPart_AD_Host_Info_Incident_Playbook_externalid": {
      "defaultValue": "BORRAR",
      "type": "String"
    }
  },
  "variables": {
    "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('workflows_Enrich_AD_Host_Info_Incident_Playbook_name'))]",
    "var_workflows_OrchestatorPart_AD_Host_Info_Incident_Playbook_externalid": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name ,'/providers/Microsoft.Logic/workflows/', parameters('workflows_OrchestatorPart_AD_Host_Info_Incident_Playbook_externalid'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('workflows_Enrich_AD_Host_Info_Incident_Playbook_name')]",
      "location": "westeurope",
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "workflows_Enrich_AD_Host_Info_Incident_Playbook_name": {
              "type": "String",
              "defaultValue": "[parameters('workflows_Enrich_AD_Host_Info_Incident_Playbook_name')]"
            },
            "workflows_OrchestatorPart_AD_Host_Info_Incident_Playbook_externalid": {
              "type": "String",
              "defaultValue": "[variables('var_workflows_OrchestatorPart_AD_Host_Info_Incident_Playbook_externalid')]"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Agregar_un_comentario_al_incidente_(V3)": {
              "runAfter": {
                "OrchestatorPart_AD_Host_Info_Incident_Playbook": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel-2']['connectionId']"
                  }
                },
                "method": "post",
                "body": {
                  "incidentArmId": "@triggerBody()?['object']?['id']",
                  "message": "<p class=\"editor-paragraph\">@{body('OrchestatorPart_AD_Host_Info_Incident_Playbook')}</p>"
                },
                "path": "/Incidents/Comment"
              }
            },
            "Entidades:_obtener_hosts": {
              "runAfter": {
                "Initialize_variables": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                  }
                },
                "method": "post",
                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                "path": "/entities/host"
              }
            },
            "For_each": {
              "foreach": "@body('Entidades:_obtener_hosts')?['Hosts']",
              "actions": {
                "Parse_JSON": {
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@items('For_each')",
                    "schema": {
                      "type": "object",
                      "properties": {
                        "hostname": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "Append_to_array_variable": {
                  "runAfter": {
                    "Parse_JSON": [
                      "Succeeded"
                    ]
                  },
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "Hosts",
                    "value": "@body('Parse_JSON')?['hostname']"
                  }
                }
              },
              "runAfter": {
                "Entidades:_obtener_hosts": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Initialize_variables": {
              "runAfter": {},
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "hosts",
                    "type": "array"
                  }
                ]
              }
            },
            "OrchestatorPart_AD_Host_Info_Incident_Playbook": {
              "runAfter": {
                "For_each": [
                  "Succeeded"
                ]
              },
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflow": {
                    "id": "[variables('var_workflows_OrchestatorPart_AD_Host_Info_Incident_Playbook_externalid')]"
                  },
                  "triggerName": "Manual"
                },
                "body": {
                  "hosts": "@variables('hosts')"
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                "connectionName": "[variables('AzureSentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]"
      ]
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('AzureSentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('AzureSentinelConnectionName')]",
        "customParameterValues": {},
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
        }
      }
    }
  ]
}