AD/output/OrchestatorPart_AD_Auth_Playbook.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "workflows_OrchestatorPart_AD_Auth_Playbook_name": {
      "defaultValue": "BORRAR",
      "type": "String"
    },
    "keyvault_Name": {
      "type": "String",
      "defaultValue": "BORRAR_keyvault_Name"
    },
    "keyvault_ClientID": {
      "defaultValue": "Azure-AD-ClientID",
      "type": "String"
    },
    "keyvault_SecretID": {
      "defaultValue": "Azure-AD-SecretID",
      "type": "String"
    },
    "keyvault_TenantID": {
      "defaultValue": "Azure-AD-TenantID",
      "type": "String"
    }
  },
  "variables": {
    "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('workflows_OrchestatorPart_AD_Auth_Playbook_name'))]",
    "keyvault_Connection_Name": "[concat('keyvault-', parameters('workflows_OrchestatorPart_AD_Auth_Playbook_name'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('workflows_OrchestatorPart_AD_Auth_Playbook_name')]",
      "location": "westeurope",
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "workflows_OrchestatorPart_AD_Auth_Playbook_name": {
              "type": "String",
              "defaultValue": "[parameters('workflows_OrchestatorPart_AD_Auth_Playbook_name')]"
            },
            "keyvault_Name": {
              "type": "String",
              "defaultValue": "[parameters('keyvault_Name')]"
            },
            "keyvault_ClientID": {
              "type": "String",
              "defaultValue": "[parameters('keyvault_ClientID')]"
            },
            "keyvault_SecretID": {
              "type": "String",
              "defaultValue": "[parameters('keyvault_SecretID')]"
            },
            "keyvault_TenantID": {
              "type": "String",
              "defaultValue": "[parameters('keyvault_TenantID')]"
            }
          },
          "triggers": {
            "Manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "actions": {
            "Obtener_secreto_ClientID": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['keyvault']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/secrets/@{encodeURIComponent(parameters('keyvault_ClientID'))}/value"
              },
              "runtimeConfiguration": {
                "secureData": {
                  "properties": [
                    "inputs",
                    "outputs"
                  ]
                }
              }
            },
            "Obtener_secreto_SecretID": {
              "runAfter": {
                "Obtener_secreto_ClientID": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['keyvault']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/secrets/@{encodeURIComponent(parameters('keyvault_SecretID'))}/value"
              },
              "runtimeConfiguration": {
                "secureData": {
                  "properties": [
                    "inputs",
                    "outputs"
                  ]
                }
              }
            },
            "Obtener_secreto_TenantID": {
              "runAfter": {
                "Obtener_secreto_SecretID": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['keyvault']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/secrets/@{encodeURIComponent(parameters('keyvault_TenantID'))}/value"
              },
              "runtimeConfiguration": {
                "secureData": {
                  "properties": [
                    "inputs",
                    "outputs"
                  ]
                }
              }
            },
            "Response": {
              "runAfter": {
                "Parse_JSON_Token": [
                  "Succeeded"
                ]
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "AccessToken": "Bearer @{body('Parse_JSON_Token')?['access_token']}"
                }
              }
            },
            "HTTP_POST_Token": {
              "runAfter": {
                "Obtener_secreto_TenantID": [
                  "Succeeded"
                ]
              },
              "type": "Http",
              "inputs": {
                "uri": "https://login.microsoftonline.com/@{body('Obtener_secreto_TenantID')?['value']}/oauth2/token",
                "method": "POST",
                "headers": {
                  "Content-Type": "application/x-www-form-urlencoded"
                },
                "body": "client_id=@{body('Obtener_secreto_ClientID')?['value']}&client_secret=@{body('Obtener_secreto_SecretID')?['value']}&grant_type=client_credentials&resource=https://management.azure.com/\n"
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Parse_JSON_Token": {
              "runAfter": {
                "HTTP_POST_Token": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('HTTP_POST_Token')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "Response_Error": {
              "runAfter": {
                "HTTP_POST_Token": [
                  "TimedOut",
                  "Failed"
                ]
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 400,
                "body": {
                  "message": "[concat('❌ Playbook ''', parameters('workflows_OrchestatorPart_AD_Auth_Playbook_name'), '  '' falló.\nMotivo: Fallo en auth.\nAcción requerida: Revisión manual')]"
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "keyvault": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/', 'keyvault')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('keyvault_Connection_Name'))]",
                "connectionName": "[variables('keyvault_Connection_Name')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              },
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                "connectionName": "[variables('AzureSentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('keyvault_Connection_Name'))]"
      ]
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('AzureSentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('AzureSentinelConnectionName')]",
        "customParameterValues": {},
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('keyvault_Connection_Name')]",
      "location": "[resourceGroup().location]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/', 'keyvault')]"
        },
        "displayName": "[variables('keyvault_Connection_Name')]",
        "parameterValueType": "Alternative",
        "AlternativeParameterValues": {
          "vaultName": "[parameters('keyvault_Name')]"
        }
      }
    }
  ]
}