AD/output/OrchestatorPart_AD_Unblock_User_Playbook.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "workflows_OrchestatorPart_AD_Unblock_User_Playbook_name": {
      "defaultValue": "BORRAR",
      "type": "String"
    },
    "workflows_OrchestatorPart_AD_Auth_Playbook_externalid": {
      "defaultValue": "BORRAR",
      "type": "String"
    }
  },
  "variables": {
    "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('workflows_OrchestatorPart_AD_Unblock_User_Playbook_name'))]",
    "var_workflows_OrchestatorPart_AD_Auth_Playbook_externalid": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name ,'/providers/Microsoft.Logic/workflows/', parameters('workflows_OrchestatorPart_AD_Auth_Playbook_externalid'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('workflows_OrchestatorPart_AD_Unblock_User_Playbook_name')]",
      "location": "westeurope",
      "identity": {
        "type": "SystemAssigned"
      },
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "workflows_OrchestatorPart_AD_Unblock_User_Playbook_name": {
              "type": "String",
              "defaultValue": "[parameters('workflows_OrchestatorPart_AD_Unblock_User_Playbook_name')]"
            },
            "workflows_OrchestatorPart_AD_Auth_Playbook_externalid": {
              "type": "String",
              "defaultValue": "[variables('var_workflows_OrchestatorPart_AD_Auth_Playbook_externalid')]"
            },
            "$connections": {
              "type": "Object",
              "defaultValue": {}
            }
          },
          "triggers": {
            "Manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "usuarios": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "actions": {
            "OrchestatorPart_AD_Auth_Playbook": {
              "runAfter": {
                "Initialize_variables": [
                  "Succeeded"
                ]
              },
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflow": {
                    "id": "[variables('var_workflows_OrchestatorPart_AD_Auth_Playbook_externalid')]"
                  },
                  "triggerName": "Manual"
                }
              }
            },
            "Parse_JSON_token": {
              "runAfter": {
                "OrchestatorPart_AD_Auth_Playbook": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('OrchestatorPart_AD_Auth_Playbook')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "AccessToken": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "Response": {
              "runAfter": {
                "OrchestatorPart_AD_Auth_Playbook": [
                  "TimedOut",
                  "Failed"
                ]
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": "@outputs('OrchestatorPart_AD_Auth_Playbook')?['statusCode']",
                "body": "@body('OrchestatorPart_AD_Auth_Playbook')"
              }
            },
            "HTTP_POST_Runbook": {
              "runAfter": {
                "Parse_JSON_token": [
                  "Succeeded"
                ]
              },
              "type": "Http",
              "inputs": {
                "uri": "https://2ec893b1-8843-42c6-a27d-efdc08f782ea.webhook.we.azure-automation.net/webhooks?token=FHkWCIvVxhu0ksFkp8x1cuZY9W5Y1SHmJcW93Ih3kNM%3d",
                "method": "POST",
                "body": {
                  "usuarios": "@triggerBody()?['usuarios']"
                }
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Parse_JSON_POST_Runbook": {
              "runAfter": {
                "HTTP_POST_Runbook": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('HTTP_POST_Runbook')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "JobIds": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            },
            "Until": {
              "actions": {
                "Delay_30s": {
                  "type": "Wait",
                  "inputs": {
                    "interval": {
                      "count": 30,
                      "unit": "Second"
                    }
                  }
                },
                "HTTP_GET_Job_ID_Status": {
                  "runAfter": {
                    "Delay_30s": [
                      "Succeeded"
                    ]
                  },
                  "type": "Http",
                  "inputs": {
                    "uri": "https://management.azure.com/subscriptions/a7be9652-e6e6-4284-b1b2-14b4079f777d/resourceGroups/MSSP_Orchestator_Runbooks_ResourceGroup/providers/Microsoft.OrchestatorPart/automationAccounts/MSSP-Runbooks-OrchestatorPart/jobs/@{first(body('Parse_JSON_POST_Runbook')?['JobIds'])}?api-version=2024-10-23",
                    "method": "GET",
                    "headers": {
                      "Authorization": "@{body('Parse_JSON_token')?['AccessToken']}"
                    },
                    "retryPolicy": {
                      "type": "none"
                    }
                  },
                  "runtimeConfiguration": {
                    "contentTransfer": {
                      "transferMode": "Chunked"
                    }
                  }
                },
                "Append_OK": {
                  "runAfter": {
                    "HTTP_GET_Job_ID_Status": [
                      "Succeeded"
                    ]
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "respuesta_salida",
                    "value": "\\n✅ Se ha lanzado el runbook de desbloqueo de usuario con éxito \\n"
                  }
                },
                "Append_ERROR_GET_Job_ID_Status": {
                  "runAfter": {
                    "HTTP_GET_Job_ID_Status": [
                      "TimedOut",
                      "Failed"
                    ]
                  },
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "respuesta_salida",
                    "value": "[concat('\\n❌ Playbook ''', parameters('workflows_OrchestatorPart_AD_Unblock_User_Playbook_name'), ''' falló.\\nMotivo: Fallo en GET Job ID Status.\\nAcción requerida: Revisión manual\"\\n')]"
                  }
                }
              },
              "runAfter": {
                "Parse_JSON_POST_Runbook": [
                  "Succeeded"
                ]
              },
              "expression": "@or(equals(body('HTTP_GET_Job_ID_Status')?['properties']?['status'], 'Completed'), equals(body('HTTP_GET_Job_ID_Status')?['properties']?['status'], 'Failed'))",
              "limit": {
                "count": 60,
                "timeout": "PT1H"
              },
              "type": "Until"
            },
            "HTTP_GET_Job_Output": {
              "runAfter": {
                "Until": [
                  "Succeeded"
                ]
              },
              "type": "Http",
              "inputs": {
                "uri": "https://management.azure.com/subscriptions/a7be9652-e6e6-4284-b1b2-14b4079f777d/resourceGroups/MSSP_Orchestator_Runbooks_ResourceGroup/providers/Microsoft.OrchestatorPart/automationAccounts/MSSP-Runbooks-OrchestatorPart/jobs/@{first(body('Parse_JSON_POST_Runbook')?['JobIds'])}/output?api-version=2024-10-23",
                "method": "GET",
                "headers": {
                  "Authorization": "@{body('Parse_JSON_token')?['AccessToken']}"
                }
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Response_1": {
              "runAfter": {
                "HTTP_GET_Job_Output": [
                  "Succeeded"
                ]
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "message": "@variables('respuesta_salida')"
                }
              }
            },
            "Initialize_variables": {
              "runAfter": {},
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "respuesta_salida",
                    "type": "string"
                  }
                ]
              }
            },
            "Response_2": {
              "runAfter": {
                "HTTP_GET_Job_Output": [
                  "TimedOut",
                  "Failed"
                ]
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 400,
                "body": {
                  "message": "@variables('respuesta_salida')"
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                "connectionName": "[variables('AzureSentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]"
      ]
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('AzureSentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('AzureSentinelConnectionName')]",
        "customParameterValues": {},
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
        }
      }
    }
  ]
}