master_template_automation/examples/sophos/Cliente_Action_Sophos_Block_Incident_Hashes_Playbook.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_Velorcios_Action_Sophos_Block_Incident_Hashes_Playbook_name": {
            "defaultValue": "Velorcios_Action_Sophos_Block_Incident_Hashes_Playbook",
            "type": "String"
        },
        "workflows_Velorcios_Automation_Sophos_Block_IOC_Playbook_externalid": {
            "defaultValue": "/subscriptions/2ba58427-900f-422f-9a83-2552a683d17f/resourceGroups/Blueteam/providers/Microsoft.Logic/workflows/Velorcios_Automation_Sophos_Block_IOC_Playbook",
            "type": "String"
        },
        "connections_azuresentinel_Velorcios_Action_Sophos_Block_Incident_Hashes_Playbook_externalid": {
            "defaultValue": "/subscriptions/2ba58427-900f-422f-9a83-2552a683d17f/resourceGroups/Blueteam/providers/Microsoft.Web/connections/azuresentinel-Velorcios_Action_Sophos_Block_Incident_Hashes_Playbook",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_Velorcios_Action_Sophos_Block_Incident_Hashes_Playbook_name')]",
            "location": "westeurope",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_incident": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "Entidades:_obtener_FileHashes": {
                            "runAfter": {
                                "Initialize_variables": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "path": "/entities/filehash"
                            }
                        },
                        "Sophos_Block_IOC": {
                            "runAfter": {
                                "For_each": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Workflow",
                            "inputs": {
                                "host": {
                                    "workflow": {
                                        "id": "[parameters('workflows_Velorcios_Automation_Sophos_Block_IOC_Playbook_externalid')]"
                                    },
                                    "triggerName": "manual"
                                },
                                "body": {
                                    "type": "HASH",
                                    "content": "@variables('Hashes')"
                                }
                            }
                        },
                        "Parse_JSON_Hashes": {
                            "runAfter": {
                                "Entidades:_obtener_FileHashes": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('Entidades:_obtener_FileHashes')",
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "Filehashes": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "hashValue": {
                                                        "type": "string"
                                                    },
                                                    "algorithm": {
                                                        "type": "string"
                                                    },
                                                    "friendlyName": {
                                                        "type": "string"
                                                    },
                                                    "Type": {
                                                        "type": "string"
                                                    },
                                                    "Value": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "hashValue",
                                                    "algorithm",
                                                    "friendlyName",
                                                    "Type",
                                                    "Value"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "Initialize_variables": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Hashes",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "For_each": {
                            "foreach": "@body('Parse_JSON_Hashes')?['Filehashes']",
                            "actions": {
                                "Append_to_array_variable": {
                                    "runAfter": {
                                        "Parse_JSON_Current_Hash": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "AppendToArrayVariable",
                                    "inputs": {
                                        "name": "Hashes",
                                        "value": "@body('Parse_JSON_Current_Hash')?['hashValue']"
                                    }
                                },
                                "Parse_JSON_Current_Hash": {
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@items('For_each')",
                                        "schema": {
                                            "type": "object",
                                            "properties": {
                                                "hashValue": {
                                                    "type": "string"
                                                },
                                                "algorithm": {
                                                    "type": "string"
                                                },
                                                "friendlyName": {
                                                    "type": "string"
                                                },
                                                "Type": {
                                                    "type": "string"
                                                },
                                                "Value": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Parse_JSON_Hashes": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[parameters('connections_azuresentinel_Velorcios_Action_Sophos_Block_Incident_Hashes_Playbook_externalid')]",
                                "connectionName": "[concat('azuresentinel-', parameters('workflows_Velorcios_Action_Sophos_Block_Incident_Hashes_Playbook_name'))]",
                                "id": "/subscriptions/2ba58427-900f-422f-9a83-2552a683d17f/providers/Microsoft.Web/locations/westeurope/managedApis/azuresentinel",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    ]
}